FORMAT: 1A
HOST: https://baaz.roshan-ai.ir

# مستندات API باز

باز یک محصول بومی برای جستجو در محتوای فارسی است.

## نکات مهم

- **احراز هویت**: تمام درخواست‌ها باید با هدر `Authorization: Token {token}` ارسال شوند.
- **فرمت زمان**: تمام زمان‌ها در فرمت `YYYY-MM-DD HH:MM:SS` هستند.
- **محدودیت اندازه**: حداكثر اندازه درخواست‌ها ۱۰ مگابایت است.
- **کش**: برخی اندپوینت‌ها مانند stats ممکن است از کش استفاده کنند و نتایج را تا ۵ دقیقه ذخیره کنند.
- **صفحه‌بندی**: برای اندپوینت‌هایی که تعداد زیادی نتیجه برمی‌گردانند، از پارامترهای page و page_size استفاده کنید.
- **محدودیت نرخ**: بیش از ۱۰۰ درخواست در دقیقه منجر به محدودیت موقت دسترسی می‌شود.

## خطاهای عمومی

| کد وضعیت | عنوان خطا | توضیحات |
|---------|----------|---------|
| 400 | Bad Request | پارامترهای درخواست نامعتبر هستند |
| 401 | Unauthorized | توکن احراز هویت نامعتبر یا منقضی شده است |
| 403 | Forbidden | دسترسی به منبع درخواستی مجاز نیست |
| 404 | Not Found | منبع درخواستی یافت نشد |
| 405 | Method Not Allowed | روش HTTP درخواستی برای این اندپوینت پشتیبانی نمی‌شود |
| 429 | Too Many Requests | تعداد درخواست‌ها بیش از حد مجاز است |
| 500 | Internal Server Error | خطای داخلی سرور |
| 503 | Service Unavailable | سرویس موقتاً در دسترس نیست |

# افزودن اسناد به ایندکس [/{index}/index]

این اندپوینت برای افزودن یا به‌روزرسانی دسته‌ای از اسناد در یک ایندکس مشخص استفاده می‌شود.

## مثال [POST]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکسی که اسناد به آن اضافه می‌شوند.

### هدرهای درخواست
*   **Authorization** (رشته، اجباری) - توکن احراز هویت شما به صورت Token {token}.
*   **Content-Type** (رشته، اجباری) - باید application/json باشد.

### بدنه درخواست
بدنه درخواست باید یک آبجکت JSON شامل کلید items باشد:
*   **items** (آرایه، اجباری) - آرایه‌ای از آبجکت‌های سند. هر آبجکت شامل فیلدهای زیر است:
    *   **id** (رشته، اجباری) - شناسه یکتای سند.
    *   **content** (رشته، اجباری) - محتوای اصلی سند که برای جستجو ایندکس می‌شود.
    *   **type** (رشته، اختیاری) - نوع سند. مقدار پیش‌فرض document است.
    *   **url** (رشته، اختیاری) - آدرس سند. مقدار پیش‌فرض "" است.
    *   **title** (رشته، اختیاری) - عنوان سند. مقدار پیش‌فرض null است.
    *   **time** (رشته، اختیاری) - زمان سند با فرمت YYYY-MM-DD HH:MM:SS. مقدار پیش‌فرض زمان فعلی است.
    *   **description** (رشته، اختیاری) - توضیحات سند. مقدار پیش‌فرض "" است.
    *   **labels** (آرایه، اختیاری) - آرایه‌ای از برچسب‌های سند. مقدار پیش‌فرض [] است.
    *   **chunk_size** (عدد صحیح، اختیاری) - اندازه هر قطعه متن (فقط برای اولین آیتم).
    *   **chunk_overlap** (عدد صحیح، اختیاری) - میزان همپوشانی قطعات (فقط برای اولین آیتم).
    *   **embedding_api_url** (رشته، اختیاری) - آدرس API تعبیه (فقط برای اولین آیتم).
    *   **embedding_api_key** (رشته، اختیاری) - کلید API تعبیه (فقط برای اولین آیتم).
    *   **embedding_model** (رشته، اختیاری) - مدل تعبیه (فقط برای اولین آیتم).
    *   **company_name** (آرایه، اختیاری) - نام شرکت‌ها.
    *   **session_number** (آرایه، اختیاری) - شماره جلسه‌ها.
    *   **sender** (آرایه، اختیاری) - فرستنده‌ها.
    *   **recipients** (آرایه، اختیاری) - گیرنده‌ها.
    *   **letter_number** (رشته، اختیاری) - شماره نامه.
    *   **importance** (رشته/عدد صحیح، اختیاری) - میزان اهمیت.

### پاسخ‌ها
*   **200 OK**: عملیات با موفقیت انجام شد.
*   **400 Bad Request**: خطا در فرآیند ایندکس کردن.
*   **401 Unauthorized**: توکن نامعتبر یا منقضی شده است.
*   **500 Internal Server Error**: خطای داخلی سرور.

### پارامترهای پاسخ (200 OK)
*   **ids** (آرایه از رشته‌ها) - آرایه‌ای از شناسه‌های اسناد ایندکس شده.
*   **indexing_results** (آبجکت) - خلاصه‌ای از نتیجه عملیات ایندکس.
    *   **successful** (عدد صحیح) - تعداد اسناد موفق ایندکس شده.
    *   **failed** (عدد صحیح) - تعداد اسناد ناموفق.
    *   **errors** (آرایه) - آرایه‌ای از خطاها (در صورت وجود).

+ Request (application/json)
    + Headers

            Authorization: Token {your_token}
            Content-Type: application/json

    + Body

            {
                "items": [
                    {
                        "id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                        "content": "متن محتوای سند برای ایندکس شدن...",
                        "title": "عنوان نامه"
                    }
                ]
            }

+ Response 200 (application/json)
    + Body

            {
                "ids": ["f2646930-64d7-47cc-93c1-e557777f1c489ad"],
                "indexing_results": {
                    "successful": 1,
                    "failed": 0,
                    "errors": []
                }
            }


# جستجوی معنایی [/{index}/document/semantic_query]

این اندپوینت برای انجام جستجوی معنایی در اسناد استفاده می‌شود.

## مثال [POST]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکسی که جستجو در آن انجام می‌شود.

### هدرهای درخواست
*   **Authorization** (رشته، اجباری) - توکن احراز هویت.
*   **Content-Type** (رشته، اجباری) - باید application/json باشد.

### بدنه درخواست
*   **text** (رشته، اجباری) - متن مورد نظر برای جستجو.
*   **size** (عدد صحیح، اختیاری) - حداکثر تعداد نتایج برگشتی (بین ۱ تا ۱۰۰۰). مقدار پیش‌فرض ۱۰ است.
*   **chunks_per_doc** (عدد صحیح، اختیاری) - تعداد قطعات برای هر سند. مقدار پیش‌فرض ۵ است.
*   **from_date** (رشته، اختیاری) - تاریخ شروع جستجو (YYYY-MM-DD).
*   **to_date** (رشته، اختیاری) - تاریخ پایان جستجو (YYYY-MM-DD).
*   **ids** (آرایه، اختیاری) - آرایه‌ای از شناسه‌های اسناد برای محدود کردن جستجو.
*   **labels** (آرایه، اختیاری) - آرایه‌ای از برچسب‌ها برای فیلتر کردن.
*   **type** (رشته/آرایه، اختیاری) - نوع یا انواع اسناد برای جستجو.
*   **smart_search** (بولین، اختیاری) - فعال‌سازی جستجوی هوشمند. مقدار پیش‌فرض false است.
*   **company_name** (رشته/آرایه، اختیاری) - نام شرکت برای فیلتر کردن.
*   **session_number** (رشته/آرایه، اختیاری) - شماره جلسه برای فیلتر کردن.
*   **sender** (رشته/آرایه، اختیاری) - فرستنده برای فیلتر کردن.
*   **recipients** (رشته/آرایه، اختیاری) - گیرنده‌ها برای فیلتر کردن.
*   **letter_number** (رشته، اختیاری) - شماره نامه برای فیلتر کردن.
*   **description** (رشته، اختیاری) - توضیحات برای فیلتر کردن.
*   **search_fields** (آرایه، اختیاری) - فیلدهایی که باید جستجو شوند. مقدار پیش‌فرض ["content"] است.
*   **mode** (رشته، اختیاری) - حالت جستجو (default یا graphql_raw). مقدار پیش‌فرض "default" است.
*   **graphql** (رشته، اختیاری) - پرس و جوی GraphQL (فقط در حالت graphql_raw).

### پاسخ‌ها
*   **200 OK**: جستجو با موفقیت انجام شد.
*   **400 Bad Request**: پارامتر text ارسال نشده یا JSON نامعتبر است.
*   **401 Unauthorized**: توکن احراز هویت نامعتبر است.
*   **500 Internal Server Error**: خطایی در فرآیند جستجو رخ داده است.

### پارامترهای پاسخ (200 OK)
*   **results** (آرایه) - آرایه‌ای از نتایج جستجو. هر نتیجه یک آبجکت با فیلدهای زیر است:
    *   **document_id** (رشته) - شناسه سند.
    *   **document_title** (رشته) - عنوان سند.
    *   **document_url** (رشته) - آدرس سند.
    *   **document_time** (رشته) - زمان سند.
    *   **document_type** (رشته) - نوع سند.
    *   **document_description** (رشته) - توضیحات سند.
    *   **document_labels** (آرایه) - برچسب‌های سند.
    *   **chunks** (آرایه) - قطعات متنی مرتبط با جستجو که هر کدام شامل text و score هستند.
        *   **text** (رشته) - متن قطعه.
        *   **score** (عدد) - امتیاز تطابق (بین ۰ تا ۱).
*   **total** (عدد صحیح) - تعداد کل نتایج یافت شده.
*   **query_time_ms** (عدد صحیح) - زمان اجرای کوئری به میلی‌ثانیه.

+ Request (application/json)
    + Body

            {
                "text": "۴ فیلتر گردش نام ببر",
                "size": 5
            }

+ Response 200 (application/json)
    + Body

            {
                "results": [
                    {
                        "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                        "document_title": "عنوان نامه",
                        "chunks": [ { "text": "...", "score": 0.92 } ]
                    }
                ],
                "total": 1,
                "query_time_ms": 120
            }


# بررسی وضعیت اسناد [/{index}/document_status]

این اندپوینت برای بررسی وضعیت اسناد در ایندکس استفاده می‌شود.

## مثال [POST]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکس مورد نظر.

### بدنه درخواست
*   **document_urls** (آرایه از رشته‌ها، اجباری) - آرایه‌ای از آدرس‌های اسناد برای بررسی وضعیت.

### پاسخ‌ها
*   **200 OK**: بررسی با موفقیت انجام شد.
*   **400 Bad Request**: بدنه درخواست خالی است یا فیلد document_urls ارسال نشده است.
*   **401 Unauthorized**: توکن احراز هویت نامعتبر است.
*   **500 Internal Server Error**: خطای داخلی سرور هنگام بررسی وضعیت رخ داده است.

### پارامترهای پاسخ (200 OK)
*   **documents** (آبجکت) - نگاشت از آدرس‌های اسناد به وضعیت آن‌ها. هر کلید یک URL است و مقدار آن یک آبجکت با فیلدهای زیر:
    *   **exists** (بولین) - آیا سند در ایندکس وجود دارد.
    *   **indexed_at** (رشته) - زمان ایندکس شدن (در صورت وجود).
    *   **document_id** (رشته) - شناسه سند در ایندکس (در صورت وجود).
*   **total_checked** (عدد صحیح) - تعداد کل اسناد بررسی شده.
*   **total_existing** (عدد صحیح) - تعداد اسناد موجود در ایندکس.

+ Request (application/json)
    + Body

            {
                "document_urls": ["https://.../view?id=c81d4530-f78f-48a1-9654-b1a3cd73f30d"]
            }

+ Response 200 (application/json)
    + Body

            {
                "documents": {
                    "https://.../view?id=c81d4530...": {
                        "exists": true,
                        "indexed_at": "2025-07-20T14:30:00Z",
                        "document_id": "c81d4530-f78f-48a1-9654-b1a3cd73f30d"
                    }
                },
                "total_checked": 1,
                "total_existing": 1
            }


# حذف ایندکس [/{index}/delete_index]

این منبع برای حذف کامل یک ایندکس یا حذف اسناد با نوع مشخص از آن استفاده می‌شود.

## مثالی از حذف کامل ایندکس [DELETE]

**احتیاط:** این عملیات غیرقابل بازگشت است و تمام داده‌های ایندکس را حذف می‌کند.

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکسی که باید حذف شود.

### پاسخ‌ها
*   **200 OK**: ایندکس با موفقیت حذف شد.
*   **401 Unauthorized**: توکن احراز هویت نامعتبر است.
*   **500 Internal Server Error**: خطایی در فرآیند حذف ایندکس رخ داده است.

### پارامترهای پاسخ (200 OK)
*   **index** (رشته) - نام ایندکس حذف شده.
*   **doc_type** (رشته) - نوع سند حذف شده (ALL برای کل ایندکس).
*   **elasticsearch.status** (رشته) - وضعیت حذف در Elasticsearch (success یا error).
*   **weaviate.status** (رشته) - وضعیت حذف در Weaviate (success یا error).
*   **status** (رشته) - وضعیت کلی عملیات (success یا partial).

+ Request
    + Headers

            Authorization: Token {your_token}

+ Response 200 (application/json)
    + Body

            {
                "index": "TESTDELETE",
                "doc_type": "ALL",
                "elasticsearch": { "status": "success", "message": null },
                "weaviate": { "status": "success", "message": null, "deleted_count": null },
                "status": "success"
            }


## مثالی از حذف اسنادی از یک ایندکس [DELETE]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکس.

### بدنه درخواست
*   **type** (رشته، اجباری) - نوع اسنادی که باید حذف شوند.

### پاسخ‌ها
*   **200 OK**: اسناد با نوع مشخص با موفقیت حذف شدند.
*   **401 Unauthorized**: توکن احراز هویت نامعتبر است.
*   **500 Internal Server Error**: خطایی در فرآیند حذف اسناد رخ داده است.

### پارامترهای پاسخ (200 OK)
*   **index** (رشته) - نام ایندکس.
*   **doc_type** (رشته) - نوع سند حذف شده.
*   **weaviate.deleted_count** (عدد صحیح) - تعداد اسناد حذف شده از Weaviate.
*   **status** (رشته) - وضعیت کلی عملیات.

+ Request (application/json)
    + Body

            {
                "type": "type2"
            }

+ Response 200 (application/json)
    + Body

            {
                "index": "TESTDELETE",
                "doc_type": "type2",
                "weaviate": { "deleted_count": 42 },
                "status": "success"
            }


# دریافت آمار ایندکس [/{index}/stats]

این اندپوینت آمار کلی یک ایندکس را برمی‌گرداند.

## مثال [GET]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکس برای دریافت آمار.

### پاسخ‌ها
*   **200 OK**: آمار ایندکس با موفقیت دریافت شد.
*   **401 Unauthorized**: توکن احراز هویت نامعتبر است.
*   **404 Not Found**: ایندکس مورد نظر یافت نشد.
*   **500 Internal Server Error**: خطای داخلی سرور.

### پارامترهای پاسخ (200 OK)
پاسخ این اندپوینت یک آبجکت است که کلیدهای آن به صورت داینامیک و بر اساس الگوی {index_name}_{document_type} ساخته می‌شوند. هر آبجکت شامل فیلدهای زیر است:
*   **docs_number** (عدد صحیح) - تعداد اسناد در ایندکس.
*   **index_size** (عدد صحیح) - اندازه ایندکس به بایت.
*   **indexing_doc** (عدد صحیح) - تعداد اسناد در حال ایندکس شدن.
*   **search_queries** (عدد صحیح) - تعداد کل جستجوهای انجام شده.

+ Request
    + Headers

            Authorization: Token {your_token}

+ Response 200 (application/json)
    + Body

            {
                "ocr_2002_document": {
                    "docs_number": 1254,
                    "index_size": 52428800,
                    "indexing_doc": 0,
                    "search_queries": 5678
                }
            }


# یافتن اسناد مشابه [/{index}/similar/documents]

این اندپوینت لیستی از اسناد مشابه با یک سند مشخص استفاده می‌شود.

## مثال [POST]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکس.

### بدنه درخواست
*   **document_id** (رشته، اجباری) - شناسه سند مرجع برای یافتن اسناد مشابه.
*   **page_size** (عدد صحیح، اختیاری) - تعداد نتایج در هر صفحه (۱ تا ۱۰۰). مقدار پیش‌فرض ۱۰ است.
*   **page** (عدد صحیح، اختیاری) - شماره صفحه نتایج (شروع از ۱). مقدار پیش‌فرض ۱ است.
*   **filter** (آبجکت، اختیاری) - فیلترهای اضافی برای محدود کردن نتایج.
    *   **type** (رشته، اختیاری) - نوع اسناد برای فیلتر کردن.
    *   **from_date** (رشته، اختیاری) - تاریخ شروع (YYYY-MM-DD HH:MM:SS).
    *   **to_date** (رشته، اختیاری) - تاریخ پایان (YYYY-MM-DD HH:MM:SS).
    *   **labels** (آرایه، اختیاری) - برچسب‌های اسناد برای فیلتر کردن.

### پاسخ‌ها
*   **200 OK**: اسناد مشابه با موفقیت یافت شدند.
*   **400 Bad Request**: شناسه سند مرجع ارسال نشده یا مقادیر صفحه نامعتبر است.
*   **401 Unauthorized**: توکن نامعتبر یا منقضی شده است.
*   **404 Not Found**: سند مرجع در ایندکس یافت نشد.
*   **500 Internal Server Error**: خطای داخلی سرور.

### پارامترهای پاسخ (200 OK)
*   **document_id** (رشته) - شناسه سند مرجع.
*   **similar_documents** (آرایه) - آرایه‌ای از اسناد مشابه. هر سند یک آبجکت شامل فیلدهای زیر است:
    *   **id** (رشته) - شناسه سند مشابه.
    *   **title** (رشته) - عنوان سند مشابه.
    *   **url** (رشته) - آدرس سند مشابه.
    *   **time** (رشته) - زمان سند مشابه.
    *   **description** (رشته) - توضیحات سند مشابه.
    *   **similarity_score** (عدد) - امتیاز شباهت (بین ۰ تا ۱).
    *   **type** (رشته) - نوع سند مشابه.
    *   **labels** (آرایه) - برچسب‌های سند مشابه.
*   **total_results** (عدد صحیح) - تعداد کل نتایج یافت شده.
*   **page** (عدد صحیح) - شماره صفحه فعلی.
*   **page_size** (عدد صحیح) - تعداد نتایج در هر صفحه.

+ Request (application/json)
    + Body

            {
                "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "page_size": 10,
                "page": 1
            }

+ Response 200 (application/json)
    + Body

            {
                "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "similar_documents": [
                    {
                        "id": "another-document-id",
                        "title": "عنوان سند مشابه",
                        "similarity_score": 0.85
                    }
                ],
                "total_results": 5,
                "page": 1,
                "page_size": 10
            }


# مشاهده جزئیات سند [/{index}/document/view{?id}]

این اندپوینت برای مشاهده جزئیات کامل یک سند استفاده می‌شود.

## مثال [GET]

### پارامترهای URL
*   **index** (رشته، اجباری) - نام ایندکس.

### پارامترهای کوئری
*   **id** (رشته، اجباری) - شناسه سندی که باید مشاهده شود.

### پاسخ‌ها
*   **200 OK**: جزئیات سند با موفقیت دریافت شد.
*   **400 Bad Request**: پارامتر کوئری id ارسال نشده است.
*   **401 Unauthorized**: توکن نامعتبر یا منقضی شده است.
*   **404 Not Found**: سند مورد نظر در ایندکس یافت نشد.
*   **500 Internal Server Error**: خطای داخلی سرور.

### پارامترهای پاسخ (200 OK)
بدنه پاسخ یک آبجکت JSON است که شامل تمام فیلدهای ذخیره شده برای سند مورد نظر است:
*   **id** (رشته) - شناسه یکتای سند.
*   **type** (رشته) - نوع سند.
*   **title** (رشته) - عنوان سند.
*   **content** (رشته) - متن کامل سند.
*   **time** (رشته) - زمان سند.
*   **url** (رشته) - آدرس سند.
*   **description** (رشته) - توضیحات سند.
*   **labels** (آرایه) - برچسب‌های سند.
*   **company_name** (آرایه) - نام شرکت‌ها.
*   **session_number** (آرایه) - شماره جلسه‌ها.
*   **sender** (آرایه) - فرستنده‌ها.
*   **recipients** (آرایه) - گیرنده‌ها.
*   **letter_number** (رشته) - شماره نامه.
*   **importance** (رشته/عدد صحیح) - میزان اهمیت.

+ Request
    + Headers

            Authorization: Token {your_token}

+ Response 200 (application/json)
    + Body

            {
                "id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "type": "document",
                "title": "عنوان نامه",
                "content": "متن کامل سند..."
            }

# بررسی وضعیت سلامت ای‌پی‌آی [/healthcheck]

این اندپوینت برای بررسی وضعیت کلی و سلامت سرویس API استفاده می‌شود.

## مثال [GET]

یک پاسخ ساده برای تأیید اینکه سرویس فعال و در دسترس است، برمی‌گرداند.

### پاسخ‌ها
*   **200 OK**: سرویس فعال و در دسترس است.
*   **503 Service Unavailable**: سرویس به طور موقت در دسترس نیست.

### پارامترهای پاسخ (200 OK)
*   **status** (رشته) - وضعیت کلی سرویس که در حالت موفقیت‌آمیز برابر با ok است.
*   **message** (رشته) - یک پیام توصیفی درباره وضعیت سرور.

+ Response 200 (application/json)
    + Body

            {
                "status": "ok",
                "message": "Server is up and ready"
            }
