FORMAT: 1A
HOST: https://baaz.roshan-ai.ir/

# باز

باز یک ای‌پی‌آی بومی برای جستجو در محتوای فارسی است. برای دسترسی به این ای‌پی‌آی به یک `TOKEN_KEY` نیاز دارید که می‌توانید با ارسال یک ایمیل به baaz@roshan-ai.ir درخواست دهید.

## نکات مهم

- **احراز هویت**: تمام درخواست‌ها باید با هدر `Authorization: Token {token}` ارسال شوند.
- **فرمت زمان**: تمام زمان‌ها در فرمت `YYYY-MM-DD HH:MM:SS` هستند.
- **محدودیت اندازه**: حداكثر اندازه درخواست‌ها ۱۰ مگابایت است.
- **کش**: برخی اندپوینت‌ها مانند stats ممکن است از کش استفاده کنند و نتایج را تا ۵ دقیقه ذخیره کنند.
- **صفحه‌بندی**: برای اندپوینت‌هایی که تعداد زیادی نتیجه برمی‌گردانند، از پارامترهای `page` و `page_size` استفاده کنید.
- **محدودیت نرخ**: بیش از ۱۰۰ درخواست در دقیقه منجر به محدودیت موقت دسترسی می‌شود.

## خطاهای عمومی

| کد وضعیت | عنوان خطا | توضیحات |
|---------|----------|---------|
| 400 | Bad Request | پارامترهای درخواست نامعتبر هستند |
| 401 | Unauthorized | توکن احراز هویت نامعتبر یا منقضی شده است |
| 403 | Forbidden | دسترسی به منبع درخواستی مجاز نیست |
| 404 | Not Found | منبع درخواستی یافت نشد |
| 405 | Method Not Allowed | روش HTTP درخواستی برای این اندپوینت پشتیبانی نمی‌شود |
| 429 | Too Many Requests | تعداد درخواست‌ها بیش از حد مجاز است |
| 500 | Internal Server Error | خطای داخلی سرور |
| 503 | Service Unavailable | سرویس موقتاً در دسترس نیست |

## افزودن اسناد به ایندکس [/{index}/index]

این اندپوینت برای افزودن اسناد جدید به ایندکس استفاده می‌شود.

+ Parameters
    + index: `Ocr_2002` (string, required) - نام ایندکس.

### افزودن و ویرایش [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Token TOKEN_KEY
        
    + Attributes
        - items (array, required) - آرایه‌ای از اسناد برای افزودن به ایندکس.
            + (object)
                - id (string, required) - شناسه یکتای سند.
                - type (string, optional) - نوع سند.
                    + Default: `document`
                - url (string, optional) - آدرس سند.
                    + Default: `""`
                - title (string, optional) - عنوان سند.
                - time (string, optional) - زمان سند (فرمت: YYYY-MM-DD HH:MM:SS).
                    + Default: زمان فعلی
                - content (string, required) - محتوای اصلی سند.
                - description (string, optional) - توضیحات سند.
                    + Default: `""`
                - labels (array[string], optional) - آرایه‌ای از برچسب‌های سند.
                    + Default: `[]`
                - chunk_size (number, optional) - اندازه هر قطعه متن (فقط برای اولین آیتم).
                - chunk_overlap (number, optional) - میزان همپوشانی قطعات (فقط برای اولین آیتم).
                - embedding_api_url (string, optional) - آدرس API تعبیه (فقط برای اولین آیتم).
                - embedding_api_key (string, optional) - کلید API تعبیه (فقط برای اولین آیتم).
                - embedding_model (string, optional) - مدل تعبیه (فقط برای اولین آیتم).
                - company_name (array[string], optional) - نام شرکت‌ها.
                    + Default: `[]`
                - session_number (array[string], optional) - شماره جلسه‌ها.
                    + Default: `[]`
                - sender (array[string], optional) - فرستنده‌ها.
                    + Default: `[]`
                - recipients (array[string], optional) - گیرنده‌ها.
                    + Default: `[]`
                - letter_number (string, optional) - شماره نامه.
                - importance (string, optional) - میزان اهمیت.

    + Body

            {
                "items": [
                    {
                        "type": "document",
                        "id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                        "url": "../correspondence/#/viewletter/d8ef171d-0f08-4e95-b71a-e1adee5905ad",
                        "title": "عنوان نامه",
                        "time": "2025-07-20 14:30:00",
                        "content": "ریلیزنوت اسپرینت 06-04-04...",
                        "description": "خلاصه نامه",
                        "labels": [
                            "e129e757-316d-4fad-9877-022b26aca152-ContentView",
                            "14ddddaa-6cd6-4683-97ec-f8c8b0fd6423-ViewLetter"
                        ]
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "ids": ["f2646930-64d7-47cc-93c1-e557777f1c489ad"],
                "indexing_results": {
                    "successful": 1,
                    "failed": 0,
                    "errors": []
                }
            }


## جستجوی معنایی [/{index}/document/semantic_query]
این اندپوینت برای جستجوی معنایی در اسناد استفاده می‌شود.

+ Parameters
    + index: `ocr_2001` (string, required) - نام ایندکس.

### جستجو [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Token TOKEN_KEY

    + Attributes
        - text (string, required) - متن جستجو.
        - size: 10 (number, optional) - حداکثر تعداد نتایج برگشتی (1-1000).
        - chunks_per_doc: 5 (number, optional) - تعداد قطعات برای هر سند.
        - from_date (string, optional) - تاریخ شروع جستجو (YYYY-MM-DD).
        - to_date (string, optional) - تاریخ پایان جستجو (YYYY-MM-DD).
        - ids (array[string], optional) - آرایه‌ای از شناسه‌های اسناد برای محدود کردن جستجو.
        - labels (array[string], optional) - آرایه‌ای از برچسب‌ها برای فیلتر کردن.
        - type (string, optional) - نوع یا انواع اسناد برای جستجو.
        - smart_search: false (boolean, optional) - فعال‌سازی جستجوی هوشمند.
        - company_name (string, optional) - نام شرکت برای فیلتر کردن.
        - session_number (string, optional) - شماره جلسه برای فیلتر کردن.
        - sender (string, optional) - فرستنده برای فیلتر کردن.
        - recipients (string, optional) - گیرنده‌ها برای فیلتر کردن.
        - letter_number (string, optional) - شماره نامه برای فیلتر کردن.
        - description (string, optional) - توضیحات برای فیلتر کردن.
        - search_fields: `["content"]` (array[string], optional) - فیلدهایی که باید جستجو شوند.
        - mode: `default` (string, optional) - حالت جستجو (default یا graphql_raw).
        - graphql (string, optional) - پرس و جوی GraphQL (فقط در حالت graphql_raw).
    
    + Body

            {
                "text": "۴ فیلتر گردش نام ببر",
                "size": 200
            }

+ Response 200 (application/json)

    + Body

            {
                "results": [
                    {
                        "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                        "document_title": "عنوان نامه",
                        "document_url": "../correspondence/#/viewletter/d8ef171d-0f08-4e95-b71a-e1adee5905ad",
                        "document_time": "2025-07-20 14:30:00",
                        "document_type": "document",
                        "document_description": "خلاصه نامه",
                        "document_labels": ["e129e757-316d-4fad-9877-022b26aca152-ContentView"],
                        "chunks": [
                            {
                                "text": "در جدول گردش های پیش نویس و نامه و پبام چهار فیلتر اضافه شد فقط گردش های من، گردشهای مدیر من، گردش های زیر مجموعه من ،همه ی گردش ها",
                                "score": 0.92
                            }
                        ]
                    }
                ],
                "total": 1,
                "query_time_ms": 120
            }


## بررسی وضعیت اسناد [/{index}/document_status]
این اندپوینت برای بررسی وضعیت اسناد در ایندکس استفاده می‌شود.

+ Parameters
    + index: `pargar-6b8e...` (string, required) - نام ایندکس.

### بررسی وضعیت [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Token TOKEN_KEY
            
    + Attributes
        - document_urls (array[string], required) - آرایه‌ای از آدرس‌های اسناد برای بررسی وضعیت.
        
    + Body
    
            {
                "document_urls": ["https://baaz.roshan-ai.ir/pargar-6b8e75e2-e4e6-42fc-9e6a-818239fe8f58/نامه/view?id=c81d4530-f78f-48a1-9654-b1a3cd73f30d"]
            }

+ Response 200 (application/json)

    + Body
    
            {
                "documents": {
                    "https://baaz.roshan-ai.ir/pargar-6b8e75e2-e4e6-42fc-9e6a-818239fe8f58/نامه/view?id=c81d4530-f78f-48a1-9654-b1a3cd73f30d": {
                        "exists": true,
                        "indexed_at": "2025-07-20T14:30:00Z",
                        "document_id": "c81d4530-f78f-48a1-9654-b1a3cd73f30d"
                    }
                },
                "total_checked": 1,
                "total_existing": 1
            }

## حذف ایندکس یا نوع [/{index}/delete_index]
این اندپوینت برای حذف کامل یک ایندکس یا حذف اسناد با نوع مشخص از ایندکس استفاده می‌شود.

+ Parameters
    + index: `TESTDELETE` (string, required) - نام ایندکس.

### حذف [DELETE]

+ Request حذف کامل ایندکس (application/json)
    + Headers
    
            Authorization: Token TOKEN_KEY
    + Body

            {}

+ Response 200 (application/json)
    + Body

            {
                "index": "TESTDELETE",
                "doc_type": "ALL",
                "elasticsearch": {
                    "status": "success",
                    "message": null
                },
                "weaviate": {
                    "status": "success",
                    "message": null,
                    "deleted_count": null
                },
                "status": "success"
            }
            
+ Request حذف اسناد با نوع مشخص (application/json)
    + Headers
    
            Authorization: Token TOKEN_KEY
    + Attributes
        - type: `type2` (string, required) - نوع اسنادی که باید حذف شوند.
    + Body

            {
                "type": "type2"
            }

+ Response 200 (application/json)
    + Body

            {
                "index": "TESTDELETE",
                "doc_type": "type2",
                "elasticsearch": {
                    "status": "success",
                    "message": null
                },
                "weaviate": {
                    "status": "success",
                    "message": null,
                    "deleted_count": 42
                },
                "status": "success"
            }


## دریافت آمار ایندکس [/{index}/stats]
این اندپوینت برای دریافت آمار و اطلاعات ایندکس استفاده می‌شود.

+ Parameters
    + index: `ocr_2002` (string, required) - نام ایندکس.

### دریافت آمار [GET]

+ Request

    + Headers
    
            Authorization: Token TOKEN_KEY

+ Response 200 (application/json)

    + Body
    
            {
                "ocr_2002_document": {
                    "docs_number": 1254,
                    "index_size": 52428800,
                    "indexing_doc": 0,
                    "search_queries": 5678
                },
                "ocr_2002_letter": {
                    "docs_number": 879,
                    "index_size": 31457280,
                    "indexing_doc": 0,
                    "search_queries": 3456
                }
            }


## یافتن اسناد مشابه [/{index}/similar/documents]
این اندپوینت برای یافتن اسناد مشابه با یک سند مشخص استفاده می‌شود.

+ Parameters
    + index: `ocr_2002` (string, required) - نام ایندکس.

### یافتن مشابه [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Token TOKEN_KEY

    + Attributes
        - document_id (string, required) - شناسه سند مرجع برای یافتن اسناد مشابه.
        - page_size: 10 (number, optional) - تعداد نتایج در هر صفحه (1-100).
        - page: 1 (number, optional) - شماره صفحه نتایج (شروع از 1).
        - filter (object, optional) - فیلترهای اضافی برای محدود کردن نتایج.
            - type (string, optional) - نوع اسناد برای فیلتر کردن.
            - from_date (string, optional) - تاریخ شروع (YYYY-MM-DD HH:MM:SS).
            - to_date (string, optional) - تاریخ پایان (YYYY-MM-DD HH:MM:SS).
            - labels (array[string], optional) - برچسب‌های اسناد برای فیلتر کردن.
            
    + Body
    
            {   
              "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
              "page_size": 10,         
              "page": 1,
              "filter": {
                "type": "document"
              }
            }

+ Response 200 (application/json)

    + Body
    
            {
                "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "similar_documents": [
                    {
                        "id": "another-document-id",
                        "title": "عنوان سند مشابه",
                        "url": "https://example.com/document",
                        "time": "2025-07-15 10:30:00",
                        "description": "توضیحات سند مشابه",
                        "similarity_score": 0.85,
                        "type": "document",
                        "labels": ["label1", "label2"]
                    }
                ],
                "total_results": 5,
                "page": 1,
                "page_size": 10
            }


## مشاهده جزئیات سند [/{index}/document/view{?id}]
این اندپوینت برای مشاهده جزئیات کامل یک سند استفاده می‌شود.

+ Parameters
    + index: `ocr_2002` (string, required) - نام ایندکس.
    + id: `f264...` (string, required) - شناسه سند.

### مشاهده [GET]

+ Request

    + Headers
    
            Authorization: Token TOKEN_KEY

+ Response 200 (application/json)

    + Body

            {
                "id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "type": "document",
                "title": "عنوان نامه",
                "content": "متن کامل سند...",
                "time": "2025-07-20 14:30:00",
                "url": "../correspondence/#/viewletter/d8ef171d-0f08-4e95-b71a-e1adee5905ad",
                "description": "خلاصه نامه",
                "labels": [
                    "e129e757-316d-4fad-9877-022b26aca152-ContentView",
                    "14ddddaa-6cd6-4683-97ec-f8c8b0fd6423-ViewLetter"
                ],
                "company_name": ["شرکت الف", "شرکت ب"],
                "session_number": ["123", "456"],
                "sender": ["فرستنده الف"],
                "recipients": ["گیرنده الف", "گیرنده ب"],
                "letter_number": "LTR-123456",
                "importance": "بالا"
            }

## بررسی وضعیت سلامت ای‌پی‌آی [/healthcheck]
وضعیت سلامت ای‌پی‌آی را بررسی می‌کند.

### مثال [GET]

+ Response 200 (application/json)

    + Body
    
            {
                "status": "ok",
                "message": "Server is up and ready"
            }
