FORMAT: 1A
HOST: https://baaz.roshan-ai.ir/

# باز

باز یک ای‌پی‌آی بومی برای جستجو در محتوای فارسی است. برای دسترسی به این ای‌پی‌آی به یک `TOKEN_KEY` نیاز دارید که می‌توانید با ارسال یک ایمیل به baaz@roshan-ai.ir درخواست دهید.

## نکات مهم

- **احراز هویت**: تمام درخواست‌ها باید با هدر `Authorization: Token {token}` ارسال شوند.
- **فرمت زمان**: تمام زمان‌ها در فرمت `YYYY-MM-DD HH:MM:SS` هستند.
- **محدودیت اندازه**: حداكثر اندازه درخواست‌ها ۱۰ مگابایت است.
- **کش**: برخی اندپوینت‌ها مانند stats ممکن است از کش استفاده کنند و نتایج را تا ۵ دقیقه ذخیره کنند.
- **صفحه‌بندی**: برای اندپوینت‌هایی که تعداد زیادی نتیجه برمی‌گردانند، از پارامترهای `page` و `page_size` استفاده کنید.
- **محدودیت نرخ**: بیش از ۱۰۰ درخواست در دقیقه منجر به محدودیت موقت دسترسی می‌شود.

## خطاهای عمومی

| کد وضعیت | عنوان خطا | توضیحات |
|---------|----------|---------|
| 400 | Bad Request | پارامترهای درخواست نامعتبر هستند |
| 401 | Unauthorized | توکن احراز هویت نامعتبر یا منقضی شده است |
| 403 | Forbidden | دسترسی به منبع درخواستی مجاز نیست |
| 404 | Not Found | منبع درخواستی یافت نشد |
| 405 | Method Not Allowed | روش HTTP درخواستی برای این اندپوینت پشتیبانی نمی‌شود |
| 429 | Too Many Requests | تعداد درخواست‌ها بیش از حد مجاز است |
| 500 | Internal Server Error | خطای داخلی سرور |
| 503 | Service Unavailable | سرویس موقتاً در دسترس نیست |

# Group ایندکس‌کردن و ویرایش محتوا

## /index/{index_name}

+ Parameters
    + index_name: baaz (string, required) - شناسهٔ ایندکس

### افزودن محتوای جدید [POST]

این اندپوینت برای افزودن اسناد جدید به یک ایندکس استفاده می‌شود. اگر سندی با `type` و `id` یکسان از قبل موجود باشد، با ارسال درخواست `POST` محتوای آن جایگزین خواهد شد.

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - items (array, required) - آرایه‌ای از اسناد برای افزودن به ایندکس.
            + (object)
                - id (string, required) - شناسه یکتای سند.
                - content (string, required) - محتوای اصلی سند.
                - type: "document" (string, optional) - نوع سند.
                - url: "" (string, optional) - آدرس سند.
                - title (string, optional) - عنوان سند.
                - time (string, optional) - زمان سند (فرمت: `YYYY-MM-DD HH:MM:SS`). در صورت عدم ارسال، زمان فعلی ثبت می‌شود.
                - description: "" (string, optional) - توضیحات سند.
                - labels: [] (array[string], optional) - آرایه‌ای از برچسب‌های سند.
                - company_name: [] (array[string], optional) - نام شرکت‌ها.
                - session_number: [] (array[string], optional) - شماره جلسه‌ها.
                - sender: [] (array[string], optional) - فرستنده‌ها.
                - recipients: [] (array[string], optional) - گیرنده‌ها.
                - letter_number (string, optional) - شماره نامه.
                - importance (string, optional) - میزان اهمیت.
                - chunk_size (number, optional) - اندازه هر قطعه متن (فقط برای اولین آیتم اعمال می‌شود).
                - chunk_overlap (number, optional) - میزان همپوشانی قطعات (فقط برای اولین آیتم اعمال می‌شود).
                - embedding_api_url (string, optional) - آدرس API تعبیه (فقط برای اولین آیتم اعمال می‌شود).
                - embedding_api_key (string, optional) - کلید API تعبیه (فقط برای اولین آیتم اعمال می‌شود).
                - embedding_model (string, optional) - مدل تعبیه (فقط برای اولین آیتم اعمال می‌شود).

    + Body

            {
                "items": [
                    {
                        "type": "document",
                        "id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                        "url": "../correspondence/#/viewletter/d8ef171d-0f08-4e95-b71a-e1adee5905ad",
                        "title": "عنوان نامه",
                        "time": "2025-07-20 14:30:00",
                        "content": "ریلیزنوت اسپرینت 06-04-04Product Backlog Item...",
                        "description": "خلاصه نامه",
                        "labels": ["label1", "label2"]
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "ids": [
                    "f2646930-64d7-47cc-93c1-e557777f1c489ad"
                ],
                "indexing_results": {
                    "f2646930-64d7-47cc-93c1-e557777f1c489ad": {
                        "status": "success",
                        "source": "elasticsearch",
                        "weaviate_status": "pending",
                        "uuid": "f918e18e-11ce-5299-9c56-6560df76f0ed"
                    }
                }
            }

### ویرایش یک سند موجود [PUT]
برای ویرایش، کافیست `type` و `id` سند مورد نظر را به همراه فیلدهایی که قصد تغییرشان را دارید ارسال کنید.

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            {
                "items": [
                    {
                        "type": "movie",
                        "id": "1",
                        "importance": 200
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "ids": ["1"]
            }

# Group مدیریت ایندکس

## /delete_index/{index_name}

این اندپوینت به شما امکان می‌دهد تا یک ایندکس کامل را حذف کنید یا فقط اسناد با یک `type` خاص را از درون یک ایندکس پاک کنید.

+ Parameters
    + index_name: TESTDELETE (string, required) - شناسهٔ ایندکسی که باید حذف شود.

### حذف [DELETE]

+ Request "حذف کامل ایندکس" (application/json)

    برای حذف کل ایندکس، یک درخواست با بدنه خالی ارسال کنید.

    + Headers

            Authorization: Token TOKEN_KEY
    + Body

            {}

+ Response 200 (application/json)

    + Body

            {
                "index": "TESTDELETE",
                "doc_type": "ALL",
                "elasticsearch": { "status": "success", "message": null },
                "weaviate": { "status": "success", "message": null, "deleted_count": null },
                "status": "success"
            }

+ Request "حذف تمام اسناد یک نوع خاص" (application/json)

    برای حذف اسناد با یک `type` مشخص، آن `type` را در بدنه درخواست ارسال کنید.

    + Headers

            Authorization: Token TOKEN_KEY
    + Attributes
        - type (string, required) - نوع اسنادی که باید حذف شوند.
    + Body

            {
                "type": "type2"
            }

+ Response 200 (application/json)

    + Body

            {
                "index": "TESTDELETE",
                "doc_type": "type2",
                "elasticsearch": { "status": "success", "message": null },
                "weaviate": { "status": "success", "message": "Successfully deleted 42 documents of type 'type2'", "deleted_count": 42 },
                "status": "success"
            }

## /stats/{index_name}

این تابع آمار کلی یک ایندکس، شامل تعداد اسناد، حجم و تعداد جستجوها به تفکیک هر `type` را برمی‌گرداند.

+ Parameters
    + index_name: ocr_2002 (string, required) - شناسهٔ ایندکس

### دریافت آمار [GET]

+ Request

    + Headers

            Authorization: Token TOKEN_KEY

+ Response 200 (application/json)

    + Body

            {
                "ocr_2002_document": {
                    "docs_number": 1254,
                    "index_size": 52428800,
                    "indexing_doc": 0,
                    "search_queries": 5678
                },
                "ocr_2002_letter": {
                    "docs_number": 879,
                    "index_size": 31457280,
                    "indexing_doc": 0,
                    "search_queries": 3456
                }
            }

# Group وضعیت اسناد

## /document_status/{index_name}

این تابع با دریافت آرایه‌ای از آدرس‌های (`url`) اسناد، وضعیت ایندکس شدن آن‌ها را بررسی کرده و مشخص می‌کند که آیا در ایندکس موجود هستند یا خیر.

+ Parameters
    + index_name: pargar-v1 (string, required) - شناسهٔ ایندکس

### بررسی وضعیت [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - document_urls (array[string], required) - آرایه‌ای از آدرس‌های اسناد برای بررسی وضعیت.

    + Body

            {
                "document_urls": [
                    "https://baaz.roshan-ai.ir/pargar-v1/نامه/view?id=c81d4530"
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "documents": {
                    "https://baaz.roshan-ai.ir/pargar-v1/نامه/view?id=c81d4530": {
                        "exists": true,
                        "indexed_at": "2025-07-20T14:30:00Z",
                        "document_id": "c81d4530-f78f-48a1-9654-b1a3cd73f30d"
                    }
                },
                "total_checked": 1,
                "total_existing": 1
            }

# Group جستجو

## /similar/documents/{index_name}

با ارسال شناسه (`id`) یک سند، این اندپوینت لیستی از اسناد مشابه را بر اساس محتوای معنایی آن‌ها برمی‌گرداند.

+ Parameters
    + index_name: ocr_2002 (string, required) - شناسهٔ ایندکس

### یافتن اسناد مشابه [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - document_id (string, required) - شناسه سند مرجع برای یافتن اسناد مشابه.
        - page_size: 10 (number, optional) - تعداد نتایج در هر صفحه (محدوده: 1-100).
        - page: 1 (number, optional) - شماره صفحه نتایج (شروع از 1).
        - filter (object, optional) - فیلترهای اضافی برای محدود کردن نتایج.
            + type (string, optional) - فیلتر بر اساس نوع اسناد.
            + from_date (string, optional) - تاریخ شروع (فرمت: `YYYY-MM-DD HH:MM:SS`).
            + to_date (string, optional) - تاریخ پایان (فرمت: `YYYY-MM-DD HH:MM:SS`).
            + labels (array[string], optional) - فیلتر بر اساس برچسب‌های اسناد.

    + Body

            {
                "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "page_size": 10,
                "page": 1,
                "filter": {
                    "type": "document"
                }
            }

+ Response 200 (application/json)

    + Body

            {
                "document_id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "similar_documents": [
                    {
                        "id": "another-document-id",
                        "title": "عنوان سند مشابه",
                        "url": "https://example.com/document",
                        "time": "2025-07-15 10:30:00",
                        "description": "توضیحات سند مشابه",
                        "similarity_score": 0.85,
                        "type": "document",
                        "labels": ["label1", "label2"]
                    }
                ],
                "total_results": 5,
                "page": 1,
                "page_size": 10
            }

## /view/{index_name}/{types}{?id}

این تابع محتوای کامل و تمام فیلدهای یک سند ایندکس‌شده را با استفاده از شناسه (`id`) آن بازیابی می‌کند.

+ Parameters
    + index_name: ocr_2002 (string, required) - شناسهٔ ایندکس
    + types: document (string, required) - انواع مورد نظر برای جستجو که با `|` جدا شده‌اند.
    + id: f2646930-64d7-47cc-93c1-e557777f1c489ad (string, required) - شناسهٔ محتوا

### مشاهده سند [GET]

+ Request

    + Headers

            Authorization: Token TOKEN_KEY

+ Response 200 (application/json)

    + Body

            {
                "body": "ریلیزنوت اسپرینت 06-04-04...",
                "id": "f2646930-64d7-47cc-93c1-e557777f1c489ad",
                "time": "2025-07-20 14:30:00",
                "type": "document",
                "description": "خلاصه نامه",
                "title": "عنوان نامه",
                "url": "../correspondence/#/viewletter/d8ef171d-0f08-4e95-b71a-e1adee5905ad",
                "labels": ["label1", "label2"],
                "company_name": ["شرکت الف", "شرکت ب"],
                "session_number": ["123", "456"],
                "sender": ["فرستنده الف"],
                "recipients": ["گیرنده الف", "گیرنده ب"],
                "letter_number": "LTR-123456",
                "importance": "بالا"
            }

## /semantic_query/{index_name}/{types}

این اندپوینت یک جستجوی معنایی بر اساس مفهوم متن ورودی انجام می‌دهد و نتایج مرتبط را به همراه بخش‌های هایلایت شده از متن برمی‌گرداند.

+ Parameters
    + index_name: ocr_2001 (string, required) - شناسهٔ ایندکس
    + types: document (string, required) - انواع مورد نظر برای جستجو که با `|` جدا شده‌اند.

### جستجو [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - text (string, required) - متن جستجو.
        - size: 10 (number, optional) - حداکثر تعداد نتایج برگشتی (محدوده: 1-1000).
        - chunks_per_doc: 5 (number, optional) - تعداد قطعات (chunks) مرتبط برای هر سند.
        - from_date (string, optional) - تاریخ شروع جستجو (فرمت: `YYYY-MM-DD`).
        - to_date (string, optional) - تاریخ پایان جستجو (فرمت: `YYYY-MM-DD`).
        - ids (array[string], optional) - محدود کردن جستجو به شناسه‌های خاص.
        - labels (array[string], optional) - فیلتر کردن نتایج بر اساس برچسب‌ها.
        - type (string, optional) - فیلتر کردن بر اساس نوع یا انواع سند.
        - smart_search: false (boolean, optional) - فعال‌سازی جستجوی هوشمند.
        - company_name (string, optional) - فیلتر بر اساس نام شرکت.
        - session_number (string, optional) - فیلتر بر اساس شماره جلسه.
        - sender (string, optional) - فیلتر بر اساس فرستنده.
        - recipients (string, optional) - فیلتر بر اساس گیرنده‌ها.
        - letter_number (string, optional) - فیلتر بر اساس شماره نامه.
        - description (string, optional) - فیلتر بر اساس توضیحات.
        - search_fields: `["content"]` (array[string], optional) - فیلدهایی که باید جستجو شوند.
        - mode: "default" (string, optional) - حالت جستجو. مقادیر مجاز: `default` یا `graphql_raw`.
        - graphql (string, optional) - پرس و جوی GraphQL خام (فقط در حالت `graphql_raw`).

    + Body

            {
                "text": "۴ فیلتر گردش نام ببر",
                "size": 200
            }

+ Response 200 (application/json)

    + Body

            {
                "items": [
                    {
                        "id": "f2646930-64d7-47cc-93c1-e557777f1c489add",
                        "highlight": {
                            "content": {
                                "chunk_1": "در جدول گردش های پیش نویس و نامه و پبام چهار فیلتر اضافه شد فقط گردش های من، گردشهای مدیر من...",
                                "chunk_2": "..."
                            }
                        },
                        "metadata": {
                            "labels": ["label1", "label2"],
                            "type": "document",
                            "title": "عنوان نامه",
                            "description": "خلاصه نامه",
                            "time": "2025-07-20 14:30:00",
                            "url": "../correspondence/#/viewletter/d8ef171d-0f08-4e95-b71a-e1adee5905ad"
                        },
                        "score": 1.0
                    }
                ]
            }

# Group سلامت سرور

## /healthcheck

این تابع وضعیت سلامت و در دسترس بودن سرور ای‌پی‌آی را بررسی می‌کند. در صورتی که سرور فعال باشد، پاسخی با کد وضعیت ۲۰۰ برمی‌گرداند.

### بررسی سلامت [GET]

+ Request

    + Headers

            Authorization: Token TOKEN_KEY

+ Response 200 (application/json)

    + Body

            {
                "status": "ok",
                "message": "Server is up and ready"
            }
