FORMAT: 1A
HOST: https://fahm.roshan-ai.ir/api

# فهم

این ای‌پی‌آی برای انجام عملیات ترجمه، خلاصه‌سازی و گفت‌وگو طراحی شده است.

در مستندات حاضر، هرگاه نیاز به درج آدرس یک سند از سامانه الفبا باشد، ابتدا وارد پنل الفبای خود شوید و سند مورد نظر را باز کنید، سپس گزینه «نمایش تصویر اصلی» را انتخاب کرده و روی تصویر سند کلیک راست کنید و آن را در تب جدید باز نمایید؛ آدرسی شبیه https://alefba.roshan-ai.ir/page_image/http://alefba.roshan-ai.ir/media/files/94/35/700979345571-sample_persian_1.pdf@page=1 است. آدرس سند همان بخشی است که بین `page_image/` و `@page` قرار دارد، برای مثال در این نمونه، آدرس سند برابر است با http://alefba.roshan-ai.ir/media/files/94/35/700979345571-sample_persian_1.pdf است.

## ورود [/account/login/]

ابتدا نام کاربری و رمز عبوری که در اختیار شما قرار گرفته را در قالب یک درخواست post ارسال کنید تا بتوانید توکن اتصال دریافت کنید. این توکن در تمام درخواست‌های شما بایستی در هیدر آن  درخواست وجود داشته باشد.

### دریافت توکن [POST]

+ Request (application/json)

    {
        "username":"*******",
        "password":"*******"
    }

+ Response 200 (application/json)

    {
          "token": "*********************************",
          "alefba_token": "*********************************",
          "harf_token": null,
          "alefba_url": "https://alefba.roshan-ai.ir",
          "harf_url": null,
          "baaz_url": "https://baaz.roshan-ai.ir",
          "features": [
            {
              "code": "12"
            },
            {
              "code": "11"
            },
            {
              "code": "10"
            },
            {
              "code": "9"
            },
            {
              "code": "8"
            },
            {
              "code": "7"
            },
            {
              "code": "6"
            },
            {
              "code": "5"
            },
            {
              "code": "4"
            },
            {
              "code": "3"
            },
            {
              "code": "2"
            },
            {
              "code": "1"
            }
          ],
          "username": "********"
    }

## ترجمه [/translation/]

یک متن را از هر زبانی به فارسی یا انگلیسی ترجمه می‌کند. زبان مبداً هر زبانی می‌تواند باشد ولی زبان مقصد فقط فارسی یا انگلیسی پشتیبانی می‌شود.

در پاسخ خروجی in_token تعداد توکن‌های ورودی، out_token تعداد توکن‌های خروجی است. language زبانی است که به آن ترجمه می‌شود و در صورتی که به جای متن لینک اسناد خود را در سامانه الفبا داده باشید، document_url آدرس آن اسناد است که در ورودی نیز ارسال کرده‌اید. content متنی است که برای ترجمه ارسال کرده‌اید و chat_id شناسه گفتگوی مربوطه است.

### ترجمه متن به فارسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - content (string, required) - متنی که باید ترجمه شود
        - to: fa (enum[string], required) - به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "content":"In the name of God",
                "to":"fa"
            }


+ Response 200 (application/json)

            {
              "result": "```به نام خدا```",
              "info": {
                "in_token": 106,
                "out_token": 6,
                "language": "fa",
                "document_url": null
              },
              "content": "In the name of God",
              "chat_id": 3296
            }
            
### ترجمه متن به انگلیسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - content (string, required) - متنی که باید ترجمه شود.
        - to: en (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
              "content": "به نام خدا",
              "to": "en"
            }


+ Response 200 (application/json)

            {
              "result": "``` \nIn the name of God\n ```",
              "info": {
                "in_token": 106,
                "out_token": 8,
                "language": "en",
                "document_url": null
              },
              "content": "به نام خدا",
              "chat_id": 3292
            }
            

### ترجمه سند به فارسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - document_urls (array[string], required) - آدرس اسنادی که باید ترجمه شود روی سامانه الفبا.
        - to: fa (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "document_urls": [
                      "http://alefba.roshan-ai.ir/****/sample_english_1.pdf",
                      "http://alefba.roshan-ai.ir/****/sample_english_2.pdf"
                ]
                "to": "fa",
            }


+ Response 200 (application/json)

            {
              "result": "```سلام چطوری؟\n\nخوبم. ممنون.```",
              "info": {
                  "in_token": 7,
                  "out_token": 8,
                  "language": "en",
                  "document_url": [
                      "http://alefba.roshan-ai.ir/****/sample_english_1.pdf",
                      "http://alefba.roshan-ai.ir/****/sample_english_2.pdf"
                  ]
              },
              "content": "['Hello, how are you?\n\nFine, Thanks.']",
              "chat_id": 3218
            }
            
### ترجمه سند به انگلیسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - document_urls (array[string], required) - آدرس اسنادی که باید ترجمه شود روی سامانه الفبا.
        - to: fa (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "document_urls": [
                    "http://alefba.roshan-ai.ir/****/sample_persian_1.pdf",
                    "http://alefba.roshan-ai.ir/****/sample_persian_2.pdf"
                  ],
                  "to": "en"
            }


+ Response 200 (application/json)

            {
              "result": "```Hello, How are you?\n\nFine, Thanks.```",
              "info": {
                  "in_token": 8,
                  "out_token": 7,
                  "language": "en",
                  "document_url": [
                      "http://alefba.roshan-ai.ir/****/sample_persian_1.pdf",
                      "http://alefba.roshan-ai.ir/****/sample_persian_2.pdf"
                  ]
              },
              "content": "['سلام چطوری؟\n\nخوبم ممنون']",
              "chat_id": 3218
            }

## خلاصه‌سازی [/summarization/]

متن یا اسناد ورودی را خلاصه می‌کند.

### خلاصه متنی [POST]

متن ورودی را به شکل متنی خلاصه می‌کند.

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - content (string, required) - متنی که باید خلاصه شود.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - متنی
                + bullet - فهرست‌وار

    + Body

            {
              "content":"در ضرورتِ نوشتنِ نشانه‌یِ اضافه رحمانِ افشاری «خط برای خوانده شدن اختراع شده و کمالِ زیبایی و جمالش این است که در کمالِ آسانی خوانده شود.» احمدِ بهمنیار اشاره: درباره‌یِ نشانه‌یِ اضافه مقاله‌هایِ بسیار نوشته شده، اما در ضرورتِ حضورِ همیشگیِ آن در خط کم گفته شده است. این مقاله می‌کوشد این ضرورت را نشان دهد. تعریف نشانه‌یِ اضافه، که به آن کسره‌یِ اضافه نیز می‌گویند، مصوت یا واکه‌یِ /e/ است که دو کلمه را به هم پیوند می‌دهد و آن‌ها را به یک گروهِ واحد یا جزئی از یک گروهِ واحد تبدیل می‌کند. این نشانه برای پیوند دادنِ مقوله‌هایِ دستوریِ زیر به کار می‌رود: ۱ـ اسم و صفت: درختانِ سبز ۲ـ اسم و اسم: جلدِ کتاب ۳ـ صفت و صفت: آبیِ روشن ۴ـ قید و قید: فوریِ فوری ۵ـ حرفِ اضافه و اسم یا گروهِ اسمیِ پس‌ازآن: برایِ سرگرمی، به‌خاطرِ کمبودِ آب، بر رویِ میز. اگر واژه‌ای به واکه ختم شود، وقتی می‌خواهیم نشانه‌یِ اضافه را به آن بیفزاییم، اول صدایِ y (= ی) را به آن اضافه می‌کنیم، بعد نشانه‌یِ اضافه را می‌آوریم: بویِ خاک، لوله‌یِ بخاری، آبیِ روشن. (طباطبایی، ۵۱۸ به بعد.) [۱] البته می‌توان به این فهرست مواردی دیگر نیز افزود، مانندِ: – اسم و ضمیر: کتابِ من، حقِ خود، توصیه‌یِ شما. – ضمیر و صفت: منِ ازهمه‌جابی‌خبر، منِ پیرِ ازکارافتاده. عدد اکنون جزو صفت به شمار می‌رود: کلاسِ سوم، سده‌یِ بیستم، سالِ ۱۳۹۶. نقدِ دستورِ فرهنگستان در موردِ نشانه‌یِ اضافه مرسوم است که این نشانه‌یِ مهم در خط یا به تعبیرِ داریوشِ آشوری «زبان‌نگاره» را ننویسند، جز در مواردی که ننوشتنِ آن ایجادِ ابهام کند. فرهنگستانِ زبان و ادبِ فارسی در کتابِ دستورِ خطِ فارسی در فصلِ «کسرهٔ اضافه» دراین‌باره چنین می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری ـ کلماتی مانند رهرو، پرتو، جلو، در حالتِ مضاف، گاهی با صامت میانجی «ی» می‌آید، مانند «پرتوی آفتاب» و گاهی بدون آن، مانند «پرتوِ آفتاب». آوردن یا نیاوردن صامت میانجی «ی» تابع تلفّظ خواهد بود. ـ برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء»[۲] استفاده می‌شود: خانهٔ من، نامهٔ او ـ «ی»، در کلمه‌های عربی مختوم به «یٰ» (که «آ» تلفّظ می‌شود)، در اضافه به کلمهٔ بعد از خود، به «الف» تبدیل می‌شود: عیسای مسیح، موسای کلیم، هوای نَفْس، کُبْرای قیاس» (فرهنگستان، ۲۸) این کتاب البته توضیح نمی‌دهد که چرا «کسرهٔ اضافه» را نباید همیشه آورد. درباره‌یِ این دستورِ فرهنگستان ذکرِ چند نکته ضروری است: ۱ـ کتاب می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری». اما فرهنگستان در همین فصلِ کوتاه به قاعده‌یِ خود عمل نکرده است و «کسرهٔ اضافه» را در گروه‌هایی آورده است که نیاوردنِ آن در هیچ‌یک از آن‌ها ابهامی ایجاد نمی‌کند، مانندِ «حالتِ مضاف». اگر در کتاب بگردیم، شواهدِ فراوان می‌توان یافت که فرهنگستان از این قاعده‌یِ خود تخطی کرده است: «خصوصیاتِ خطّ فارسی» (ص ۹)، «تلفّظِ حروف»، «زبانِ معیارِ رایج در تهران»، «نواحی مختلفِ ایران» (ص ۱۱)، «سیاقِ عبارت» (ص ۱۳)، «مصوّتِ مرکب» (ص ۱۴)، «در پاسخ به پرسشِ منفی» (ص ۲۱). آیا جز این است که فرهنگستان این نشانه‌یِ اضافه را ازآن‌رو آورده تا خواننده جمله را بهتر بخواند؟ و اگر چنین است، در این صورت آیا آن قاعده اعتبارِ خود را از دست نمی‌دهد و نمی‌باید قاعده‌ای دیگر برای نشانه‌یِ اضافه نوشت؟ ۲ـ وقتی فرهنگستان می‌نویسد «برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء» استفاده می‌شود: خانهٔ من، نامهٔ او»، این احتمال وجود دارد که خواننده سهواً علامتِ «ء» را نیز نشانه‌یِ اضافه تصور کند و بپرسد: چرا فرهنگستان در این فصل و نیز در کلِ کتاب بدونِ استثنا این نشانه را در مواردی که هیچ ابهامی وجود ندارد، آورده است؟ مانندِ: خانهٔ من، نامهٔ او، حفظ چهرهٔ خطّ فارسی، نشانهٔ جمع، نشانهٔ همزه، مجموعهٔ اصول، کلّیهٔ اسناد رسمی، در حوزهٔ نگارش و … ازاین‌رو لازم بود در کتاب توضیحِ بیشتری دراین‌باره داده می‌شد. ۳ـ کتاب «دستورِ خط فارسی» درموردِ کلماتِ مختوم به واکه‌یِ /i/ مانند «مهربانی»، «جوانی» و «کوری» سکوت کرده است و نمی‌گوید که آیا باید پس از این کلمات صامتِ میانجیِ «ی» را آورد یا نیاورد؛ یعنی باید نوشت «مهربانیِ مادر» یا «مهربانی‌یِ مادر»؟ بنابراین می‌توان نتیجه گرفت که قاعده‌یِ «کسرهٔ اضافه» در این کتاب ابهام دارد و کامل نیست. نظرِ احمدِ بهمنیار احمدِ بهمنیار (۱۲۶۲- ۱۳۳۴) در «قاعده‌یِ اول» از خطابه‌یِ ورودیِ خود به فرهنگستان در بهمن‌ماهِ ۱۳۲۱ پیشنهاد کرد که به‌جایِ علامتِ «ء»، که درواقع کوتاه‌شده‌یِ «ی» است و در کلماتِ مختوم به هایِ غیرِملفوظ رویِ «ه» گذاشته می‌شود، همان «ی» را بنویسیم، یعنی به‌جایِ «پروانهٔ زیبا» بنویسیم «پروانه‌ی زیبا».[۳] این پیشنهادِ او را بعدها بسیاری از نویسندگان و ناشران به کار بستند. اما همان‌طور که پیشتر گفته شد، می‌باید به کلماتِ مختوم به مصوت پیش از نشانه‌یِ اضافه صدای /y/ را در گفتار و صامتِ میانجیِ «ی» را در نوشتار افزود. این موضوع را بیشتر بشکافیم: کلماتِ مختوم به مصوت‌هایِ /â/ (مانندِ خدا)، /o/ (مانندِ رادیو) و /u/ (مانندِ آهو) پیش از نشانه‌یِ اضافه یک صامتِ میانجیِ «ی» می‌گیرند: خدای فیلسوفان، رادیوی ماشین، آهوی صحرا. ما در این حالت فقط صامتِ میانجیِ «ی» را می‌گذاریم، اما مثلِ همیشه نشانه‌یِ اضافه را حذف می‌کنیم. اگر بخواهیم آن را بیاوریم، ‌باید بنویسیم: خدایِ فیلسوفان، رادیویِ ماشین، آهویِ صحرا. همین وضع درموردِ کلماتِ مختوم به هایِ غیرِملفوظ (مانندِ خانه) نیز صدق می‌کند، یعنی فقط آن صامتِ میانجیِ «ی» را، که رفته‌رفته با دخالتِ خوش‌نویسان به «ء» بر رویِ «ه» تبدیل شده است، می‌آوریم، اما خودِ نشانه‌یِ اضافه یعنی «کسره‌یِ اضافه» را نمی‌آوریم. بنابراین علامتِ «ء» نشانه‌یِ اضافه نیست، بلکه فقط صامتِ میانجیِ «ی» است. به‌عبارتِ‌دیگر اگر قرار است «خانهٔ من» را با «ی» و نشانه‌یِ اضافه بنویسیم، باید آن را به‌صورتِ «خانه‌یِ من» (با یایِ مکسور) نوشت. ازاین‌رو خطاست اگر گمان کنیم که در «خانهٔ من» و «پای برهنه» نشانه‌یِ اضافه را آورده‌ایم، زیرا نشانه‌یِ اضافه در خطِ فارسی فقط‌وفقط علامتِ «ـِ» (کسره) است و «ی» در کلماتِ مختوم به مصوت تنها نقشِ میانجیِ صامت را دارد، تا بتوان آوا و نویسه‌یِ کسره را به آن کلمات افزود. نقدِ دلایلِ نیاوردنِ نشانه‌یِ اضافه آنچه گفتیم، بیشتر مقدمه‌ای بود برایِ ورود به بحث و پرسشِ اصلی و نه بحثی زبان‌شناختی و جامع درباره‌یِ «کسرهٔ اضافه». پرسش این است: چرا نباید نشانه‌یِ اضافه را در خط آورد؟ شاید بتوان مهم‌ترین دلایلِ نیاوردنِ همیشگیِ نشانه‌یِ اضافه را به‌صورت زیر دسته‌بندی کرد:[۴] ۱ـ هر ایرانیِ توانا به خواندن و نوشتن به کمکِ شمِّ زبانیِ خود بودونبودِ این نشانه را مانندِ اِعرابِ کلمات در نوشته تشخیص می‌دهد و درنتیجه نیازی به آوردنِ آن نیست. ۲ـ نوشتنِ همیشگیِ نشانه‌یِ اضافه چهره‌یِ خطِ فارسی را زشت می‌کند و کثرتِ آن ازنظرِ بصری خوشایند نیست. ۳ـ الزام به آوردنِ همیشگیِ آن کارِ نوشتن را دشوار می‌کند و باری اضافی بر دوشِ نویسنده و ناشر است. این دلایل را بررسی کنیم: ـ ایران از اقوامِ گوناگون تشکیل شده است که زبانِ فارسی، زبانِ مادریِ همه‌یِ آنان نیست. بسیاری از افرادِ این اقوام زبانِ فارسی را تنها در مدرسه می‌آموزند. ازاین‌رو نمی‌توان نشانه‌یِ اضافه را حذف کرد و تشخیصِ آن را به شمِّ زبانیِ خواننده واگذاشت. ـ هر نوشته باید بتواند مستقل از شمِّ زبانی و سطحِ سوادِ خوانندگانش درست و بی غلط خوانده شود. ـ اگرچه باید به زیباییِ چهره‌یِ خطِ فارسی اهمیت داد، اما این امر نباید مانع و مخلِ درست خواندن و درست فهمیدن شود. ننوشتنِ این نشانه‌یِ مهم، به شرحی که بعداً خواهد آمد، خواندنِ متن‌هایِ فارسی را دشوار، سرعتِ خواندن را کند و فهمیدنِ درستِ منظورِ نویسنده را گاه با ابهام روبرو می‌کند. در نقدِ سخنِ کسانی که می‌گویند کثرتِ نشانه‌یِ اضافه چهره‌یِ خط را زشت و کارِ نوشتن را سخت می‌کند، کافی است آنان را به واژه‌یِ der در زبانِ آلمانی ارجاع داد که پربسامدترین واژه در این زبان است. تکرارِ این واژه چنان است که زبان‌شناسانِ آلمانی برایِ تعیینِ رتبه‌بندیِ بسامدِ واژه‌هایِ آلمانی همین واژه را مبنا قرار داده‌اند و بسامدِ سایرِ واژه‌ها را با آن سنجیده‌اند. به‌عنوانِ‌مثال بسامدِ Zimmer (اتاق) در رتبه‌یِ ۱۰ جای دارد، یعنی واژه‌یِ der، مطابقِ این تحقیقِ میدانی که در دانشگاهِ لایپ speziیکِ آلمان انجام گرفته است، ۲ به توان ۱۰، یعنی ۱۰۲۴ بار بیش از Zimmer در زبانِ آلمانی تداول دارد. بنابراین می‌توان حدس زد که این واژه تا چه حد در نوشته‌هایِ آلمانی تکرار می‌شود؛ اما هیچ آلمانی‌زبانی به این فکر نمی‌افتد که آن را با توسل به دلایلِ سه‌گانه‌یِ شمِّ زبانی، زیبایی‌شناسیِ خط و سهولتِ نوشتن نیاورد، زیرا این کار مفاهمه‌یِ اهلِ زبان را غیرممکن می‌کند، حال‌آنکه آوردنِ آن به نوشتار و به‌تبعِ آن به ذهن دقت و روشنی می‌بخشد. ـ آوردنِ نشانه‌یِ اضافه اگرچه از سرعتِ نوشتن می‌کاهد، اما سودش بسیار است. برایِ سهولتِ نوشتنِ آن می‌توان نرم‌افزارهایی برای صفحه‌کلید طراحی کرد که با فشردنِ کلیدِ مبدل و کلیدِ هر حرف هم‌زمان آن حرف و نشانه‌یِ اضافه را تایپ کند. ـ یکی دیگر از دلایلِ نیاوردنِ نشانه‌یِ اضافه چنین است: همان‌طور که ما کلمات را اِعراب‌گذاری نمی‌کنیم و می‌توانیم آن‌ها را بدونِ نشانه‌هایِ زیر و زبَر و پیش بخوانیم. به آوردنِ «کسره‌یِ اضافه» نیز نیازی نیست. به اشاره بگوییم که خطِ فارسی خطِ الفباییِ ناقص است، زیرا به‌عنوانِ‌مثال خودِ کلمه‌یِ «اتاق» به کمکِ حروفِ متشکله‌اش به ما نمی‌گوید که باید آن را چگونه بخوانیم، بلکه ما تلفظِ درستِ کلمه‌یِ «اتاق» را به ذهن می‌سپاریم و هر جا این «تصویر» را، چه با اِعراب و چه بی اِعراب، در خط دیدیم، درست تلفظ می‌کنیم؛[۵] اما بحثِ «کسره‌یِ اضافه» فراتر از اِعراب یا حرکاتِ حروف است، زیرا ما حتی با دانستنِ تلفظِ درستِ «اتاق» نیز نمی‌توانیم آن را در جمله درست بخوانیم و تلفظِ آن هر بار بسته به کلماتِ پس از آن و ساختِ جمله تغییر می‌کند. بنابراین این معضل ربطی به اِعراب ندارد و اِعراب نگذاشتنِ کلمات نیاوردنِ نشانه‌یِ اضافه را توجیه نمی‌کند. به‌بیانِ‌دیگر عمده‌یِ مشکلاتِ ما در بدخوانی و بدفهمی ناشی از تلفظِ کلمات نیست، بلکه نتیجه‌یِ درست تشخیص ندادنِ پیوندِ میانِ کلمات و نحوِ جمله است. نیاوردنِ نشانه‌یِ اضافه نقشی اساسی در این امر دارد. دلایلِ ضرورتِ نوشتنِ نشانه‌یِ اضافه اما ردِ دلایلِ نیاوردنِ نشانه‌یِ اضافه یا سست کردنِ آن‌ها نمی‌تواند به‌خودیِ‌خود دلیلی بر ضرورتِ نوشتنِ نشانه‌یِ اضافه تلقی شود. ازاین‌رو باید دراین‌باره نیز اندیشید و دلیل آورد. گروهِ واحدِ «در اتاق» را در نظر بگیرید که در آن هیچ نشانه‌یِ اضافه به کار نرفته است. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند «در اتاق» را بدونِ نشانه‌یِ اضافه درست بخواند و با قاطعیت بگوید که این است و جز این نیست. زیرا منظور از «در اتاق» می‌تواند هم «در داخلِ اتاق» و هم «درِ اتاق» باشد. اما مشکل تنها به اینجا ختم نمی‌شود. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند آن را مستقل از واژه‌ای که پس از این گروه می‌آید، درست بخواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست». واژه‌هایِ «نیست» و «نشیمن» در دو مثالِ بالا، که پس از «اتاق» آمده‌اند و در هنگامِ خواندنِ «اتاق» آن‌ها را نمی‌بینیم، تعیین می‌کنند که «اتاق» را چگونه بخوانیم. اما مشکل همچنان باقی است، زیرا گاهی حتی واژه‌یِ بعد نیز نمی‌تواند همیشه کمک کند تا جمله را درست بخوانیم و تنها ساختِ جمله به ما می‌گوید که «در» و «اتاق» را چگونه باید خواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست»، «پرویز در اتاق نشیمن را تعمیر کرد». گمان نکنید که مشکلاتِ نیاوردنِ نشانه‌یِ اضافه در اینجا پایان می‌یابد. گاه پیش می‌آید که نه واژه‌یِ بعد و نه ساختِ جمله هیچ‌یک نمی‌توانند به ما بگویند که باید این نشانه را میانِ دو کلمه فرض کرد یا نکرد: جمله‌یِ «معلم تازه وارد کلاس شد» می‌تواند «معلمْ تازه واردِ کلاس شد» خوانده شود و نیز «معلمِ تازه واردِ کلاس شد». جمله‌یِ «پدر پرویز را دید» را می‌توان هم «پدرْ پرویز را دید» خواند و هم «پدرِ پرویز را دید». همین‌طور جمله‌یِ «معلم بچه‌ها را شناخت» را می‌توان دو گونه خواند: ۱. «معلمْ بچه‌ها را شناخت»؛ ۲. «معلمِ بچه‌ها را شناخت». آیا خطی را می‌شناسید که مردمانش و حتی دانشمندانش در خواندنِ یک جمله‌یِ ساده این‌همه دشواری داشته باشند؟ همه‌یِ این مشکلات ناشی از این است که نوشتنِ نشانه‌یِ اضافه را ضروری نمی‌دانیم و همه‌جا نمی‌آوریم. شاید گفته شود که چشمِ ما در خواندنِ یک متن کلمه‌به‌کلمه پیش نمی‌رود، بلکه عبارت‌به‌عبارت تصویربرداری می‌کند. این سخن تا حدی درست است، اما دلایلِ بالا را باطل نمی‌کند: ۱ـ فقط چشمِ آزموده و آشنا به فنِ تندخوانی می‌تواند عبارت‌به‌عبارت ببیند، حال‌آنکه اکثرِ افراد کلمه‌به‌کلمه و نوآموزانِ زبان حرف‌به‌حرف می‌بینند و می‌خوانند. ۲ـ بسیار پیش می‌آید که کلماتِ طرفینِ نشانه‌یِ اضافه در یک سطر جای نمی‌گیرند و بخشی از آن به ابتدایِ سطرِ بعد منتقل می‌شود. در این حالت چشمِ خواننده نمی‌تواند از انتهایِ یک سطر و ابتدایِ سطرِ بعد تصویری واحد بردارد. ۳ـ مکرر اتفاق می‌افتد که این نشانه بیش از دو کلمه را به هم پیوند می‌دهد، مانندِ: فرهنگِ توصیفیِ دستورِ زبانِ فارسی، کتابِ سنجشِ خردِ نابِ فیلسوفِ نامدارِ آلمانی، مردِ اسب‌سوارِ دشت‌نشینِ صحراگردِ باران‌دیده. نیاوردنِ نشانه‌یِ اضافه یک زیانِ دیگر نیز دارد و آن کاربردِ نابجایِ ویرگول است. اکثرِ نوشته‌هایِ فارسی پر است از ویرگول‌هایِ نابجا. علتش نگرانیِ نویسنده است از اینکه مبادا خواننده کلماتِ جمله را به‌غلط با کسره‌یِ اضافه بخواند. ازاین‌رو در جمله از ویرگول به‌عنوانِ نشانه‌یِ درنگ استفاده می‌کند. اگر نشانه‌یِ اضافه همیشه آورده شود، نویسنده دیگر از این بابت ترسی نخواهد داشت و درنتیجه معضلِ ویرگول‌هایِ نابجا نیز خودبه‌خود برطرف می‌شود.[۶] آنچه گفتیم مربوط به جمله‌هایِ ساده بود. می‌توان حدس زد که وقتی جمله‌ها پیچیده می‌شوند، میزانِ بدخوانی و بدفهمیِ ما به طرزی تصاعدی افزایش می‌یابد. وقتی خواننده‌یِ ایرانی در ترجمه‌یِ کتابی از هگل می‌خواند «جهان روح از خودبیگانه شده»[۷] به‌راستی آن را چگونه بخواند و چگونه بفهمد؟ «جهانْ روحِ ازخودبیگانه‌شده»؟، «جهانِ روحْ از خود بیگانه شده»؟، «جهانِ روحِ ازخودبیگانه شده»؟ حال‌آنکه خواننده‌یِ آلمانی‌زبان هیچ مشکلی در خواندنِ درستِ اصل آن ندارد: Die Welt des sich entfremdeten Geistes. به‌بیانِ‌دیگر ما علاوه بر اینکه در درکِ اصطلاحِ «گایستِ» هگلی که مترجمانِ ما آن را «عقل» (حمیدِ عنایت)، «روح» (زیبا جبلی) و «جان» (باقرِ پرهام) ترجمه کرده‌اند، با دشواری روبرو هستیم، خطِ ما نیز این دشواری را دوچندان کرده و با نیاوردنِ نشانه‌یِ اضافه چنان نحوِ جمله را مبهم و فهمِ آن را تیره کرده است که نظیرش را شاید در کمتر خطی بتوان یافت. باید به‌صراحت اعتراف کرد که نیاوردنِ نشانه‌یِ اضافه باعثِ کندخوانی، دوباره‌خوانی، بدخوانی، دشوارفهمی و بدفهمی می‌شود. مشکلِ اصلی درواقع این است که واکه‌هایِ شش‌گانه‌یِ فارسی هیچ نماینده‌ای در الفبایِ خطِ فارسی ندارند و ازاین‌رو می‌توان گفت که خطِ فارسی خطی «غیرِ دمکراتیک» است؛ اما با نوشتنِ نشانه‌یِ اضافه می‌توان از شدتِ این ضعفِ خطِ فارسی تا حدی کاست. به‌جرئت می‌توان گفت که خطِ فارسی اگر نقادانه به خود ننگرد و در رفعِ معایبِ خود مجدانه نکوشد، هرگز قادر نیست جهانِ پهناورِ اندیشه را به‌روشنی در خود بازتاباند. یک‌لحظه پیشِ خود تصور کنید که انگلیسی‌زبانان یا آلمانی‌زبانان نشانه‌هایِ اضافه را در خطِ خود حذف کنند و آن را مثلِ ما ایرانیان به فراخورِ حال و شمِّ زبانیِ گویشورانشان واگذارند. نتیجه‌یِ آن کاملاً روشن است. درباره‌یِ ضرورت آوردنِ نشانه‌یِ اضافه بسیار می‌توان گفت. داریوشِ آشوری در مقاله‌یِ «چند پیشنهاد درباره‌یِ روشِ نگارش و خطِ فارسی» که نخست در مجله‌یِ نشرِ دانش در سال ۱۳۶۵ به چاپ رسید و اینک در کتابِ «بازاندیشیِ زبانِ فارسی» (آشوری، ۱۳۱) تجدیدِ چاپ شده است، حقِ مطلب را در این زمینه اَدا کرده است. او در نوشته‌هایش همه‌جا نشانه‌یِ اضافه را می‌آورد. کسانی که معتقدند آوردنِ این نشانه چهره‌یِ خطِ فارسی را زشت می‌کند، کافی است به‌عنوانِ نمونه کتابِ «چنین گفت زرتشتِ نیچه» با ترجمه‌یِ او را باز کنند و ببیند، آیا چهره‌یِ خطِ فارسی در آن کتاب زشت شده است؟ هر کس که با زبانِ فارسی آشناست، این کتاب را، باآنکه نثری کهن‌شیوه دارد، می‌تواند بی غلط بخواند، حال‌آنکه حتی دانشمندانِ ما در خواندنِ یک جمله‌یِ ساده که نشانه‌هایِ اضافه‌یِ آن حذف شده است، با دشواری روبرو هستند. اینکه هیچ‌یک از ما مطمئن نیستیم بتوانیم متنی را که قبلاً نخوانده‌ایم، بی غلط بخوانیم، بیش از همه ناشی از نیاوردنِ نشانه‌یِ اضافه در خط است. اخیراً میانِ برخی جوانان باب شده است که به‌عنوانِ‌مثال «دوستِ عزیز» را «دوسته عزیز» بنویسند. این کار بیش از آنکه ناشی از کم‌اطلاعیِ آنان از دستور و خطِ فارسی باشد، ناشیِ از ضعفِ خطِ فارسی و خو نکردن ما به آوردنِ نشانه‌یِ اضافه است. بنابراین به‌جایِ آنکه جوانان را ملامت کنیم، بهتر است در نگاهِ خود به نشانه‌یِ اضافه تجدیدِ‌نظر کنیم و آوردنِ آن را در همه‌جا ضروری بدانیم. پایانِ سخن خطِ فارسی که زمانی می‌توانست بدونِ نقطه‌گذاری و آوردنِ نشانه‌یِ اضافه و حتی بدونِ گذاشتنِ نقطه‌هایِ حروف در نسخِ خطی نیازهایِ کاربران و مخاطبانِ محدودِ خود را که به‌طور عمده در حوزه‌یِ شعر و ادب بود، برآورد، اکنون قادر نیست با همان شیوه‌یِ کهن این حجمِ انبوه از دانش و فن و فلسفه را به میلیون‌ها کاربر و مخاطبِ خود به‌درستی عرضه کند. خوشبختانه با ظهور و رواجِ رایانه‌ها و ورودِ ویراستارانِ حرفه‌ای به عرصه‌یِ نشر پیشرفت‌هایِ بسیار کرده‌ایم، اما نمی‌توان همچنان به ضرورتِ آوردنِ نشانه‌یِ اضافه در خط بی‌اعتنا بود. همان‌طور که ما اکنون تمامِ نقطه‌هایِ حروفِ نقطه‌دار را می‌گذاریم، انتهایِ جمله‌ها را بدونِ استثنا با نقطه می‌بندیم، هر جمله‌یِ پرسشی را با علامتِ سئوال (؟) مشخص می‌کنیم، نقل‌قول‌ها را در درونِ دو گیومه («» یا ” “) می‌آوریم، در صورتِ لزوم در متن از نشانه‌هایی مانندِ ویرگول (،)، نقطه‌ویرگول (؛)، دونقطه (:)، پرانتز ()، قلاب []، خطِ‌تیره (-)، علامتِ تعجب (!) و مانندِ آن استفاده می‌کنیم، بینِ کلمات بدونِ استثنا یک فاصله‌یِ تمام می‌گذاریم، مراقبیم که فاصله را نیم‌فاصله و نیم‌فاصله را فاصله نزنیم، رفته‌رفته به جدانویسیِ کلمات عادت کرده‌ایم و مانندِ کتابِ «دستورِ پنج استاد» نمی‌نویسیم: «نمیتوان»، «بهمخاطب»، «کلماتیکه»، «مختوم بالف»، «بهمند»، «بکلمه»، و هیچ‌یک از این کارها را سخت یا زشت کردنِ چهره‌یِ خطِ فارسی نمی‌دانیم، پس می‌توان به نوشتنِ نشانه‌یِ اضافه نیز عادت کرد و آن را بدونِ استثنا آورد و آوردن یا نیاوردنِ آن را به میلِ نویسنده و تشخیصِ بودونبودِ آن را به خواننده واگذار نکرد. منابع: – انوری، حسن؛ احمدی گیوی، حسن، ۱۳۹۳. دستورِ زبانِ فارسی ۲. تهران، انتشاراتِ فاطمی. – طباطبایی، علاءالدین. ۱۳۹۵، فرهنگِ توصیفیِ دستورِ زبانِ فارسی. تهران، فرهنگِ معاصر. – آشوری، داریوش، ۱۳۷۵، بازاندیشیِ زبانِ فارسی. تهران، نشرِ مرکز. – فرهنگستان، ۱۳۹۴، دستورِ خطِ فارسی. تهران، فرهنگستانِ زبان و ادبِ فارسی (نشرِ آثار). یادداشت‌ها [۱] متأسفانه این نشانه‌یِ مهم در خطِ فارسی نامِ واحد و گویایی ندارد: دستورنویسانِ ما آن را «کسرهٔ اضافه»، «نقش‌نمایِ اضافه»، «علامتِ اضافه» و «نشانهٔ اضافه» نامیده‌اند. این نشانه را برخی «نقش‌نما» یا «حرف» تلقی کرده‌اند (انوری، ۲۷۸)، حال‌آنکه برخی دیگر «واژه‌بست» (clitic/ Klitikon) دانسته‌اند (طباطبایی، ۵۲۰). لفظِ «اضافه» نیز برایِ این نشانه چندان مناسب نیست، زیرا این نشانه نه‌فقط در حالتِ اضافه و بینِ مضاف و مضاف‌الیه، بلکه میانِ موصوف و صفت نیز ظاهر می‌شود، مگر آنکه «اضافه» را در اینجا به معنایِ دستوریِ آن درک نکنیم. [۲] این علامت کوتاه‌شده‌یِ «ی» است. [۳] این خطابه که به «رسالهٔ املایِ فارسی: پیشنهاد به مقامِ فرهنگستان» مشهور است، اکنون در لغت‌نامهٔ دهخدا و ویکی‌نبشته در دسترس است. [۴] همان‌طور که گفته شد، فرهنگستان در این زمینه توضیحی نمی‌دهد. جستجویِ من برایِ یافتنِ نوشته‌ای که در آن دلایلِ نیاوردنِ نشانه‌یِ اضافه را ذکر کرده باشد، بی‌نتیجه بود. ازاین‌رو این دلایل بیشتر بر پایه‌یِ شنیده‌ها و نامه‌نگاری‌هایم استوار است. [۵] در این مختصر نمی‌توان شرح داد که این امر چه پیامدهایی برایِ ما و ذهنِ ما داشته است. فقط به اشاره می‌توان گفت که یکی از دلایلی که ما حافظه‌ای نیرومند داریم، اما قدرتِ تحلیلِ ما ضعیف است، به‌عبارت‌دیگر بیشتر اهلِ «نقل» هستیم و کمتر اهلِ «عقل» – که بازتابِ آن را در سیاست هم می‌توان دید- به حضورِ فرهنگِ گفتاری و خطِ صامتِ ‌الفباییِ ناقصِ ما مربوط می‌شود. [۶] برای اطلاعِ بیشتر دربارهٔ کاربردِ نابجایِ ویرگول بنگرید به کتابِ ویرگول‌گذاری و مبانیِ نظریِ آن: کاربردِ بجا و نابجایِ ویرگول از صاحبِ این قلم. [۷] فنومنولوژی روح/ هگل؛ ترجمهٔ زیبا جبلی، ص ۳. نظر داریوش آشوری: *مقاله‌ی سنجیده و جامعی ست در باره‌ی داستان «کسره‌ی اضافه» به قلم آقای افشاری. از این دست پژوهش‌های باریک‌بینانه و سنجیده در باره‌ی مسائل زبان نگاره‌ی فارسی از ایشان پیش از این چند جستار منتشر شده است. در باره‌ی این مبحث من هم در سال‌های گذشته نوشته‌ام و در کتابِ «بازاندیشیِ زبانِ فارسی» می‌توان یافت. این که فرهنگستان زبان در دستورنامه‌ی خود در باره‌ی «خط فارسی» این مورد را با نگاهِ ادیبانه، نه زبان‌شناسانه، نه با منطق علمی بلکه با پیروی از عادت‌های نوشتاریِ به ارث رسیده، «زیرسبیلی» در می‌کند، جای شگفتی نیست. زیرا ذهن ما هنوز به فهم علمیِ مدرن، و بالاتر از آن به کار بستنِ این گونه فهم‌ در رفتار و نوشتار، خو نگرفته است. به یاد دارم که سالیانی پیش در ایران با دو تن از هموندان فرهنگستان در این باره بحث می‌کردم، در پاسخِ این پرسش که «این به‌اصطلاح کسره‌ی اضافه چیست که باید یا نباید نوشته شود؟»، پاسخ این بود که، «مگر ما بی‌سواد ایم که باید آن را بنویسیم!» هنگامی من ضرورتِ نوشتنِ آن را به‌ویژه برای متن‌های علمی و فلسفی مدرن طرح کردم و این مقاله نخستین بار در مجله‌ی «نشر دانش» چاپ شد، مردِ ادیب و زبان‌شناسی مانندِ آقای احمد سمیعی گیلانی، سردبیر «نامه‌ی فرهنگستان» و مردِ نکونامِ با همت و با فرهنگی مانند علی میرزایی، سردبیرِ «نگاهِ نو»، منطق آن را پذیرفتند و در مجله‌ی خود به کار بستند، اما به‌زودی بر اثر فشاری که اهلِ قلم، و در مورد نخستین «شورای فرهنگستان» پشت‌شان گذاشتند، ناگزیر وادار به عقب‌نشینی شدند. با این همه‌، این روش و پیشنهاد از راهِ کتاب‌‌های من و برخی دیگر از نویسندگان و مترجمان و ویراستاران در حال پذیرشِ بیش و بیش‌تر است، از جمله آقای جعفرِ مدرس صادقی آن را با دقت در ویرایش متن‌های کهن این روش را به‌کار می‌بندد. و من خرسند ام که پژوهنده‌یِ با پشتکار و دل‌سوزی مانندِ رحمانِ افشاری نیز با منطق روشن علمی پیگیرِ این داستان است. یکی از جاهایی که نوشتنِ این «کسره» برای درست‌خوانی و پرهیز از ابهام یا نادرست‌خوانی ضرورتِ بی‌چون-و-چرا دارد، در کارِ فرهنگ‌نویسیِ امروزین است. جای آن را به‌درستی در فرهنگ‌های ارزنده‌ای که با دیدِ تازه در این دو-سه دهه تألیف شده است، خالی می‌بینم. اشاره‌ام یکی به «فرهنگِ سخن»، به ویراستاریِ آقای حسن انوری ست و دیگر به «فرهنگِ جامعِ فارسی» به ویراستاریِ آقای علی‌اشرف صادقی. چنان که در دو-سه جای دیگر نوشته‌ام، این «کسره‌ی اضافه»، اگرچه از نظرِ ساختارِ آوایی تنها از یک مصوّت تشکیل شده است، ولی از نظرِ نقشِ دستوری یک تکواژ است با نقشِ پربسامدِ یک «واژه‌ی دستوری» (grammatical word) و همه جا باید نوشته شود. که افشاری در این باره به‌خوبی مسأله را روشن کرده است.",
              "type": "word",
            }

+ Response 200 (application/json)

            {
              "result": "- نوشتن نشانه ی اضافه در خط فارسی ضروری است.\n- حذف نشانه اضافه باعث بدخوانی و ابهام می شود.\n- نشانه اضافه، کسره اضافه یا واج /e/ است.\n- کسره اضافه دو کلمه را به هم پیوند می دهد.\n- عدم استفاده از کسره اضافه در خط فارسی باعث کندخوانی، دوباره‌خوانی، بدخوانی، دشوارفهمی و بدفهمی می‌شود.",
              "info": {
                "in_token": 0,
                "out_token": 0,
                "type": "word",
                "document_url": null
              },
              "content": "در ضرورتِ نوشتنِ نشانه‌یِ اضافه رحمانِ افشاری «خط برای خوانده شدن اختراع شده و کمالِ زیبایی و جمالش این است که در کمالِ آسانی خوانده شود.» احمدِ بهمنیار اشاره: درباره‌یِ نشانه‌یِ اضافه مقاله‌هایِ بسیار نوشته شده، اما در ضرورتِ حضورِ همیشگیِ آن در خط کم گفته شده است. این مقاله می‌کوشد این ضرورت را نشان دهد. تعریف نشانه‌یِ اضافه، که به آن کسره‌یِ اضافه نیز می‌گویند، مصوت یا واکه‌یِ /e/ است که دو کلمه را به هم پیوند می‌دهد و آن‌ها را به یک گروهِ واحد یا جزئی از یک گروهِ واحد تبدیل می‌کند. این نشانه برای پیوند دادنِ مقوله‌هایِ دستوریِ زیر به کار می‌رود: ۱ـ اسم و صفت: درختانِ سبز ۲ـ اسم و اسم: جلدِ کتاب ۳ـ صفت و صفت: آبیِ روشن ۴ـ قید و قید: فوریِ فوری ۵ـ حرفِ اضافه و اسم یا گروهِ اسمیِ پس‌ازآن: برایِ سرگرمی، به‌خاطرِ کمبودِ آب، بر رویِ میز. اگر واژه‌ای به واکه ختم شود، وقتی می‌خواهیم نشانه‌یِ اضافه را به آن بیفزاییم، اول صدایِ y (= ی) را به آن اضافه می‌کنیم، بعد نشانه‌یِ اضافه را می‌آوریم: بویِ خاک، لوله‌یِ بخاری، آبیِ روشن. (طباطبایی، ۵۱۸ به بعد.) [۱] البته می‌توان به این فهرست مواردی دیگر نیز افزود، مانندِ: – اسم و ضمیر: کتابِ من، حقِ خود، توصیه‌یِ شما. – ضمیر و صفت: منِ ازهمه‌جابی‌خبر، منِ پیرِ ازکارافتاده. عدد اکنون جزو صفت به شمار می‌رود: کلاسِ سوم، سده‌یِ بیستم، سالِ ۱۳۹۶. نقدِ دستورِ فرهنگستان در موردِ نشانه‌یِ اضافه مرسوم است که این نشانه‌یِ مهم در خط یا به تعبیرِ داریوشِ آشوری «زبان‌نگاره» را ننویسند، جز در مواردی که ننوشتنِ آن ایجادِ ابهام کند. فرهنگستانِ زبان و ادبِ فارسی در کتابِ دستورِ خطِ فارسی در فصلِ «کسرهٔ اضافه» دراین‌باره چنین می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری ـ کلماتی مانند رهرو، پرتو، جلو، در حالتِ مضاف، گاهی با صامت میانجی «ی» می‌آید، مانند «پرتوی آفتاب» و گاهی بدون آن، مانند «پرتوِ آفتاب». آوردن یا نیاوردن صامت میانجی «ی» تابع تلفّظ خواهد بود. ـ برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء»[۲] استفاده می‌شود: خانهٔ من، نامهٔ او ـ «ی»، در کلمه‌های عربی مختوم به «یٰ» (که «آ» تلفّظ می‌شود)، در اضافه به کلمهٔ بعد از خود، به «الف» تبدیل می‌شود: عیسای مسیح، موسای کلیم، هوای نَفْس، کُبْرای قیاس» (فرهنگستان، ۲۸) این کتاب البته توضیح نمی‌دهد که چرا «کسرهٔ اضافه» را نباید همیشه آورد. درباره‌یِ این دستورِ فرهنگستان ذکرِ چند نکته ضروری است: ۱ـ کتاب می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری». اما فرهنگستان در همین فصلِ کوتاه به قاعده‌یِ خود عمل نکرده است و «کسرهٔ اضافه» را در گروه‌هایی آورده است که نیاوردنِ آن در هیچ‌یک از آن‌ها ابهامی ایجاد نمی‌کند، مانندِ «حالتِ مضاف». اگر در کتاب بگردیم، شواهدِ فراوان می‌توان یافت که فرهنگستان از این قاعده‌یِ خود تخطی کرده است: «خصوصیاتِ خطّ فارسی» (ص ۹)، «تلفّظِ حروف»، «زبانِ معیارِ رایج در تهران»، «نواحی مختلفِ ایران» (ص ۱۱)، «سیاقِ عبارت» (ص ۱۳)، «مصوّتِ مرکب» (ص ۱۴)، «در پاسخ به پرسشِ منفی» (ص ۲۱). آیا جز این است که فرهنگستان این نشانه‌یِ اضافه را ازآن‌رو آورده تا خواننده جمله را بهتر بخواند؟ و اگر چنین است، در این صورت آیا آن قاعده اعتبارِ خود را از دست نمی‌دهد و نمی‌باید قاعده‌ای دیگر برای نشانه‌یِ اضافه نوشت؟ ۲ـ وقتی فرهنگستان می‌نویسد «برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء» استفاده می‌شود: خانهٔ من، نامهٔ او»، این احتمال وجود دارد که خواننده سهواً علامتِ «ء» را نیز نشانه‌یِ اضافه تصور کند و بپرسد: چرا فرهنگستان در این فصل و نیز در کلِ کتاب بدونِ استثنا این نشانه را در مواردی که هیچ ابهامی وجود ندارد، آورده است؟ مانندِ: خانهٔ من، نامهٔ او، حفظ چهرهٔ خطّ فارسی، نشانهٔ جمع، نشانهٔ همزه، مجموعهٔ اصول، کلّیهٔ اسناد رسمی، در حوزهٔ نگارش و … ازاین‌رو لازم بود در کتاب توضیحِ بیشتری دراین‌باره داده می‌شد. ۳ـ کتاب «دستورِ خط فارسی» درموردِ کلماتِ مختوم به واکه‌یِ /i/ مانند «مهربانی»، «جوانی» و «کوری» سکوت کرده است و نمی‌گوید که آیا باید پس از این کلمات صامتِ میانجیِ «ی» را آورد یا نیاورد؛ یعنی باید نوشت «مهربانیِ مادر» یا «مهربانی‌یِ مادر»؟ بنابراین می‌توان نتیجه گرفت که قاعده‌یِ «کسرهٔ اضافه» در این کتاب ابهام دارد و کامل نیست. نظرِ احمدِ بهمنیار احمدِ بهمنیار (۱۲۶۲- ۱۳۳۴) در «قاعده‌یِ اول» از خطابه‌یِ ورودیِ خود به فرهنگستان در بهمن‌ماهِ ۱۳۲۱ پیشنهاد کرد که به‌جایِ علامتِ «ء»، که درواقع کوتاه‌شده‌یِ «ی» است و در کلماتِ مختوم به هایِ غیرِملفوظ رویِ «ه» گذاشته می‌شود، همان «ی» را بنویسیم، یعنی به‌جایِ «پروانهٔ زیبا» بنویسیم «پروانه‌ی زیبا».[۳] این پیشنهادِ او را بعدها بسیاری از نویسندگان و ناشران به کار بستند. اما همان‌طور که پیشتر گفته شد، می‌باید به کلماتِ مختوم به مصوت پیش از نشانه‌یِ اضافه صدای /y/ را در گفتار و صامتِ میانجیِ «ی» را در نوشتار افزود. این موضوع را بیشتر بشکافیم: کلماتِ مختوم به مصوت‌هایِ /â/ (مانندِ خدا)، /o/ (مانندِ رادیو) و /u/ (مانندِ آهو) پیش از نشانه‌یِ اضافه یک صامتِ میانجیِ «ی» می‌گیرند: خدای فیلسوفان، رادیوی ماشین، آهوی صحرا. ما در این حالت فقط صامتِ میانجیِ «ی» را می‌گذاریم، اما مثلِ همیشه نشانه‌یِ اضافه را حذف می‌کنیم. اگر بخواهیم آن را بیاوریم، ‌باید بنویسیم: خدایِ فیلسوفان، رادیویِ ماشین، آهویِ صحرا. همین وضع درموردِ کلماتِ مختوم به هایِ غیرِملفوظ (مانندِ خانه) نیز صدق می‌کند، یعنی فقط آن صامتِ میانجیِ «ی» را، که رفته‌رفته با دخالتِ خوش‌نویسان به «ء» بر رویِ «ه» تبدیل شده است، می‌آوریم، اما خودِ نشانه‌یِ اضافه یعنی «کسره‌یِ اضافه» را نمی‌آوریم. بنابراین علامتِ «ء» نشانه‌یِ اضافه نیست، بلکه فقط صامتِ میانجیِ «ی» است. به‌عبارتِ‌دیگر اگر قرار است «خانهٔ من» را با «ی» و نشانه‌یِ اضافه بنویسیم، باید آن را به‌صورتِ «خانه‌یِ من» (با یایِ مکسور) نوشت. ازاین‌رو خطاست اگر گمان کنیم که در «خانهٔ من» و «پای برهنه» نشانه‌یِ اضافه را آورده‌ایم، زیرا نشانه‌یِ اضافه در خطِ فارسی فقط‌وفقط علامتِ «ـِ» (کسره) است و «ی» در کلماتِ مختوم به مصوت تنها نقشِ میانجیِ صامت را دارد، تا بتوان آوا و نویسه‌یِ کسره را به آن کلمات افزود. نقدِ دلایلِ نیاوردنِ نشانه‌یِ اضافه آنچه گفتیم، بیشتر مقدمه‌ای بود برایِ ورود به بحث و پرسشِ اصلی و نه بحثی زبان‌شناختی و جامع درباره‌یِ «کسرهٔ اضافه». پرسش این است: چرا نباید نشانه‌یِ اضافه را در خط آورد؟ شاید بتوان مهم‌ترین دلایلِ نیاوردنِ همیشگیِ نشانه‌یِ اضافه را به‌صورت زیر دسته‌بندی کرد:[۴] ۱ـ هر ایرانیِ توانا به خواندن و نوشتن به کمکِ شمِّ زبانیِ خود بودونبودِ این نشانه را مانندِ اِعرابِ کلمات در نوشته تشخیص می‌دهد و درنتیجه نیازی به آوردنِ آن نیست. ۲ـ نوشتنِ همیشگیِ نشانه‌یِ اضافه چهره‌یِ خطِ فارسی را زشت می‌کند و کثرتِ آن ازنظرِ بصری خوشایند نیست. ۳ـ الزام به آوردنِ همیشگیِ آن کارِ نوشتن را دشوار می‌کند و باری اضافی بر دوشِ نویسنده و ناشر است. این دلایل را بررسی کنیم: ـ ایران از اقوامِ گوناگون تشکیل شده است که زبانِ فارسی، زبانِ مادریِ همه‌یِ آنان نیست. بسیاری از افرادِ این اقوام زبانِ فارسی را تنها در مدرسه می‌آموزند. ازاین‌رو نمی‌توان نشانه‌یِ اضافه را حذف کرد و تشخیصِ آن را به شمِّ زبانیِ خواننده واگذاشت. ـ هر نوشته باید بتواند مستقل از شمِّ زبانی و سطحِ سوادِ خوانندگانش درست و بی غلط خوانده شود. ـ اگرچه باید به زیباییِ چهره‌یِ خطِ فارسی اهمیت داد، اما این امر نباید مانع و مخلِ درست خواندن و درست فهمیدن شود. ننوشتنِ این نشانه‌یِ مهم، به شرحی که بعداً خواهد آمد، خواندنِ متن‌هایِ فارسی را دشوار، سرعتِ خواندن را کند و فهمیدنِ درستِ منظورِ نویسنده را گاه با ابهام روبرو می‌کند. در نقدِ سخنِ کسانی که می‌گویند کثرتِ نشانه‌یِ اضافه چهره‌یِ خط را زشت و کارِ نوشتن را سخت می‌کند، کافی است آنان را به واژه‌یِ der در زبانِ آلمانی ارجاع داد که پربسامدترین واژه در این زبان است. تکرارِ این واژه چنان است که زبان‌شناسانِ آلمانی برایِ تعیینِ رتبه‌بندیِ بسامدِ واژه‌هایِ آلمانی همین واژه را مبنا قرار داده‌اند و بسامدِ سایرِ واژه‌ها را با آن سنجیده‌اند. به‌عنوانِ‌مثال بسامدِ Zimmer (اتاق) در رتبه‌یِ ۱۰ جای دارد، یعنی واژه‌یِ der، مطابقِ این تحقیقِ میدانی که در دانشگاهِ لایپ speziیکِ آلمان انجام گرفته است، ۲ به توان ۱۰، یعنی ۱۰۲۴ بار بیش از Zimmer در زبانِ آلمانی تداول دارد. بنابراین می‌توان حدس زد که این واژه تا چه حد در نوشته‌هایِ آلمانی تکرار می‌شود؛ اما هیچ آلمانی‌زبانی به این فکر نمی‌افتد که آن را با توسل به دلایلِ سه‌گانه‌یِ شمِّ زبانی، زیبایی‌شناسیِ خط و سهولتِ نوشتن نیاورد، زیرا این کار مفاهمه‌یِ اهلِ زبان را غیرممکن می‌کند، حال‌آنکه آوردنِ آن به نوشتار و به‌تبعِ آن به ذهن دقت و روشنی می‌بخشد. ـ آوردنِ نشانه‌یِ اضافه اگرچه از سرعتِ نوشتن می‌کاهد، اما سودش بسیار است. برایِ سهولتِ نوشتنِ آن می‌توان نرم‌افزارهایی برای صفحه‌کلید طراحی کرد که با فشردنِ کلیدِ مبدل و کلیدِ هر حرف هم‌زمان آن حرف و نشانه‌یِ اضافه را تایپ کند. ـ یکی دیگر از دلایلِ نیاوردنِ نشانه‌یِ اضافه چنین است: همان‌طور که ما کلمات را اِعراب‌گذاری نمی‌کنیم و می‌توانیم آن‌ها را بدونِ نشانه‌هایِ زیر و زبَر و پیش بخوانیم. به آوردنِ «کسره‌یِ اضافه» نیز نیازی نیست. به اشاره بگوییم که خطِ فارسی خطِ الفباییِ ناقص است، زیرا به‌عنوانِ‌مثال خودِ کلمه‌یِ «اتاق» به کمکِ حروفِ متشکله‌اش به ما نمی‌گوید که باید آن را چگونه بخوانیم، بلکه ما تلفظِ درستِ کلمه‌یِ «اتاق» را به ذهن می‌سپاریم و هر جا این «تصویر» را، چه با اِعراب و چه بی اِعراب، در خط دیدیم، درست تلفظ می‌کنیم؛[۵] اما بحثِ «کسره‌یِ اضافه» فراتر از اِعراب یا حرکاتِ حروف است، زیرا ما حتی با دانستنِ تلفظِ درستِ «اتاق» نیز نمی‌توانیم آن را در جمله درست بخوانیم و تلفظِ آن هر بار بسته به کلماتِ پس از آن و ساختِ جمله تغییر می‌کند. بنابراین این معضل ربطی به اِعراب ندارد و اِعراب نگذاشتنِ کلمات نیاوردنِ نشانه‌یِ اضافه را توجیه نمی‌کند. به‌بیانِ‌دیگر عمده‌یِ مشکلاتِ ما در بدخوانی و بدفهمی ناشی از تلفظِ کلمات نیست، بلکه نتیجه‌یِ درست تشخیص ندادنِ پیوندِ میانِ کلمات و نحوِ جمله است. نیاوردنِ نشانه‌یِ اضافه نقشی اساسی در این امر دارد. دلایلِ ضرورتِ نوشتنِ نشانه‌یِ اضافه اما ردِ دلایلِ نیاوردنِ نشانه‌یِ اضافه یا سست کردنِ آن‌ها نمی‌تواند به‌خودیِ‌خود دلیلی بر ضرورتِ نوشتنِ نشانه‌یِ اضافه تلقی شود. ازاین‌رو باید دراین‌باره نیز اندیشید و دلیل آورد. گروهِ واحدِ «در اتاق» را در نظر بگیرید که در آن هیچ نشانه‌یِ اضافه به کار نرفته است. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند «در اتاق» را بدونِ نشانه‌یِ اضافه درست بخواند و با قاطعیت بگوید که این است و جز این نیست. زیرا منظور از «در اتاق» می‌تواند هم «در داخلِ اتاق» و هم «درِ اتاق» باشد. اما مشکل تنها به اینجا ختم نمی‌شود. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند آن را مستقل از واژه‌ای که پس از این گروه می‌آید، درست بخواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست». واژه‌هایِ «نیست» و «نشیمن» در دو مثالِ بالا، که پس از «اتاق» آمده‌اند و در هنگامِ خواندنِ «اتاق» آن‌ها را نمی‌بینیم، تعیین می‌کنند که «اتاق» را چگونه بخوانیم. اما مشکل همچنان باقی است، زیرا گاهی حتی واژه‌یِ بعد نیز نمی‌تواند همیشه کمک کند تا جمله را درست بخوانیم و تنها ساختِ جمله به ما می‌گوید که «در» و «اتاق» را چگونه باید خواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست»، «پرویز در اتاق نشیمن را تعمیر کرد». گمان نکنید که مشکلاتِ نیاوردنِ نشانه‌یِ اضافه در اینجا پایان می‌یابد. گاه پیش می‌آید که نه واژه‌یِ بعد و نه ساختِ جمله هیچ‌یک نمی‌توانند به ما بگویند که باید این نشانه را میانِ دو کلمه فرض کرد یا نکرد: جمله‌یِ «معلم تازه وارد کلاس شد» می‌تواند «معلمْ تازه واردِ کلاس شد» خوانده شود و نیز «معلمِ تازه واردِ کلاس شد». جمله‌یِ «پدر پرویز را دید» را می‌توان هم «پدرْ پرویز را دید» خواند و هم «پدرِ پرویز را دید». همین‌طور جمله‌یِ «معلم بچه‌ها را شناخت» را می‌توان دو گونه خواند: ۱. «معلمْ بچه‌ها را شناخت»؛ ۲. «معلمِ بچه‌ها را شناخت». آیا خطی را می‌شناسید که مردمانش و حتی دانشمندانش در خواندنِ یک جمله‌یِ ساده این‌همه دشواری داشته باشند؟ همه‌یِ این مشکلات ناشی از این است که نوشتنِ نشانه‌یِ اضافه را ضروری نمی‌دانیم و همه‌جا نمی‌آوریم. شاید گفته شود که چشمِ ما در خواندنِ یک متن کلمه‌به‌کلمه پیش نمی‌رود، بلکه عبارت‌به‌عبارت تصویربرداری می‌کند. این سخن تا حدی درست است، اما دلایلِ بالا را باطل نمی‌کند: ۱ـ فقط چشمِ آزموده و آشنا به فنِ تندخوانی می‌تواند عبارت‌به‌عبارت ببیند، حال‌آنکه اکثرِ افراد کلمه‌به‌کلمه و نوآموزانِ زبان حرف‌به‌حرف می‌بینند و می‌خوانند. ۲ـ بسیار پیش می‌آید که کلماتِ طرفینِ نشانه‌یِ اضافه در یک سطر جای نمی‌گیرند و بخشی از آن به ابتدایِ سطرِ بعد منتقل می‌شود. در این حالت چشمِ خواننده نمی‌تواند از انتهایِ یک سطر و ابتدایِ سطرِ بعد تصویری واحد بردارد. ۳ـ مکرر اتفاق می‌افتد که این نشانه بیش از دو کلمه را به هم پیوند می‌دهد، مانندِ: فرهنگِ توصیفیِ دستورِ زبانِ فارسی، کتابِ سنجشِ خردِ نابِ فیلسوفِ نامدارِ آلمانی، مردِ اسب‌سوارِ دشت‌نشینِ صحراگردِ باران‌دیده. نیاوردنِ نشانه‌یِ اضافه یک زیانِ دیگر نیز دارد و آن کاربردِ نابجایِ ویرگول است. اکثرِ نوشته‌هایِ فارسی پر است از ویرگول‌هایِ نابجا. علتش نگرانیِ نویسنده است از اینکه مبادا خواننده کلماتِ جمله را به‌غلط با کسره‌یِ اضافه بخواند. ازاین‌رو در جمله از ویرگول به‌عنوانِ نشانه‌یِ درنگ استفاده می‌کند. اگر نشانه‌یِ اضافه همیشه آورده شود، نویسنده دیگر از این بابت ترسی نخواهد داشت و درنتیجه معضلِ ویرگول‌هایِ نابجا نیز خودبه‌خود برطرف می‌شود.[۶] آنچه گفتیم مربوط به جمله‌هایِ ساده بود. می‌توان حدس زد که وقتی جمله‌ها پیچیده می‌شوند، میزانِ بدخوانی و بدفهمیِ ما به طرزی تصاعدی افزایش می‌یابد. وقتی خواننده‌یِ ایرانی در ترجمه‌یِ کتابی از هگل می‌خواند «جهان روح از خودبیگانه شده»[۷] به‌راستی آن را چگونه بخواند و چگونه بفهمد؟ «جهانْ روحِ ازخودبیگانه‌شده»؟، «جهانِ روحْ از خود بیگانه شده»؟، «جهانِ روحِ ازخودبیگانه شده»؟ حال‌آنکه خواننده‌یِ آلمانی‌زبان هیچ مشکلی در خواندنِ درستِ اصل آن ندارد: Die Welt des sich entfremdeten Geistes. به‌بیانِ‌دیگر ما علاوه بر اینکه در درکِ اصطلاحِ «گایستِ» هگلی که مترجمانِ ما آن را «عقل» (حمیدِ عنایت)، «روح» (زیبا جبلی) و «جان» (باقرِ پرهام) ترجمه کرده‌اند، با دشواری روبرو هستیم، خطِ ما نیز این دشواری را دوچندان کرده و با نیاوردنِ نشانه‌یِ اضافه چنان نحوِ جمله را مبهم و فهمِ آن را تیره کرده است که نظیرش را شاید در کمتر خطی بتوان یافت. باید به‌صراحت اعتراف کرد که نیاوردنِ نشانه‌یِ اضافه باعثِ کندخوانی، دوباره‌خوانی، بدخوانی، دشوارفهمی و بدفهمی می‌شود. مشکلِ اصلی درواقع این است که واکه‌هایِ شش‌گانه‌یِ فارسی هیچ نماینده‌ای در الفبایِ خطِ فارسی ندارند و ازاین‌رو می‌توان گفت که خطِ فارسی خطی «غیرِ دمکراتیک» است؛ اما با نوشتنِ نشانه‌یِ اضافه می‌توان از شدتِ این ضعفِ خطِ فارسی تا حدی کاست. به‌جرئت می‌توان گفت که خطِ فارسی اگر نقادانه به خود ننگرد و در رفعِ معایبِ خود مجدانه نکوشد، هرگز قادر نیست جهانِ پهناورِ اندیشه را به‌روشنی در خود بازتاباند. یک‌لحظه پیشِ خود تصور کنید که انگلیسی‌زبانان یا آلمانی‌زبانان نشانه‌هایِ اضافه را در خطِ خود حذف کنند و آن را مثلِ ما ایرانیان به فراخورِ حال و شمِّ زبانیِ گویشورانشان واگذارند. نتیجه‌یِ آن کاملاً روشن است. درباره‌یِ ضرورت آوردنِ نشانه‌یِ اضافه بسیار می‌توان گفت. داریوشِ آشوری در مقاله‌یِ «چند پیشنهاد درباره‌یِ روشِ نگارش و خطِ فارسی» که نخست در مجله‌یِ نشرِ دانش در سال ۱۳۶۵ به چاپ رسید و اینک در کتابِ «بازاندیشیِ زبانِ فارسی» (آشوری، ۱۳۱) تجدیدِ چاپ شده است، حقِ مطلب را در این زمینه اَدا کرده است. او در نوشته‌هایش همه‌جا نشانه‌یِ اضافه را می‌آورد. کسانی که معتقدند آوردنِ این نشانه چهره‌یِ خطِ فارسی را زشت می‌کند، کافی است به‌عنوانِ نمونه کتابِ «چنین گفت زرتشتِ نیچه» با ترجمه‌یِ او را باز کنند و ببیند، آیا چهره‌یِ خطِ فارسی در آن کتاب زشت شده است؟ هر کس که با زبانِ فارسی آشناست، این کتاب را، باآنکه نثری کهن‌شیوه دارد، می‌تواند بی غلط بخواند، حال‌آنکه حتی دانشمندانِ ما در خواندنِ یک جمله‌یِ ساده که نشانه‌هایِ اضافه‌یِ آن حذف شده است، با دشواری روبرو هستند. اینکه هیچ‌یک از ما مطمئن نیستیم بتوانیم متنی را که قبلاً نخوانده‌ایم، بی غلط بخوانیم، بیش از همه ناشی از نیاوردنِ نشانه‌یِ اضافه در خط است. اخیراً میانِ برخی جوانان باب شده است که به‌عنوانِ‌مثال «دوستِ عزیز» را «دوسته عزیز» بنویسند. این کار بیش از آنکه ناشی از کم‌اطلاعیِ آنان از دستور و خطِ فارسی باشد، ناشیِ از ضعفِ خطِ فارسی و خو نکردن ما به آوردنِ نشانه‌یِ اضافه است. بنابراین به‌جایِ آنکه جوانان را ملامت کنیم، بهتر است در نگاهِ خود به نشانه‌یِ اضافه تجدیدِ‌نظر کنیم و آوردنِ آن را در همه‌جا ضروری بدانیم. پایانِ سخن خطِ فارسی که زمانی می‌توانست بدونِ نقطه‌گذاری و آوردنِ نشانه‌یِ اضافه و حتی بدونِ گذاشتنِ نقطه‌هایِ حروف در نسخِ خطی نیازهایِ کاربران و مخاطبانِ محدودِ خود را که به‌طور عمده در حوزه‌یِ شعر و ادب بود، برآورد، اکنون قادر نیست با همان شیوه‌یِ کهن این حجمِ انبوه از دانش و فن و فلسفه را به میلیون‌ها کاربر و مخاطبِ خود به‌درستی عرضه کند. خوشبختانه با ظهور و رواجِ رایانه‌ها و ورودِ ویراستارانِ حرفه‌ای به عرصه‌یِ نشر پیشرفت‌هایِ بسیار کرده‌ایم، اما نمی‌توان همچنان به ضرورتِ آوردنِ نشانه‌یِ اضافه در خط بی‌اعتنا بود. همان‌طور که ما اکنون تمامِ نقطه‌هایِ حروفِ نقطه‌دار را می‌گذاریم، انتهایِ جمله‌ها را بدونِ استثنا با نقطه می‌بندیم، هر جمله‌یِ پرسشی را با علامتِ سئوال (؟) مشخص می‌کنیم، نقل‌قول‌ها را در درونِ دو گیومه («» یا ” “) می‌آوریم، در صورتِ لزوم در متن از نشانه‌هایی مانندِ ویرگول (،)، نقطه‌ویرگول (؛)، دونقطه (:)، پرانتز ()، قلاب []، خطِ‌تیره (-)، علامتِ تعجب (!) و مانندِ آن استفاده می‌کنیم، بینِ کلمات بدونِ استثنا یک فاصله‌یِ تمام می‌گذاریم، مراقبیم که فاصله را نیم‌فاصله و نیم‌فاصله را فاصله نزنیم، رفته‌رفته به جدانویسیِ کلمات عادت کرده‌ایم و مانندِ کتابِ «دستورِ پنج استاد» نمی‌نویسیم: «نمیتوان»، «بهمخاطب»، «کلماتیکه»، «مختوم بالف»، «بهمند»، «بکلمه»، و هیچ‌یک از این کارها را سخت یا زشت کردنِ چهره‌یِ خطِ فارسی نمی‌دانیم، پس می‌توان به نوشتنِ نشانه‌یِ اضافه نیز عادت کرد و آن را بدونِ استثنا آورد و آوردن یا نیاوردنِ آن را به میلِ نویسنده و تشخیصِ بودونبودِ آن را به خواننده واگذار نکرد. منابع: – انوری، حسن؛ احمدی گیوی، حسن، ۱۳۹۳. دستورِ زبانِ فارسی ۲. تهران، انتشاراتِ فاطمی. – طباطبایی، علاءالدین. ۱۳۹۵، فرهنگِ توصیفیِ دستورِ زبانِ فارسی. تهران، فرهنگِ معاصر. – آشوری، داریوش، ۱۳۷۵، بازاندیشیِ زبانِ فارسی. تهران، نشرِ مرکز. – فرهنگستان، ۱۳۹۴، دستورِ خطِ فارسی. تهران، فرهنگستانِ زبان و ادبِ فارسی (نشرِ آثار). یادداشت‌ها [۱] متأسفانه این نشانه‌یِ مهم در خطِ فارسی نامِ واحد و گویایی ندارد: دستورنویسانِ ما آن را «کسرهٔ اضافه»، «نقش‌نمایِ اضافه»، «علامتِ اضافه» و «نشانهٔ اضافه» نامیده‌اند. این نشانه را برخی «نقش‌نما» یا «حرف» تلقی کرده‌اند (انوری، ۲۷۸)، حال‌آنکه برخی دیگر «واژه‌بست» (clitic/ Klitikon) دانسته‌اند (طباطبایی، ۵۲۰). لفظِ «اضافه» نیز برایِ این نشانه چندان مناسب نیست، زیرا این نشانه نه‌فقط در حالتِ اضافه و بینِ مضاف و مضاف‌الیه، بلکه میانِ موصوف و صفت نیز ظاهر می‌شود، مگر آنکه «اضافه» را در اینجا به معنایِ دستوریِ آن درک نکنیم. [۲] این علامت کوتاه‌شده‌یِ «ی» است. [۳] این خطابه که به «رسالهٔ املایِ فارسی: پیشنهاد به مقامِ فرهنگستان» مشهور است، اکنون در لغت‌نامهٔ دهخدا و ویکی‌نبشته در دسترس است. [۴] همان‌طور که گفته شد، فرهنگستان در این زمینه توضیحی نمی‌دهد. جستجویِ من برایِ یافتنِ نوشته‌ای که در آن دلایلِ نیاوردنِ نشانه‌یِ اضافه را ذکر کرده باشد، بی‌نتیجه بود. ازاین‌رو این دلایل بیشتر بر پایه‌یِ شنیده‌ها و نامه‌نگاری‌هایم استوار است. [۵] در این مختصر نمی‌توان شرح داد که این امر چه پیامدهایی برایِ ما و ذهنِ ما داشته است. فقط به اشاره می‌توان گفت که یکی از دلایلی که ما حافظه‌ای نیرومند داریم، اما قدرتِ تحلیلِ ما ضعیف است، به‌عبارت‌دیگر بیشتر اهلِ «نقل» هستیم و کمتر اهلِ «عقل» – که بازتابِ آن را در سیاست هم می‌توان دید- به حضورِ فرهنگِ گفتاری و خطِ صامتِ ‌الفباییِ ناقصِ ما مربوط می‌شود. [۶] برای اطلاعِ بیشتر دربارهٔ کاربردِ نابجایِ ویرگول بنگرید به کتابِ ویرگول‌گذاری و مبانیِ نظریِ آن: کاربردِ بجا و نابجایِ ویرگول از صاحبِ این قلم. [۷] فنومنولوژی روح/ هگل؛ ترجمهٔ زیبا جبلی، ص ۳. نظر داریوش آشوری: *مقاله‌ی سنجیده و جامعی ست در باره‌ی داستان «کسره‌ی اضافه» به قلم آقای افشاری. از این دست پژوهش‌های باریک‌بینانه و سنجیده در باره‌ی مسائل زبان نگاره‌ی فارسی از ایشان پیش از این چند جستار منتشر شده است. در باره‌ی این مبحث من هم در سال‌های گذشته نوشته‌ام و در کتابِ «بازاندیشیِ زبانِ فارسی» می‌توان یافت. این که فرهنگستان زبان در دستورنامه‌ی خود در باره‌ی «خط فارسی» این مورد را با نگاهِ ادیبانه، نه زبان‌شناسانه، نه با منطق علمی بلکه با پیروی از عادت‌های نوشتاریِ به ارث رسیده، «زیرسبیلی» در می‌کند، جای شگفتی نیست. زیرا ذهن ما هنوز به فهم علمیِ مدرن، و بالاتر از آن به کار بستنِ این گونه فهم‌ در رفتار و نوشتار، خو نگرفته است. به یاد دارم که سالیانی پیش در ایران با دو تن از هموندان فرهنگستان در این باره بحث می‌کردم، در پاسخِ این پرسش که «این به‌اصطلاح کسره‌ی اضافه چیست که باید یا نباید نوشته شود؟»، پاسخ این بود که، «مگر ما بی‌سواد ایم که باید آن را بنویسیم!» هنگامی من ضرورتِ نوشتنِ آن را به‌ویژه برای متن‌های علمی و فلسفی مدرن طرح کردم و این مقاله نخستین بار در مجله‌ی «نشر دانش» چاپ شد، مردِ ادیب و زبان‌شناسی مانندِ آقای احمد سمیعی گیلانی، سردبیر «نامه‌ی فرهنگستان» و مردِ نکونامِ با همت و با فرهنگی مانند علی میرزایی، سردبیرِ «نگاهِ نو»، منطق آن را پذیرفتند و در مجله‌ی خود به کار بستند، اما به‌زودی بر اثر فشاری که اهلِ قلم، و در مورد نخستین «شورای فرهنگستان» پشت‌شان گذاشتند، ناگزیر وادار به عقب‌نشینی شدند. با این همه‌، این روش و پیشنهاد از راهِ کتاب‌‌های من و برخی دیگر از نویسندگان و مترجمان و ویراستاران در حال پذیرشِ بیش و بیش‌تر است، از جمله آقای جعفرِ مدرس صادقی آن را با دقت در ویرایش متن‌های کهن این روش را به‌کار می‌بندد. و من خرسند ام که پژوهنده‌یِ با پشتکار و دل‌سوزی مانندِ رحمانِ افشاری نیز با منطق روشن علمی پیگیرِ این داستان است. یکی از جاهایی که نوشتنِ این «کسره» برای درست‌خوانی و پرهیز از ابهام یا نادرست‌خوانی ضرورتِ بی‌چون-و-چرا دارد، در کارِ فرهنگ‌نویسیِ امروزین است. جای آن را به‌درستی در فرهنگ‌های ارزنده‌ای که با دیدِ تازه در این دو-سه دهه تألیف شده است، خالی می‌بینم. اشاره‌ام یکی به «فرهنگِ سخن»، به ویراستاریِ آقای حسن انوری ست و دیگر به «فرهنگِ جامعِ فارسی» به ویراستاریِ آقای علی‌اشرف صادقی. چنان که در دو-سه جای دیگر نوشته‌ام، این «کسره‌ی اضافه»، اگرچه از نظرِ ساختارِ آوایی تنها از یک مصوّت تشکیل شده است، ولی از نظرِ نقشِ دستوری یک تکواژ است با نقشِ پربسامدِ یک «واژه‌ی دستوری» (grammatical word) و همه جا باید نوشته شود. که افشاری در این باره به‌خوبی مسأله را روشن کرده است.",
              "chat_id": 3378
            }

### خلاصه فهرست‌وار [POST]

متن ورودی را به شکل یک فهرست نقطه‌ای خلاصه می‌کند.

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - text (string, required) - متنی که باید خلاصه شود.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - متنی
                + bullet - فهرست‌وار

    + Body

            {
              "content":"در ضرورتِ نوشتنِ نشانه‌یِ اضافه رحمانِ افشاری «خط برای خوانده شدن اختراع شده و کمالِ زیبایی و جمالش این است که در کمالِ آسانی خوانده شود.» احمدِ بهمنیار اشاره: درباره‌یِ نشانه‌یِ اضافه مقاله‌هایِ بسیار نوشته شده، اما در ضرورتِ حضورِ همیشگیِ آن در خط کم گفته شده است. این مقاله می‌کوشد این ضرورت را نشان دهد. تعریف نشانه‌یِ اضافه، که به آن کسره‌یِ اضافه نیز می‌گویند، مصوت یا واکه‌یِ /e/ است که دو کلمه را به هم پیوند می‌دهد و آن‌ها را به یک گروهِ واحد یا جزئی از یک گروهِ واحد تبدیل می‌کند. این نشانه برای پیوند دادنِ مقوله‌هایِ دستوریِ زیر به کار می‌رود: ۱ـ اسم و صفت: درختانِ سبز ۲ـ اسم و اسم: جلدِ کتاب ۳ـ صفت و صفت: آبیِ روشن ۴ـ قید و قید: فوریِ فوری ۵ـ حرفِ اضافه و اسم یا گروهِ اسمیِ پس‌ازآن: برایِ سرگرمی، به‌خاطرِ کمبودِ آب، بر رویِ میز. اگر واژه‌ای به واکه ختم شود، وقتی می‌خواهیم نشانه‌یِ اضافه را به آن بیفزاییم، اول صدایِ y (= ی) را به آن اضافه می‌کنیم، بعد نشانه‌یِ اضافه را می‌آوریم: بویِ خاک، لوله‌یِ بخاری، آبیِ روشن. (طباطبایی، ۵۱۸ به بعد.) [۱] البته می‌توان به این فهرست مواردی دیگر نیز افزود، مانندِ: – اسم و ضمیر: کتابِ من، حقِ خود، توصیه‌یِ شما. – ضمیر و صفت: منِ ازهمه‌جابی‌خبر، منِ پیرِ ازکارافتاده. عدد اکنون جزو صفت به شمار می‌رود: کلاسِ سوم، سده‌یِ بیستم، سالِ ۱۳۹۶. نقدِ دستورِ فرهنگستان در موردِ نشانه‌یِ اضافه مرسوم است که این نشانه‌یِ مهم در خط یا به تعبیرِ داریوشِ آشوری «زبان‌نگاره» را ننویسند، جز در مواردی که ننوشتنِ آن ایجادِ ابهام کند. فرهنگستانِ زبان و ادبِ فارسی در کتابِ دستورِ خطِ فارسی در فصلِ «کسرهٔ اضافه» دراین‌باره چنین می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری ـ کلماتی مانند رهرو، پرتو، جلو، در حالتِ مضاف، گاهی با صامت میانجی «ی» می‌آید، مانند «پرتوی آفتاب» و گاهی بدون آن، مانند «پرتوِ آفتاب». آوردن یا نیاوردن صامت میانجی «ی» تابع تلفّظ خواهد بود. ـ برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء»[۲] استفاده می‌شود: خانهٔ من، نامهٔ او ـ «ی»، در کلمه‌های عربی مختوم به «یٰ» (که «آ» تلفّظ می‌شود)، در اضافه به کلمهٔ بعد از خود، به «الف» تبدیل می‌شود: عیسای مسیح، موسای کلیم، هوای نَفْس، کُبْرای قیاس» (فرهنگستان، ۲۸) این کتاب البته توضیح نمی‌دهد که چرا «کسرهٔ اضافه» را نباید همیشه آورد. درباره‌یِ این دستورِ فرهنگستان ذکرِ چند نکته ضروری است: ۱ـ کتاب می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری». اما فرهنگستان در همین فصلِ کوتاه به قاعده‌یِ خود عمل نکرده است و «کسرهٔ اضافه» را در گروه‌هایی آورده است که نیاوردنِ آن در هیچ‌یک از آن‌ها ابهامی ایجاد نمی‌کند، مانندِ «حالتِ مضاف». اگر در کتاب بگردیم، شواهدِ فراوان می‌توان یافت که فرهنگستان از این قاعده‌یِ خود تخطی کرده است: «خصوصیاتِ خطّ فارسی» (ص ۹)، «تلفّظِ حروف»، «زبانِ معیارِ رایج در تهران»، «نواحی مختلفِ ایران» (ص ۱۱)، «سیاقِ عبارت» (ص ۱۳)، «مصوّتِ مرکب» (ص ۱۴)، «در پاسخ به پرسشِ منفی» (ص ۲۱). آیا جز این است که فرهنگستان این نشانه‌یِ اضافه را ازآن‌رو آورده تا خواننده جمله را بهتر بخواند؟ و اگر چنین است، در این صورت آیا آن قاعده اعتبارِ خود را از دست نمی‌دهد و نمی‌باید قاعده‌ای دیگر برای نشانه‌یِ اضافه نوشت؟ ۲ـ وقتی فرهنگستان می‌نویسد «برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء» استفاده می‌شود: خانهٔ من، نامهٔ او»، این احتمال وجود دارد که خواننده سهواً علامتِ «ء» را نیز نشانه‌یِ اضافه تصور کند و بپرسد: چرا فرهنگستان در این فصل و نیز در کلِ کتاب بدونِ استثنا این نشانه را در مواردی که هیچ ابهامی وجود ندارد، آورده است؟ مانندِ: خانهٔ من، نامهٔ او، حفظ چهرهٔ خطّ فارسی، نشانهٔ جمع، نشانهٔ همزه، مجموعهٔ اصول، کلّیهٔ اسناد رسمی، در حوزهٔ نگارش و … ازاین‌رو لازم بود در کتاب توضیحِ بیشتری دراین‌باره داده می‌شد. ۳ـ کتاب «دستورِ خط فارسی» درموردِ کلماتِ مختوم به واکه‌یِ /i/ مانند «مهربانی»، «جوانی» و «کوری» سکوت کرده است و نمی‌گوید که آیا باید پس از این کلمات صامتِ میانجیِ «ی» را آورد یا نیاورد؛ یعنی باید نوشت «مهربانیِ مادر» یا «مهربانی‌یِ مادر»؟ بنابراین می‌توان نتیجه گرفت که قاعده‌یِ «کسرهٔ اضافه» در این کتاب ابهام دارد و کامل نیست. نظرِ احمدِ بهمنیار احمدِ بهمنیار (۱۲۶۲- ۱۳۳۴) در «قاعده‌یِ اول» از خطابه‌یِ ورودیِ خود به فرهنگستان در بهمن‌ماهِ ۱۳۲۱ پیشنهاد کرد که به‌جایِ علامتِ «ء»، که درواقع کوتاه‌شده‌یِ «ی» است و در کلماتِ مختوم به هایِ غیرِملفوظ رویِ «ه» گذاشته می‌شود، همان «ی» را بنویسیم، یعنی به‌جایِ «پروانهٔ زیبا» بنویسیم «پروانه‌ی زیبا».[۳] این پیشنهادِ او را بعدها بسیاری از نویسندگان و ناشران به کار بستند. اما همان‌طور که پیشتر گفته شد، می‌باید به کلماتِ مختوم به مصوت پیش از نشانه‌یِ اضافه صدای /y/ را در گفتار و صامتِ میانجیِ «ی» را در نوشتار افزود. این موضوع را بیشتر بشکافیم: کلماتِ مختوم به مصوت‌هایِ /â/ (مانندِ خدا)، /o/ (مانندِ رادیو) و /u/ (مانندِ آهو) پیش از نشانه‌یِ اضافه یک صامتِ میانجیِ «ی» می‌گیرند: خدای فیلسوفان، رادیوی ماشین، آهوی صحرا. ما در این حالت فقط صامتِ میانجیِ «ی» را می‌گذاریم، اما مثلِ همیشه نشانه‌یِ اضافه را حذف می‌کنیم. اگر بخواهیم آن را بیاوریم، ‌باید بنویسیم: خدایِ فیلسوفان، رادیویِ ماشین، آهویِ صحرا. همین وضع درموردِ کلماتِ مختوم به هایِ غیرِملفوظ (مانندِ خانه) نیز صدق می‌کند، یعنی فقط آن صامتِ میانجیِ «ی» را، که رفته‌رفته با دخالتِ خوش‌نویسان به «ء» بر رویِ «ه» تبدیل شده است، می‌آوریم، اما خودِ نشانه‌یِ اضافه یعنی «کسره‌یِ اضافه» را نمی‌آوریم. بنابراین علامتِ «ء» نشانه‌یِ اضافه نیست، بلکه فقط صامتِ میانجیِ «ی» است. به‌عبارتِ‌دیگر اگر قرار است «خانهٔ من» را با «ی» و نشانه‌یِ اضافه بنویسیم، باید آن را به‌صورتِ «خانه‌یِ من» (با یایِ مکسور) نوشت. ازاین‌رو خطاست اگر گمان کنیم که در «خانهٔ من» و «پای برهنه» نشانه‌یِ اضافه را آورده‌ایم، زیرا نشانه‌یِ اضافه در خطِ فارسی فقط‌وفقط علامتِ «ـِ» (کسره) است و «ی» در کلماتِ مختوم به مصوت تنها نقشِ میانجیِ صامت را دارد، تا بتوان آوا و نویسه‌یِ کسره را به آن کلمات افزود. نقدِ دلایلِ نیاوردنِ نشانه‌یِ اضافه آنچه گفتیم، بیشتر مقدمه‌ای بود برایِ ورود به بحث و پرسشِ اصلی و نه بحثی زبان‌شناختی و جامع درباره‌یِ «کسرهٔ اضافه». پرسش این است: چرا نباید نشانه‌یِ اضافه را در خط آورد؟ شاید بتوان مهم‌ترین دلایلِ نیاوردنِ همیشگیِ نشانه‌یِ اضافه را به‌صورت زیر دسته‌بندی کرد:[۴] ۱ـ هر ایرانیِ توانا به خواندن و نوشتن به کمکِ شمِّ زبانیِ خود بودونبودِ این نشانه را مانندِ اِعرابِ کلمات در نوشته تشخیص می‌دهد و درنتیجه نیازی به آوردنِ آن نیست. ۲ـ نوشتنِ همیشگیِ نشانه‌یِ اضافه چهره‌یِ خطِ فارسی را زشت می‌کند و کثرتِ آن ازنظرِ بصری خوشایند نیست. ۳ـ الزام به آوردنِ همیشگیِ آن کارِ نوشتن را دشوار می‌کند و باری اضافی بر دوشِ نویسنده و ناشر است. این دلایل را بررسی کنیم: ـ ایران از اقوامِ گوناگون تشکیل شده است که زبانِ فارسی، زبانِ مادریِ همه‌یِ آنان نیست. بسیاری از افرادِ این اقوام زبانِ فارسی را تنها در مدرسه می‌آموزند. ازاین‌رو نمی‌توان نشانه‌یِ اضافه را حذف کرد و تشخیصِ آن را به شمِّ زبانیِ خواننده واگذاشت. ـ هر نوشته باید بتواند مستقل از شمِّ زبانی و سطحِ سوادِ خوانندگانش درست و بی غلط خوانده شود. ـ اگرچه باید به زیباییِ چهره‌یِ خطِ فارسی اهمیت داد، اما این امر نباید مانع و مخلِ درست خواندن و درست فهمیدن شود. ننوشتنِ این نشانه‌یِ مهم، به شرحی که بعداً خواهد آمد، خواندنِ متن‌هایِ فارسی را دشوار، سرعتِ خواندن را کند و فهمیدنِ درستِ منظورِ نویسنده را گاه با ابهام روبرو می‌کند. در نقدِ سخنِ کسانی که می‌گویند کثرتِ نشانه‌یِ اضافه چهره‌یِ خط را زشت و کارِ نوشتن را سخت می‌کند، کافی است آنان را به واژه‌یِ der در زبانِ آلمانی ارجاع داد که پربسامدترین واژه در این زبان است. تکرارِ این واژه چنان است که زبان‌شناسانِ آلمانی برایِ تعیینِ رتبه‌بندیِ بسامدِ واژه‌هایِ آلمانی همین واژه را مبنا قرار داده‌اند و بسامدِ سایرِ واژه‌ها را با آن سنجیده‌اند. به‌عنوانِ‌مثال بسامدِ Zimmer (اتاق) در رتبه‌یِ ۱۰ جای دارد، یعنی واژه‌یِ der، مطابقِ این تحقیقِ میدانی که در دانشگاهِ لایپ speziیکِ آلمان انجام گرفته است، ۲ به توان ۱۰، یعنی ۱۰۲۴ بار بیش از Zimmer در زبانِ آلمانی تداول دارد. بنابراین می‌توان حدس زد که این واژه تا چه حد در نوشته‌هایِ آلمانی تکرار می‌شود؛ اما هیچ آلمانی‌زبانی به این فکر نمی‌افتد که آن را با توسل به دلایلِ سه‌گانه‌یِ شمِّ زبانی، زیبایی‌شناسیِ خط و سهولتِ نوشتن نیاورد، زیرا این کار مفاهمه‌یِ اهلِ زبان را غیرممکن می‌کند، حال‌آنکه آوردنِ آن به نوشتار و به‌تبعِ آن به ذهن دقت و روشنی می‌بخشد. ـ آوردنِ نشانه‌یِ اضافه اگرچه از سرعتِ نوشتن می‌کاهد، اما سودش بسیار است. برایِ سهولتِ نوشتنِ آن می‌توان نرم‌افزارهایی برای صفحه‌کلید طراحی کرد که با فشردنِ کلیدِ مبدل و کلیدِ هر حرف هم‌زمان آن حرف و نشانه‌یِ اضافه را تایپ کند. ـ یکی دیگر از دلایلِ نیاوردنِ نشانه‌یِ اضافه چنین است: همان‌طور که ما کلمات را اِعراب‌گذاری نمی‌کنیم و می‌توانیم آن‌ها را بدونِ نشانه‌هایِ زیر و زبَر و پیش بخوانیم. به آوردنِ «کسره‌یِ اضافه» نیز نیازی نیست. به اشاره بگوییم که خطِ فارسی خطِ الفباییِ ناقص است، زیرا به‌عنوانِ‌مثال خودِ کلمه‌یِ «اتاق» به کمکِ حروفِ متشکله‌اش به ما نمی‌گوید که باید آن را چگونه بخوانیم، بلکه ما تلفظِ درستِ کلمه‌یِ «اتاق» را به ذهن می‌سپاریم و هر جا این «تصویر» را، چه با اِعراب و چه بی اِعراب، در خط دیدیم، درست تلفظ می‌کنیم؛[۵] اما بحثِ «کسره‌یِ اضافه» فراتر از اِعراب یا حرکاتِ حروف است، زیرا ما حتی با دانستنِ تلفظِ درستِ «اتاق» نیز نمی‌توانیم آن را در جمله درست بخوانیم و تلفظِ آن هر بار بسته به کلماتِ پس از آن و ساختِ جمله تغییر می‌کند. بنابراین این معضل ربطی به اِعراب ندارد و اِعراب نگذاشتنِ کلمات نیاوردنِ نشانه‌یِ اضافه را توجیه نمی‌کند. به‌بیانِ‌دیگر عمده‌یِ مشکلاتِ ما در بدخوانی و بدفهمی ناشی از تلفظِ کلمات نیست، بلکه نتیجه‌یِ درست تشخیص ندادنِ پیوندِ میانِ کلمات و نحوِ جمله است. نیاوردنِ نشانه‌یِ اضافه نقشی اساسی در این امر دارد. دلایلِ ضرورتِ نوشتنِ نشانه‌یِ اضافه اما ردِ دلایلِ نیاوردنِ نشانه‌یِ اضافه یا سست کردنِ آن‌ها نمی‌تواند به‌خودیِ‌خود دلیلی بر ضرورتِ نوشتنِ نشانه‌یِ اضافه تلقی شود. ازاین‌رو باید دراین‌باره نیز اندیشید و دلیل آورد. گروهِ واحدِ «در اتاق» را در نظر بگیرید که در آن هیچ نشانه‌یِ اضافه به کار نرفته است. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند «در اتاق» را بدونِ نشانه‌یِ اضافه درست بخواند و با قاطعیت بگوید که این است و جز این نیست. زیرا منظور از «در اتاق» می‌تواند هم «در داخلِ اتاق» و هم «درِ اتاق» باشد. اما مشکل تنها به اینجا ختم نمی‌شود. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند آن را مستقل از واژه‌ای که پس از این گروه می‌آید، درست بخواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست». واژه‌هایِ «نیست» و «نشیمن» در دو مثالِ بالا، که پس از «اتاق» آمده‌اند و در هنگامِ خواندنِ «اتاق» آن‌ها را نمی‌بینیم، تعیین می‌کنند که «اتاق» را چگونه بخوانیم. اما مشکل همچنان باقی است، زیرا گاهی حتی واژه‌یِ بعد نیز نمی‌تواند همیشه کمک کند تا جمله را درست بخوانیم و تنها ساختِ جمله به ما می‌گوید که «در» و «اتاق» را چگونه باید خواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست»، «پرویز در اتاق نشیمن را تعمیر کرد». گمان نکنید که مشکلاتِ نیاوردنِ نشانه‌یِ اضافه در اینجا پایان می‌یابد. گاه پیش می‌آید که نه واژه‌یِ بعد و نه ساختِ جمله هیچ‌یک نمی‌توانند به ما بگویند که باید این نشانه را میانِ دو کلمه فرض کرد یا نکرد: جمله‌یِ «معلم تازه وارد کلاس شد» می‌تواند «معلمْ تازه واردِ کلاس شد» خوانده شود و نیز «معلمِ تازه واردِ کلاس شد». جمله‌یِ «پدر پرویز را دید» را می‌توان هم «پدرْ پرویز را دید» خواند و هم «پدرِ پرویز را دید». همین‌طور جمله‌یِ «معلم بچه‌ها را شناخت» را می‌توان دو گونه خواند: ۱. «معلمْ بچه‌ها را شناخت»؛ ۲. «معلمِ بچه‌ها را شناخت». آیا خطی را می‌شناسید که مردمانش و حتی دانشمندانش در خواندنِ یک جمله‌یِ ساده این‌همه دشواری داشته باشند؟ همه‌یِ این مشکلات ناشی از این است که نوشتنِ نشانه‌یِ اضافه را ضروری نمی‌دانیم و همه‌جا نمی‌آوریم. شاید گفته شود که چشمِ ما در خواندنِ یک متن کلمه‌به‌کلمه پیش نمی‌رود، بلکه عبارت‌به‌عبارت تصویربرداری می‌کند. این سخن تا حدی درست است، اما دلایلِ بالا را باطل نمی‌کند: ۱ـ فقط چشمِ آزموده و آشنا به فنِ تندخوانی می‌تواند عبارت‌به‌عبارت ببیند، حال‌آنکه اکثرِ افراد کلمه‌به‌کلمه و نوآموزانِ زبان حرف‌به‌حرف می‌بینند و می‌خوانند. ۲ـ بسیار پیش می‌آید که کلماتِ طرفینِ نشانه‌یِ اضافه در یک سطر جای نمی‌گیرند و بخشی از آن به ابتدایِ سطرِ بعد منتقل می‌شود. در این حالت چشمِ خواننده نمی‌تواند از انتهایِ یک سطر و ابتدایِ سطرِ بعد تصویری واحد بردارد. ۳ـ مکرر اتفاق می‌افتد که این نشانه بیش از دو کلمه را به هم پیوند می‌دهد، مانندِ: فرهنگِ توصیفیِ دستورِ زبانِ فارسی، کتابِ سنجشِ خردِ نابِ فیلسوفِ نامدارِ آلمانی، مردِ اسب‌سوارِ دشت‌نشینِ صحراگردِ باران‌دیده. نیاوردنِ نشانه‌یِ اضافه یک زیانِ دیگر نیز دارد و آن کاربردِ نابجایِ ویرگول است. اکثرِ نوشته‌هایِ فارسی پر است از ویرگول‌هایِ نابجا. علتش نگرانیِ نویسنده است از اینکه مبادا خواننده کلماتِ جمله را به‌غلط با کسره‌یِ اضافه بخواند. ازاین‌رو در جمله از ویرگول به‌عنوانِ نشانه‌یِ درنگ استفاده می‌کند. اگر نشانه‌یِ اضافه همیشه آورده شود، نویسنده دیگر از این بابت ترسی نخواهد داشت و درنتیجه معضلِ ویرگول‌هایِ نابجا نیز خودبه‌خود برطرف می‌شود.[۶] آنچه گفتیم مربوط به جمله‌هایِ ساده بود. می‌توان حدس زد که وقتی جمله‌ها پیچیده می‌شوند، میزانِ بدخوانی و بدفهمیِ ما به طرزی تصاعدی افزایش می‌یابد. وقتی خواننده‌یِ ایرانی در ترجمه‌یِ کتابی از هگل می‌خواند «جهان روح از خودبیگانه شده»[۷] به‌راستی آن را چگونه بخواند و چگونه بفهمد؟ «جهانْ روحِ ازخودبیگانه‌شده»؟، «جهانِ روحْ از خود بیگانه شده»؟، «جهانِ روحِ ازخودبیگانه شده»؟ حال‌آنکه خواننده‌یِ آلمانی‌زبان هیچ مشکلی در خواندنِ درستِ اصل آن ندارد: Die Welt des sich entfremdeten Geistes. به‌بیانِ‌دیگر ما علاوه بر اینکه در درکِ اصطلاحِ «گایستِ» هگلی که مترجمانِ ما آن را «عقل» (حمیدِ عنایت)، «روح» (زیبا جبلی) و «جان» (باقرِ پرهام) ترجمه کرده‌اند، با دشواری روبرو هستیم، خطِ ما نیز این دشواری را دوچندان کرده و با نیاوردنِ نشانه‌یِ اضافه چنان نحوِ جمله را مبهم و فهمِ آن را تیره کرده است که نظیرش را شاید در کمتر خطی بتوان یافت. باید به‌صراحت اعتراف کرد که نیاوردنِ نشانه‌یِ اضافه باعثِ کندخوانی، دوباره‌خوانی، بدخوانی، دشوارفهمی و بدفهمی می‌شود. مشکلِ اصلی درواقع این است که واکه‌هایِ شش‌گانه‌یِ فارسی هیچ نماینده‌ای در الفبایِ خطِ فارسی ندارند و ازاین‌رو می‌توان گفت که خطِ فارسی خطی «غیرِ دمکراتیک» است؛ اما با نوشتنِ نشانه‌یِ اضافه می‌توان از شدتِ این ضعفِ خطِ فارسی تا حدی کاست. به‌جرئت می‌توان گفت که خطِ فارسی اگر نقادانه به خود ننگرد و در رفعِ معایبِ خود مجدانه نکوشد، هرگز قادر نیست جهانِ پهناورِ اندیشه را به‌روشنی در خود بازتاباند. یک‌لحظه پیشِ خود تصور کنید که انگلیسی‌زبانان یا آلمانی‌زبانان نشانه‌هایِ اضافه را در خطِ خود حذف کنند و آن را مثلِ ما ایرانیان به فراخورِ حال و شمِّ زبانیِ گویشورانشان واگذارند. نتیجه‌یِ آن کاملاً روشن است. درباره‌یِ ضرورت آوردنِ نشانه‌یِ اضافه بسیار می‌توان گفت. داریوشِ آشوری در مقاله‌یِ «چند پیشنهاد درباره‌یِ روشِ نگارش و خطِ فارسی» که نخست در مجله‌یِ نشرِ دانش در سال ۱۳۶۵ به چاپ رسید و اینک در کتابِ «بازاندیشیِ زبانِ فارسی» (آشوری، ۱۳۱) تجدیدِ چاپ شده است، حقِ مطلب را در این زمینه اَدا کرده است. او در نوشته‌هایش همه‌جا نشانه‌یِ اضافه را می‌آورد. کسانی که معتقدند آوردنِ این نشانه چهره‌یِ خطِ فارسی را زشت می‌کند، کافی است به‌عنوانِ نمونه کتابِ «چنین گفت زرتشتِ نیچه» با ترجمه‌یِ او را باز کنند و ببیند، آیا چهره‌یِ خطِ فارسی در آن کتاب زشت شده است؟ هر کس که با زبانِ فارسی آشناست، این کتاب را، باآنکه نثری کهن‌شیوه دارد، می‌تواند بی غلط بخواند، حال‌آنکه حتی دانشمندانِ ما در خواندنِ یک جمله‌یِ ساده که نشانه‌هایِ اضافه‌یِ آن حذف شده است، با دشواری روبرو هستند. اینکه هیچ‌یک از ما مطمئن نیستیم بتوانیم متنی را که قبلاً نخوانده‌ایم، بی غلط بخوانیم، بیش از همه ناشی از نیاوردنِ نشانه‌یِ اضافه در خط است. اخیراً میانِ برخی جوانان باب شده است که به‌عنوانِ‌مثال «دوستِ عزیز» را «دوسته عزیز» بنویسند. این کار بیش از آنکه ناشی از کم‌اطلاعیِ آنان از دستور و خطِ فارسی باشد، ناشیِ از ضعفِ خطِ فارسی و خو نکردن ما به آوردنِ نشانه‌یِ اضافه است. بنابراین به‌جایِ آنکه جوانان را ملامت کنیم، بهتر است در نگاهِ خود به نشانه‌یِ اضافه تجدیدِ‌نظر کنیم و آوردنِ آن را در همه‌جا ضروری بدانیم. پایانِ سخن خطِ فارسی که زمانی می‌توانست بدونِ نقطه‌گذاری و آوردنِ نشانه‌یِ اضافه و حتی بدونِ گذاشتنِ نقطه‌هایِ حروف در نسخِ خطی نیازهایِ کاربران و مخاطبانِ محدودِ خود را که به‌طور عمده در حوزه‌یِ شعر و ادب بود، برآورد، اکنون قادر نیست با همان شیوه‌یِ کهن این حجمِ انبوه از دانش و فن و فلسفه را به میلیون‌ها کاربر و مخاطبِ خود به‌درستی عرضه کند. خوشبختانه با ظهور و رواجِ رایانه‌ها و ورودِ ویراستارانِ حرفه‌ای به عرصه‌یِ نشر پیشرفت‌هایِ بسیار کرده‌ایم، اما نمی‌توان همچنان به ضرورتِ آوردنِ نشانه‌یِ اضافه در خط بی‌اعتنا بود. همان‌طور که ما اکنون تمامِ نقطه‌هایِ حروفِ نقطه‌دار را می‌گذاریم، انتهایِ جمله‌ها را بدونِ استثنا با نقطه می‌بندیم، هر جمله‌یِ پرسشی را با علامتِ سئوال (؟) مشخص می‌کنیم، نقل‌قول‌ها را در درونِ دو گیومه («» یا ” “) می‌آوریم، در صورتِ لزوم در متن از نشانه‌هایی مانندِ ویرگول (،)، نقطه‌ویرگول (؛)، دونقطه (:)، پرانتز ()، قلاب []، خطِ‌تیره (-)، علامتِ تعجب (!) و مانندِ آن استفاده می‌کنیم، بینِ کلمات بدونِ استثنا یک فاصله‌یِ تمام می‌گذاریم، مراقبیم که فاصله را نیم‌فاصله و نیم‌فاصله را فاصله نزنیم، رفته‌رفته به جدانویسیِ کلمات عادت کرده‌ایم و مانندِ کتابِ «دستورِ پنج استاد» نمی‌نویسیم: «نمیتوان»، «بهمخاطب»، «کلماتیکه»، «مختوم بالف»، «بهمند»، «بکلمه»، و هیچ‌یک از این کارها را سخت یا زشت کردنِ چهره‌یِ خطِ فارسی نمی‌دانیم، پس می‌توان به نوشتنِ نشانه‌یِ اضافه نیز عادت کرد و آن را بدونِ استثنا آورد و آوردن یا نیاوردنِ آن را به میلِ نویسنده و تشخیصِ بودونبودِ آن را به خواننده واگذار نکرد. منابع: – انوری، حسن؛ احمدی گیوی، حسن، ۱۳۹۳. دستورِ زبانِ فارسی ۲. تهران، انتشاراتِ فاطمی. – طباطبایی، علاءالدین. ۱۳۹۵، فرهنگِ توصیفیِ دستورِ زبانِ فارسی. تهران، فرهنگِ معاصر. – آشوری، داریوش، ۱۳۷۵، بازاندیشیِ زبانِ فارسی. تهران، نشرِ مرکز. – فرهنگستان، ۱۳۹۴، دستورِ خطِ فارسی. تهران، فرهنگستانِ زبان و ادبِ فارسی (نشرِ آثار). یادداشت‌ها [۱] متأسفانه این نشانه‌یِ مهم در خطِ فارسی نامِ واحد و گویایی ندارد: دستورنویسانِ ما آن را «کسرهٔ اضافه»، «نقش‌نمایِ اضافه»، «علامتِ اضافه» و «نشانهٔ اضافه» نامیده‌اند. این نشانه را برخی «نقش‌نما» یا «حرف» تلقی کرده‌اند (انوری، ۲۷۸)، حال‌آنکه برخی دیگر «واژه‌بست» (clitic/ Klitikon) دانسته‌اند (طباطبایی، ۵۲۰). لفظِ «اضافه» نیز برایِ این نشانه چندان مناسب نیست، زیرا این نشانه نه‌فقط در حالتِ اضافه و بینِ مضاف و مضاف‌الیه، بلکه میانِ موصوف و صفت نیز ظاهر می‌شود، مگر آنکه «اضافه» را در اینجا به معنایِ دستوریِ آن درک نکنیم. [۲] این علامت کوتاه‌شده‌یِ «ی» است. [۳] این خطابه که به «رسالهٔ املایِ فارسی: پیشنهاد به مقامِ فرهنگستان» مشهور است، اکنون در لغت‌نامهٔ دهخدا و ویکی‌نبشته در دسترس است. [۴] همان‌طور که گفته شد، فرهنگستان در این زمینه توضیحی نمی‌دهد. جستجویِ من برایِ یافتنِ نوشته‌ای که در آن دلایلِ نیاوردنِ نشانه‌یِ اضافه را ذکر کرده باشد، بی‌نتیجه بود. ازاین‌رو این دلایل بیشتر بر پایه‌یِ شنیده‌ها و نامه‌نگاری‌هایم استوار است. [۵] در این مختصر نمی‌توان شرح داد که این امر چه پیامدهایی برایِ ما و ذهنِ ما داشته است. فقط به اشاره می‌توان گفت که یکی از دلایلی که ما حافظه‌ای نیرومند داریم، اما قدرتِ تحلیلِ ما ضعیف است، به‌عبارت‌دیگر بیشتر اهلِ «نقل» هستیم و کمتر اهلِ «عقل» – که بازتابِ آن را در سیاست هم می‌توان دید- به حضورِ فرهنگِ گفتاری و خطِ صامتِ ‌الفباییِ ناقصِ ما مربوط می‌شود. [۶] برای اطلاعِ بیشتر دربارهٔ کاربردِ نابجایِ ویرگول بنگرید به کتابِ ویرگول‌گذاری و مبانیِ نظریِ آن: کاربردِ بجا و نابجایِ ویرگول از صاحبِ این قلم. [۷] فنومنولوژی روح/ هگل؛ ترجمهٔ زیبا جبلی، ص ۳. نظر داریوش آشوری: *مقاله‌ی سنجیده و جامعی ست در باره‌ی داستان «کسره‌ی اضافه» به قلم آقای افشاری. از این دست پژوهش‌های باریک‌بینانه و سنجیده در باره‌ی مسائل زبان نگاره‌ی فارسی از ایشان پیش از این چند جستار منتشر شده است. در باره‌ی این مبحث من هم در سال‌های گذشته نوشته‌ام و در کتابِ «بازاندیشیِ زبانِ فارسی» می‌توان یافت. این که فرهنگستان زبان در دستورنامه‌ی خود در باره‌ی «خط فارسی» این مورد را با نگاهِ ادیبانه، نه زبان‌شناسانه، نه با منطق علمی بلکه با پیروی از عادت‌های نوشتاریِ به ارث رسیده، «زیرسبیلی» در می‌کند، جای شگفتی نیست. زیرا ذهن ما هنوز به فهم علمیِ مدرن، و بالاتر از آن به کار بستنِ این گونه فهم‌ در رفتار و نوشتار، خو نگرفته است. به یاد دارم که سالیانی پیش در ایران با دو تن از هموندان فرهنگستان در این باره بحث می‌کردم، در پاسخِ این پرسش که «این به‌اصطلاح کسره‌ی اضافه چیست که باید یا نباید نوشته شود؟»، پاسخ این بود که، «مگر ما بی‌سواد ایم که باید آن را بنویسیم!» هنگامی من ضرورتِ نوشتنِ آن را به‌ویژه برای متن‌های علمی و فلسفی مدرن طرح کردم و این مقاله نخستین بار در مجله‌ی «نشر دانش» چاپ شد، مردِ ادیب و زبان‌شناسی مانندِ آقای احمد سمیعی گیلانی، سردبیر «نامه‌ی فرهنگستان» و مردِ نکونامِ با همت و با فرهنگی مانند علی میرزایی، سردبیرِ «نگاهِ نو»، منطق آن را پذیرفتند و در مجله‌ی خود به کار بستند، اما به‌زودی بر اثر فشاری که اهلِ قلم، و در مورد نخستین «شورای فرهنگستان» پشت‌شان گذاشتند، ناگزیر وادار به عقب‌نشینی شدند. با این همه‌، این روش و پیشنهاد از راهِ کتاب‌‌های من و برخی دیگر از نویسندگان و مترجمان و ویراستاران در حال پذیرشِ بیش و بیش‌تر است، از جمله آقای جعفرِ مدرس صادقی آن را با دقت در ویرایش متن‌های کهن این روش را به‌کار می‌بندد. و من خرسند ام که پژوهنده‌یِ با پشتکار و دل‌سوزی مانندِ رحمانِ افشاری نیز با منطق روشن علمی پیگیرِ این داستان است. یکی از جاهایی که نوشتنِ این «کسره» برای درست‌خوانی و پرهیز از ابهام یا نادرست‌خوانی ضرورتِ بی‌چون-و-چرا دارد، در کارِ فرهنگ‌نویسیِ امروزین است. جای آن را به‌درستی در فرهنگ‌های ارزنده‌ای که با دیدِ تازه در این دو-سه دهه تألیف شده است، خالی می‌بینم. اشاره‌ام یکی به «فرهنگِ سخن»، به ویراستاریِ آقای حسن انوری ست و دیگر به «فرهنگِ جامعِ فارسی» به ویراستاریِ آقای علی‌اشرف صادقی. چنان که در دو-سه جای دیگر نوشته‌ام، این «کسره‌ی اضافه»، اگرچه از نظرِ ساختارِ آوایی تنها از یک مصوّت تشکیل شده است، ولی از نظرِ نقشِ دستوری یک تکواژ است با نقشِ پربسامدِ یک «واژه‌ی دستوری» (grammatical word) و همه جا باید نوشته شود. که افشاری در این باره به‌خوبی مسأله را روشن کرده است.",
              "type": "bullet",
            }

+ Response 200 (application/json)

            {
              "result": "در این مقاله، ضرورت نوشتن نشانه ی اضافه (کسره ی اضافه) در خط فارسی بررسی می شود. نشانه ی اضافه یک عنصر مهم در خط فارسی است که دو کلمه را به هم پیوند می دهد و نقش اساسی در ساختار جملات و عبارات فارسی دارد. این نشانه به وضوح رابطه بین کلمات را مشخص می کند و از ابهام در خواندن و فهم متن جلوگیری می کند.\n\nحذف نشانه ی اضافه می تواند باعث ابهام در خواندن و فهم متن شود، زیرا بدون این نشانه، ممکن است خواننده نتواند به درستی رابطه بین کلمات را تشخیص دهد. این موضوع می تواند منجر به برداشت های نادرست از متن شود و درک کلی از مطلب را تحت تأثیر قرار دهد.\n\nمقاله حاضر به نقد دستورالعمل های فرهنگستان زبان و ادب فارسی در مورد نشانه ی اضافه می پردازد. نویسنده با بررسی دقیق این دستورالعمل ها، نقاط قوت و ضعف آن ها را مورد تحلیل قرار می دهد و معتقد است که برخی از این دستورالعمل ها ممکن است ناقص یا نادرست باشند.\n\nنویسنده در ادامه استدلال می کند که نوشتن نشانه ی اضافه در خط فارسی ضروری است. او با ارائه ی مثال های متعدد و تحلیل های زبانی، نشان می دهد که چگونه نوشتن این نشانه می تواند به وضوح و دقت متن بیفزاید. نویسنده همچنین به بررسی تأثیرات آموزشی و ارتباطی این موضوع می پردازد و بیان می کند که آموزش صحیح نوشتن نشانه ی اضافه می تواند به بهبود مهارت های زبانی و فهم بهتر متون کمک کند.\n\nدر نهایت، می توان گفت که این مقاله با بررسی اهمیت نشانه ی اضافه در خط فارسی و نقد دستورالعمل های مربوط به آن، بر ضرورت نوشتن این نشانه تأکید دارد. نویسنده با استدلال های منطقی و مثال های کاربردی، نشان می دهد که چگونه توجه به این جزئیات زبانی می تواند در بهبود کیفیت نوشتار و فهم متون مؤثر باشد.",
              "info": {
                "in_token": 0,
                "out_token": 0,
                "type": "bullet",
                "document_url": null
              },
              "content": "در ضرورتِ نوشتنِ نشانه‌یِ اضافه رحمانِ افشاری «خط برای خوانده شدن اختراع شده و کمالِ زیبایی و جمالش این است که در کمالِ آسانی خوانده شود.» احمدِ بهمنیار اشاره: درباره‌یِ نشانه‌یِ اضافه مقاله‌هایِ بسیار نوشته شده، اما در ضرورتِ حضورِ همیشگیِ آن در خط کم گفته شده است. این مقاله می‌کوشد این ضرورت را نشان دهد. تعریف نشانه‌یِ اضافه، که به آن کسره‌یِ اضافه نیز می‌گویند، مصوت یا واکه‌یِ /e/ است که دو کلمه را به هم پیوند می‌دهد و آن‌ها را به یک گروهِ واحد یا جزئی از یک گروهِ واحد تبدیل می‌کند. این نشانه برای پیوند دادنِ مقوله‌هایِ دستوریِ زیر به کار می‌رود: ۱ـ اسم و صفت: درختانِ سبز ۲ـ اسم و اسم: جلدِ کتاب ۳ـ صفت و صفت: آبیِ روشن ۴ـ قید و قید: فوریِ فوری ۵ـ حرفِ اضافه و اسم یا گروهِ اسمیِ پس‌ازآن: برایِ سرگرمی، به‌خاطرِ کمبودِ آب، بر رویِ میز. اگر واژه‌ای به واکه ختم شود، وقتی می‌خواهیم نشانه‌یِ اضافه را به آن بیفزاییم، اول صدایِ y (= ی) را به آن اضافه می‌کنیم، بعد نشانه‌یِ اضافه را می‌آوریم: بویِ خاک، لوله‌یِ بخاری، آبیِ روشن. (طباطبایی، ۵۱۸ به بعد.) [۱] البته می‌توان به این فهرست مواردی دیگر نیز افزود، مانندِ: – اسم و ضمیر: کتابِ من، حقِ خود، توصیه‌یِ شما. – ضمیر و صفت: منِ ازهمه‌جابی‌خبر، منِ پیرِ ازکارافتاده. عدد اکنون جزو صفت به شمار می‌رود: کلاسِ سوم، سده‌یِ بیستم، سالِ ۱۳۹۶. نقدِ دستورِ فرهنگستان در موردِ نشانه‌یِ اضافه مرسوم است که این نشانه‌یِ مهم در خط یا به تعبیرِ داریوشِ آشوری «زبان‌نگاره» را ننویسند، جز در مواردی که ننوشتنِ آن ایجادِ ابهام کند. فرهنگستانِ زبان و ادبِ فارسی در کتابِ دستورِ خطِ فارسی در فصلِ «کسرهٔ اضافه» دراین‌باره چنین می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری ـ کلماتی مانند رهرو، پرتو، جلو، در حالتِ مضاف، گاهی با صامت میانجی «ی» می‌آید، مانند «پرتوی آفتاب» و گاهی بدون آن، مانند «پرتوِ آفتاب». آوردن یا نیاوردن صامت میانجی «ی» تابع تلفّظ خواهد بود. ـ برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء»[۲] استفاده می‌شود: خانهٔ من، نامهٔ او ـ «ی»، در کلمه‌های عربی مختوم به «یٰ» (که «آ» تلفّظ می‌شود)، در اضافه به کلمهٔ بعد از خود، به «الف» تبدیل می‌شود: عیسای مسیح، موسای کلیم، هوای نَفْس، کُبْرای قیاس» (فرهنگستان، ۲۸) این کتاب البته توضیح نمی‌دهد که چرا «کسرهٔ اضافه» را نباید همیشه آورد. درباره‌یِ این دستورِ فرهنگستان ذکرِ چند نکته ضروری است: ۱ـ کتاب می‌گوید: «نشانهٔ کسرهٔ اضافه در خط آورده نمی‌شود، مگر برای رفع ابهام در کلماتی که دشواری ایجاد می‌کند: اسبِ سواری/ اسبْ‌سواری». اما فرهنگستان در همین فصلِ کوتاه به قاعده‌یِ خود عمل نکرده است و «کسرهٔ اضافه» را در گروه‌هایی آورده است که نیاوردنِ آن در هیچ‌یک از آن‌ها ابهامی ایجاد نمی‌کند، مانندِ «حالتِ مضاف». اگر در کتاب بگردیم، شواهدِ فراوان می‌توان یافت که فرهنگستان از این قاعده‌یِ خود تخطی کرده است: «خصوصیاتِ خطّ فارسی» (ص ۹)، «تلفّظِ حروف»، «زبانِ معیارِ رایج در تهران»، «نواحی مختلفِ ایران» (ص ۱۱)، «سیاقِ عبارت» (ص ۱۳)، «مصوّتِ مرکب» (ص ۱۴)، «در پاسخ به پرسشِ منفی» (ص ۲۱). آیا جز این است که فرهنگستان این نشانه‌یِ اضافه را ازآن‌رو آورده تا خواننده جمله را بهتر بخواند؟ و اگر چنین است، در این صورت آیا آن قاعده اعتبارِ خود را از دست نمی‌دهد و نمی‌باید قاعده‌ای دیگر برای نشانه‌یِ اضافه نوشت؟ ۲ـ وقتی فرهنگستان می‌نویسد «برای کلماتِ مختوم به های غیرملفوظ، در حالتِ مضاف، از علامتِ «ء» استفاده می‌شود: خانهٔ من، نامهٔ او»، این احتمال وجود دارد که خواننده سهواً علامتِ «ء» را نیز نشانه‌یِ اضافه تصور کند و بپرسد: چرا فرهنگستان در این فصل و نیز در کلِ کتاب بدونِ استثنا این نشانه را در مواردی که هیچ ابهامی وجود ندارد، آورده است؟ مانندِ: خانهٔ من، نامهٔ او، حفظ چهرهٔ خطّ فارسی، نشانهٔ جمع، نشانهٔ همزه، مجموعهٔ اصول، کلّیهٔ اسناد رسمی، در حوزهٔ نگارش و … ازاین‌رو لازم بود در کتاب توضیحِ بیشتری دراین‌باره داده می‌شد. ۳ـ کتاب «دستورِ خط فارسی» درموردِ کلماتِ مختوم به واکه‌یِ /i/ مانند «مهربانی»، «جوانی» و «کوری» سکوت کرده است و نمی‌گوید که آیا باید پس از این کلمات صامتِ میانجیِ «ی» را آورد یا نیاورد؛ یعنی باید نوشت «مهربانیِ مادر» یا «مهربانی‌یِ مادر»؟ بنابراین می‌توان نتیجه گرفت که قاعده‌یِ «کسرهٔ اضافه» در این کتاب ابهام دارد و کامل نیست. نظرِ احمدِ بهمنیار احمدِ بهمنیار (۱۲۶۲- ۱۳۳۴) در «قاعده‌یِ اول» از خطابه‌یِ ورودیِ خود به فرهنگستان در بهمن‌ماهِ ۱۳۲۱ پیشنهاد کرد که به‌جایِ علامتِ «ء»، که درواقع کوتاه‌شده‌یِ «ی» است و در کلماتِ مختوم به هایِ غیرِملفوظ رویِ «ه» گذاشته می‌شود، همان «ی» را بنویسیم، یعنی به‌جایِ «پروانهٔ زیبا» بنویسیم «پروانه‌ی زیبا».[۳] این پیشنهادِ او را بعدها بسیاری از نویسندگان و ناشران به کار بستند. اما همان‌طور که پیشتر گفته شد، می‌باید به کلماتِ مختوم به مصوت پیش از نشانه‌یِ اضافه صدای /y/ را در گفتار و صامتِ میانجیِ «ی» را در نوشتار افزود. این موضوع را بیشتر بشکافیم: کلماتِ مختوم به مصوت‌هایِ /â/ (مانندِ خدا)، /o/ (مانندِ رادیو) و /u/ (مانندِ آهو) پیش از نشانه‌یِ اضافه یک صامتِ میانجیِ «ی» می‌گیرند: خدای فیلسوفان، رادیوی ماشین، آهوی صحرا. ما در این حالت فقط صامتِ میانجیِ «ی» را می‌گذاریم، اما مثلِ همیشه نشانه‌یِ اضافه را حذف می‌کنیم. اگر بخواهیم آن را بیاوریم، ‌باید بنویسیم: خدایِ فیلسوفان، رادیویِ ماشین، آهویِ صحرا. همین وضع درموردِ کلماتِ مختوم به هایِ غیرِملفوظ (مانندِ خانه) نیز صدق می‌کند، یعنی فقط آن صامتِ میانجیِ «ی» را، که رفته‌رفته با دخالتِ خوش‌نویسان به «ء» بر رویِ «ه» تبدیل شده است، می‌آوریم، اما خودِ نشانه‌یِ اضافه یعنی «کسره‌یِ اضافه» را نمی‌آوریم. بنابراین علامتِ «ء» نشانه‌یِ اضافه نیست، بلکه فقط صامتِ میانجیِ «ی» است. به‌عبارتِ‌دیگر اگر قرار است «خانهٔ من» را با «ی» و نشانه‌یِ اضافه بنویسیم، باید آن را به‌صورتِ «خانه‌یِ من» (با یایِ مکسور) نوشت. ازاین‌رو خطاست اگر گمان کنیم که در «خانهٔ من» و «پای برهنه» نشانه‌یِ اضافه را آورده‌ایم، زیرا نشانه‌یِ اضافه در خطِ فارسی فقط‌وفقط علامتِ «ـِ» (کسره) است و «ی» در کلماتِ مختوم به مصوت تنها نقشِ میانجیِ صامت را دارد، تا بتوان آوا و نویسه‌یِ کسره را به آن کلمات افزود. نقدِ دلایلِ نیاوردنِ نشانه‌یِ اضافه آنچه گفتیم، بیشتر مقدمه‌ای بود برایِ ورود به بحث و پرسشِ اصلی و نه بحثی زبان‌شناختی و جامع درباره‌یِ «کسرهٔ اضافه». پرسش این است: چرا نباید نشانه‌یِ اضافه را در خط آورد؟ شاید بتوان مهم‌ترین دلایلِ نیاوردنِ همیشگیِ نشانه‌یِ اضافه را به‌صورت زیر دسته‌بندی کرد:[۴] ۱ـ هر ایرانیِ توانا به خواندن و نوشتن به کمکِ شمِّ زبانیِ خود بودونبودِ این نشانه را مانندِ اِعرابِ کلمات در نوشته تشخیص می‌دهد و درنتیجه نیازی به آوردنِ آن نیست. ۲ـ نوشتنِ همیشگیِ نشانه‌یِ اضافه چهره‌یِ خطِ فارسی را زشت می‌کند و کثرتِ آن ازنظرِ بصری خوشایند نیست. ۳ـ الزام به آوردنِ همیشگیِ آن کارِ نوشتن را دشوار می‌کند و باری اضافی بر دوشِ نویسنده و ناشر است. این دلایل را بررسی کنیم: ـ ایران از اقوامِ گوناگون تشکیل شده است که زبانِ فارسی، زبانِ مادریِ همه‌یِ آنان نیست. بسیاری از افرادِ این اقوام زبانِ فارسی را تنها در مدرسه می‌آموزند. ازاین‌رو نمی‌توان نشانه‌یِ اضافه را حذف کرد و تشخیصِ آن را به شمِّ زبانیِ خواننده واگذاشت. ـ هر نوشته باید بتواند مستقل از شمِّ زبانی و سطحِ سوادِ خوانندگانش درست و بی غلط خوانده شود. ـ اگرچه باید به زیباییِ چهره‌یِ خطِ فارسی اهمیت داد، اما این امر نباید مانع و مخلِ درست خواندن و درست فهمیدن شود. ننوشتنِ این نشانه‌یِ مهم، به شرحی که بعداً خواهد آمد، خواندنِ متن‌هایِ فارسی را دشوار، سرعتِ خواندن را کند و فهمیدنِ درستِ منظورِ نویسنده را گاه با ابهام روبرو می‌کند. در نقدِ سخنِ کسانی که می‌گویند کثرتِ نشانه‌یِ اضافه چهره‌یِ خط را زشت و کارِ نوشتن را سخت می‌کند، کافی است آنان را به واژه‌یِ der در زبانِ آلمانی ارجاع داد که پربسامدترین واژه در این زبان است. تکرارِ این واژه چنان است که زبان‌شناسانِ آلمانی برایِ تعیینِ رتبه‌بندیِ بسامدِ واژه‌هایِ آلمانی همین واژه را مبنا قرار داده‌اند و بسامدِ سایرِ واژه‌ها را با آن سنجیده‌اند. به‌عنوانِ‌مثال بسامدِ Zimmer (اتاق) در رتبه‌یِ ۱۰ جای دارد، یعنی واژه‌یِ der، مطابقِ این تحقیقِ میدانی که در دانشگاهِ لایپ speziیکِ آلمان انجام گرفته است، ۲ به توان ۱۰، یعنی ۱۰۲۴ بار بیش از Zimmer در زبانِ آلمانی تداول دارد. بنابراین می‌توان حدس زد که این واژه تا چه حد در نوشته‌هایِ آلمانی تکرار می‌شود؛ اما هیچ آلمانی‌زبانی به این فکر نمی‌افتد که آن را با توسل به دلایلِ سه‌گانه‌یِ شمِّ زبانی، زیبایی‌شناسیِ خط و سهولتِ نوشتن نیاورد، زیرا این کار مفاهمه‌یِ اهلِ زبان را غیرممکن می‌کند، حال‌آنکه آوردنِ آن به نوشتار و به‌تبعِ آن به ذهن دقت و روشنی می‌بخشد. ـ آوردنِ نشانه‌یِ اضافه اگرچه از سرعتِ نوشتن می‌کاهد، اما سودش بسیار است. برایِ سهولتِ نوشتنِ آن می‌توان نرم‌افزارهایی برای صفحه‌کلید طراحی کرد که با فشردنِ کلیدِ مبدل و کلیدِ هر حرف هم‌زمان آن حرف و نشانه‌یِ اضافه را تایپ کند. ـ یکی دیگر از دلایلِ نیاوردنِ نشانه‌یِ اضافه چنین است: همان‌طور که ما کلمات را اِعراب‌گذاری نمی‌کنیم و می‌توانیم آن‌ها را بدونِ نشانه‌هایِ زیر و زبَر و پیش بخوانیم. به آوردنِ «کسره‌یِ اضافه» نیز نیازی نیست. به اشاره بگوییم که خطِ فارسی خطِ الفباییِ ناقص است، زیرا به‌عنوانِ‌مثال خودِ کلمه‌یِ «اتاق» به کمکِ حروفِ متشکله‌اش به ما نمی‌گوید که باید آن را چگونه بخوانیم، بلکه ما تلفظِ درستِ کلمه‌یِ «اتاق» را به ذهن می‌سپاریم و هر جا این «تصویر» را، چه با اِعراب و چه بی اِعراب، در خط دیدیم، درست تلفظ می‌کنیم؛[۵] اما بحثِ «کسره‌یِ اضافه» فراتر از اِعراب یا حرکاتِ حروف است، زیرا ما حتی با دانستنِ تلفظِ درستِ «اتاق» نیز نمی‌توانیم آن را در جمله درست بخوانیم و تلفظِ آن هر بار بسته به کلماتِ پس از آن و ساختِ جمله تغییر می‌کند. بنابراین این معضل ربطی به اِعراب ندارد و اِعراب نگذاشتنِ کلمات نیاوردنِ نشانه‌یِ اضافه را توجیه نمی‌کند. به‌بیانِ‌دیگر عمده‌یِ مشکلاتِ ما در بدخوانی و بدفهمی ناشی از تلفظِ کلمات نیست، بلکه نتیجه‌یِ درست تشخیص ندادنِ پیوندِ میانِ کلمات و نحوِ جمله است. نیاوردنِ نشانه‌یِ اضافه نقشی اساسی در این امر دارد. دلایلِ ضرورتِ نوشتنِ نشانه‌یِ اضافه اما ردِ دلایلِ نیاوردنِ نشانه‌یِ اضافه یا سست کردنِ آن‌ها نمی‌تواند به‌خودیِ‌خود دلیلی بر ضرورتِ نوشتنِ نشانه‌یِ اضافه تلقی شود. ازاین‌رو باید دراین‌باره نیز اندیشید و دلیل آورد. گروهِ واحدِ «در اتاق» را در نظر بگیرید که در آن هیچ نشانه‌یِ اضافه به کار نرفته است. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند «در اتاق» را بدونِ نشانه‌یِ اضافه درست بخواند و با قاطعیت بگوید که این است و جز این نیست. زیرا منظور از «در اتاق» می‌تواند هم «در داخلِ اتاق» و هم «درِ اتاق» باشد. اما مشکل تنها به اینجا ختم نمی‌شود. هیچ فارسی‌زبانی و حتی هیچ‌یک از استادانِ زبانِ فارسی نمی‌تواند آن را مستقل از واژه‌ای که پس از این گروه می‌آید، درست بخواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست». واژه‌هایِ «نیست» و «نشیمن» در دو مثالِ بالا، که پس از «اتاق» آمده‌اند و در هنگامِ خواندنِ «اتاق» آن‌ها را نمی‌بینیم، تعیین می‌کنند که «اتاق» را چگونه بخوانیم. اما مشکل همچنان باقی است، زیرا گاهی حتی واژه‌یِ بعد نیز نمی‌تواند همیشه کمک کند تا جمله را درست بخوانیم و تنها ساختِ جمله به ما می‌گوید که «در» و «اتاق» را چگونه باید خواند: «پرویز در اتاق نیست»، «پرویز در اتاق نشیمن نیست»، «پرویز در اتاق نشیمن را تعمیر کرد». گمان نکنید که مشکلاتِ نیاوردنِ نشانه‌یِ اضافه در اینجا پایان می‌یابد. گاه پیش می‌آید که نه واژه‌یِ بعد و نه ساختِ جمله هیچ‌یک نمی‌توانند به ما بگویند که باید این نشانه را میانِ دو کلمه فرض کرد یا نکرد: جمله‌یِ «معلم تازه وارد کلاس شد» می‌تواند «معلمْ تازه واردِ کلاس شد» خوانده شود و نیز «معلمِ تازه واردِ کلاس شد». جمله‌یِ «پدر پرویز را دید» را می‌توان هم «پدرْ پرویز را دید» خواند و هم «پدرِ پرویز را دید». همین‌طور جمله‌یِ «معلم بچه‌ها را شناخت» را می‌توان دو گونه خواند: ۱. «معلمْ بچه‌ها را شناخت»؛ ۲. «معلمِ بچه‌ها را شناخت». آیا خطی را می‌شناسید که مردمانش و حتی دانشمندانش در خواندنِ یک جمله‌یِ ساده این‌همه دشواری داشته باشند؟ همه‌یِ این مشکلات ناشی از این است که نوشتنِ نشانه‌یِ اضافه را ضروری نمی‌دانیم و همه‌جا نمی‌آوریم. شاید گفته شود که چشمِ ما در خواندنِ یک متن کلمه‌به‌کلمه پیش نمی‌رود، بلکه عبارت‌به‌عبارت تصویربرداری می‌کند. این سخن تا حدی درست است، اما دلایلِ بالا را باطل نمی‌کند: ۱ـ فقط چشمِ آزموده و آشنا به فنِ تندخوانی می‌تواند عبارت‌به‌عبارت ببیند، حال‌آنکه اکثرِ افراد کلمه‌به‌کلمه و نوآموزانِ زبان حرف‌به‌حرف می‌بینند و می‌خوانند. ۲ـ بسیار پیش می‌آید که کلماتِ طرفینِ نشانه‌یِ اضافه در یک سطر جای نمی‌گیرند و بخشی از آن به ابتدایِ سطرِ بعد منتقل می‌شود. در این حالت چشمِ خواننده نمی‌تواند از انتهایِ یک سطر و ابتدایِ سطرِ بعد تصویری واحد بردارد. ۳ـ مکرر اتفاق می‌افتد که این نشانه بیش از دو کلمه را به هم پیوند می‌دهد، مانندِ: فرهنگِ توصیفیِ دستورِ زبانِ فارسی، کتابِ سنجشِ خردِ نابِ فیلسوفِ نامدارِ آلمانی، مردِ اسب‌سوارِ دشت‌نشینِ صحراگردِ باران‌دیده. نیاوردنِ نشانه‌یِ اضافه یک زیانِ دیگر نیز دارد و آن کاربردِ نابجایِ ویرگول است. اکثرِ نوشته‌هایِ فارسی پر است از ویرگول‌هایِ نابجا. علتش نگرانیِ نویسنده است از اینکه مبادا خواننده کلماتِ جمله را به‌غلط با کسره‌یِ اضافه بخواند. ازاین‌رو در جمله از ویرگول به‌عنوانِ نشانه‌یِ درنگ استفاده می‌کند. اگر نشانه‌یِ اضافه همیشه آورده شود، نویسنده دیگر از این بابت ترسی نخواهد داشت و درنتیجه معضلِ ویرگول‌هایِ نابجا نیز خودبه‌خود برطرف می‌شود.[۶] آنچه گفتیم مربوط به جمله‌هایِ ساده بود. می‌توان حدس زد که وقتی جمله‌ها پیچیده می‌شوند، میزانِ بدخوانی و بدفهمیِ ما به طرزی تصاعدی افزایش می‌یابد. وقتی خواننده‌یِ ایرانی در ترجمه‌یِ کتابی از هگل می‌خواند «جهان روح از خودبیگانه شده»[۷] به‌راستی آن را چگونه بخواند و چگونه بفهمد؟ «جهانْ روحِ ازخودبیگانه‌شده»؟، «جهانِ روحْ از خود بیگانه شده»؟، «جهانِ روحِ ازخودبیگانه شده»؟ حال‌آنکه خواننده‌یِ آلمانی‌زبان هیچ مشکلی در خواندنِ درستِ اصل آن ندارد: Die Welt des sich entfremdeten Geistes. به‌بیانِ‌دیگر ما علاوه بر اینکه در درکِ اصطلاحِ «گایستِ» هگلی که مترجمانِ ما آن را «عقل» (حمیدِ عنایت)، «روح» (زیبا جبلی) و «جان» (باقرِ پرهام) ترجمه کرده‌اند، با دشواری روبرو هستیم، خطِ ما نیز این دشواری را دوچندان کرده و با نیاوردنِ نشانه‌یِ اضافه چنان نحوِ جمله را مبهم و فهمِ آن را تیره کرده است که نظیرش را شاید در کمتر خطی بتوان یافت. باید به‌صراحت اعتراف کرد که نیاوردنِ نشانه‌یِ اضافه باعثِ کندخوانی، دوباره‌خوانی، بدخوانی، دشوارفهمی و بدفهمی می‌شود. مشکلِ اصلی درواقع این است که واکه‌هایِ شش‌گانه‌یِ فارسی هیچ نماینده‌ای در الفبایِ خطِ فارسی ندارند و ازاین‌رو می‌توان گفت که خطِ فارسی خطی «غیرِ دمکراتیک» است؛ اما با نوشتنِ نشانه‌یِ اضافه می‌توان از شدتِ این ضعفِ خطِ فارسی تا حدی کاست. به‌جرئت می‌توان گفت که خطِ فارسی اگر نقادانه به خود ننگرد و در رفعِ معایبِ خود مجدانه نکوشد، هرگز قادر نیست جهانِ پهناورِ اندیشه را به‌روشنی در خود بازتاباند. یک‌لحظه پیشِ خود تصور کنید که انگلیسی‌زبانان یا آلمانی‌زبانان نشانه‌هایِ اضافه را در خطِ خود حذف کنند و آن را مثلِ ما ایرانیان به فراخورِ حال و شمِّ زبانیِ گویشورانشان واگذارند. نتیجه‌یِ آن کاملاً روشن است. درباره‌یِ ضرورت آوردنِ نشانه‌یِ اضافه بسیار می‌توان گفت. داریوشِ آشوری در مقاله‌یِ «چند پیشنهاد درباره‌یِ روشِ نگارش و خطِ فارسی» که نخست در مجله‌یِ نشرِ دانش در سال ۱۳۶۵ به چاپ رسید و اینک در کتابِ «بازاندیشیِ زبانِ فارسی» (آشوری، ۱۳۱) تجدیدِ چاپ شده است، حقِ مطلب را در این زمینه اَدا کرده است. او در نوشته‌هایش همه‌جا نشانه‌یِ اضافه را می‌آورد. کسانی که معتقدند آوردنِ این نشانه چهره‌یِ خطِ فارسی را زشت می‌کند، کافی است به‌عنوانِ نمونه کتابِ «چنین گفت زرتشتِ نیچه» با ترجمه‌یِ او را باز کنند و ببیند، آیا چهره‌یِ خطِ فارسی در آن کتاب زشت شده است؟ هر کس که با زبانِ فارسی آشناست، این کتاب را، باآنکه نثری کهن‌شیوه دارد، می‌تواند بی غلط بخواند، حال‌آنکه حتی دانشمندانِ ما در خواندنِ یک جمله‌یِ ساده که نشانه‌هایِ اضافه‌یِ آن حذف شده است، با دشواری روبرو هستند. اینکه هیچ‌یک از ما مطمئن نیستیم بتوانیم متنی را که قبلاً نخوانده‌ایم، بی غلط بخوانیم، بیش از همه ناشی از نیاوردنِ نشانه‌یِ اضافه در خط است. اخیراً میانِ برخی جوانان باب شده است که به‌عنوانِ‌مثال «دوستِ عزیز» را «دوسته عزیز» بنویسند. این کار بیش از آنکه ناشی از کم‌اطلاعیِ آنان از دستور و خطِ فارسی باشد، ناشیِ از ضعفِ خطِ فارسی و خو نکردن ما به آوردنِ نشانه‌یِ اضافه است. بنابراین به‌جایِ آنکه جوانان را ملامت کنیم، بهتر است در نگاهِ خود به نشانه‌یِ اضافه تجدیدِ‌نظر کنیم و آوردنِ آن را در همه‌جا ضروری بدانیم. پایانِ سخن خطِ فارسی که زمانی می‌توانست بدونِ نقطه‌گذاری و آوردنِ نشانه‌یِ اضافه و حتی بدونِ گذاشتنِ نقطه‌هایِ حروف در نسخِ خطی نیازهایِ کاربران و مخاطبانِ محدودِ خود را که به‌طور عمده در حوزه‌یِ شعر و ادب بود، برآورد، اکنون قادر نیست با همان شیوه‌یِ کهن این حجمِ انبوه از دانش و فن و فلسفه را به میلیون‌ها کاربر و مخاطبِ خود به‌درستی عرضه کند. خوشبختانه با ظهور و رواجِ رایانه‌ها و ورودِ ویراستارانِ حرفه‌ای به عرصه‌یِ نشر پیشرفت‌هایِ بسیار کرده‌ایم، اما نمی‌توان همچنان به ضرورتِ آوردنِ نشانه‌یِ اضافه در خط بی‌اعتنا بود. همان‌طور که ما اکنون تمامِ نقطه‌هایِ حروفِ نقطه‌دار را می‌گذاریم، انتهایِ جمله‌ها را بدونِ استثنا با نقطه می‌بندیم، هر جمله‌یِ پرسشی را با علامتِ سئوال (؟) مشخص می‌کنیم، نقل‌قول‌ها را در درونِ دو گیومه («» یا ” “) می‌آوریم، در صورتِ لزوم در متن از نشانه‌هایی مانندِ ویرگول (،)، نقطه‌ویرگول (؛)، دونقطه (:)، پرانتز ()، قلاب []، خطِ‌تیره (-)، علامتِ تعجب (!) و مانندِ آن استفاده می‌کنیم، بینِ کلمات بدونِ استثنا یک فاصله‌یِ تمام می‌گذاریم، مراقبیم که فاصله را نیم‌فاصله و نیم‌فاصله را فاصله نزنیم، رفته‌رفته به جدانویسیِ کلمات عادت کرده‌ایم و مانندِ کتابِ «دستورِ پنج استاد» نمی‌نویسیم: «نمیتوان»، «بهمخاطب»، «کلماتیکه»، «مختوم بالف»، «بهمند»، «بکلمه»، و هیچ‌یک از این کارها را سخت یا زشت کردنِ چهره‌یِ خطِ فارسی نمی‌دانیم، پس می‌توان به نوشتنِ نشانه‌یِ اضافه نیز عادت کرد و آن را بدونِ استثنا آورد و آوردن یا نیاوردنِ آن را به میلِ نویسنده و تشخیصِ بودونبودِ آن را به خواننده واگذار نکرد. منابع: – انوری، حسن؛ احمدی گیوی، حسن، ۱۳۹۳. دستورِ زبانِ فارسی ۲. تهران، انتشاراتِ فاطمی. – طباطبایی، علاءالدین. ۱۳۹۵، فرهنگِ توصیفیِ دستورِ زبانِ فارسی. تهران، فرهنگِ معاصر. – آشوری، داریوش، ۱۳۷۵، بازاندیشیِ زبانِ فارسی. تهران، نشرِ مرکز. – فرهنگستان، ۱۳۹۴، دستورِ خطِ فارسی. تهران، فرهنگستانِ زبان و ادبِ فارسی (نشرِ آثار). یادداشت‌ها [۱] متأسفانه این نشانه‌یِ مهم در خطِ فارسی نامِ واحد و گویایی ندارد: دستورنویسانِ ما آن را «کسرهٔ اضافه»، «نقش‌نمایِ اضافه»، «علامتِ اضافه» و «نشانهٔ اضافه» نامیده‌اند. این نشانه را برخی «نقش‌نما» یا «حرف» تلقی کرده‌اند (انوری، ۲۷۸)، حال‌آنکه برخی دیگر «واژه‌بست» (clitic/ Klitikon) دانسته‌اند (طباطبایی، ۵۲۰). لفظِ «اضافه» نیز برایِ این نشانه چندان مناسب نیست، زیرا این نشانه نه‌فقط در حالتِ اضافه و بینِ مضاف و مضاف‌الیه، بلکه میانِ موصوف و صفت نیز ظاهر می‌شود، مگر آنکه «اضافه» را در اینجا به معنایِ دستوریِ آن درک نکنیم. [۲] این علامت کوتاه‌شده‌یِ «ی» است. [۳] این خطابه که به «رسالهٔ املایِ فارسی: پیشنهاد به مقامِ فرهنگستان» مشهور است، اکنون در لغت‌نامهٔ دهخدا و ویکی‌نبشته در دسترس است. [۴] همان‌طور که گفته شد، فرهنگستان در این زمینه توضیحی نمی‌دهد. جستجویِ من برایِ یافتنِ نوشته‌ای که در آن دلایلِ نیاوردنِ نشانه‌یِ اضافه را ذکر کرده باشد، بی‌نتیجه بود. ازاین‌رو این دلایل بیشتر بر پایه‌یِ شنیده‌ها و نامه‌نگاری‌هایم استوار است. [۵] در این مختصر نمی‌توان شرح داد که این امر چه پیامدهایی برایِ ما و ذهنِ ما داشته است. فقط به اشاره می‌توان گفت که یکی از دلایلی که ما حافظه‌ای نیرومند داریم، اما قدرتِ تحلیلِ ما ضعیف است، به‌عبارت‌دیگر بیشتر اهلِ «نقل» هستیم و کمتر اهلِ «عقل» – که بازتابِ آن را در سیاست هم می‌توان دید- به حضورِ فرهنگِ گفتاری و خطِ صامتِ ‌الفباییِ ناقصِ ما مربوط می‌شود. [۶] برای اطلاعِ بیشتر دربارهٔ کاربردِ نابجایِ ویرگول بنگرید به کتابِ ویرگول‌گذاری و مبانیِ نظریِ آن: کاربردِ بجا و نابجایِ ویرگول از صاحبِ این قلم. [۷] فنومنولوژی روح/ هگل؛ ترجمهٔ زیبا جبلی، ص ۳. نظر داریوش آشوری: *مقاله‌ی سنجیده و جامعی ست در باره‌ی داستان «کسره‌ی اضافه» به قلم آقای افشاری. از این دست پژوهش‌های باریک‌بینانه و سنجیده در باره‌ی مسائل زبان نگاره‌ی فارسی از ایشان پیش از این چند جستار منتشر شده است. در باره‌ی این مبحث من هم در سال‌های گذشته نوشته‌ام و در کتابِ «بازاندیشیِ زبانِ فارسی» می‌توان یافت. این که فرهنگستان زبان در دستورنامه‌ی خود در باره‌ی «خط فارسی» این مورد را با نگاهِ ادیبانه، نه زبان‌شناسانه، نه با منطق علمی بلکه با پیروی از عادت‌های نوشتاریِ به ارث رسیده، «زیرسبیلی» در می‌کند، جای شگفتی نیست. زیرا ذهن ما هنوز به فهم علمیِ مدرن، و بالاتر از آن به کار بستنِ این گونه فهم‌ در رفتار و نوشتار، خو نگرفته است. به یاد دارم که سالیانی پیش در ایران با دو تن از هموندان فرهنگستان در این باره بحث می‌کردم، در پاسخِ این پرسش که «این به‌اصطلاح کسره‌ی اضافه چیست که باید یا نباید نوشته شود؟»، پاسخ این بود که، «مگر ما بی‌سواد ایم که باید آن را بنویسیم!» هنگامی من ضرورتِ نوشتنِ آن را به‌ویژه برای متن‌های علمی و فلسفی مدرن طرح کردم و این مقاله نخستین بار در مجله‌ی «نشر دانش» چاپ شد، مردِ ادیب و زبان‌شناسی مانندِ آقای احمد سمیعی گیلانی، سردبیر «نامه‌ی فرهنگستان» و مردِ نکونامِ با همت و با فرهنگی مانند علی میرزایی، سردبیرِ «نگاهِ نو»، منطق آن را پذیرفتند و در مجله‌ی خود به کار بستند، اما به‌زودی بر اثر فشاری که اهلِ قلم، و در مورد نخستین «شورای فرهنگستان» پشت‌شان گذاشتند، ناگزیر وادار به عقب‌نشینی شدند. با این همه‌، این روش و پیشنهاد از راهِ کتاب‌‌های من و برخی دیگر از نویسندگان و مترجمان و ویراستاران در حال پذیرشِ بیش و بیش‌تر است، از جمله آقای جعفرِ مدرس صادقی آن را با دقت در ویرایش متن‌های کهن این روش را به‌کار می‌بندد. و من خرسند ام که پژوهنده‌یِ با پشتکار و دل‌سوزی مانندِ رحمانِ افشاری نیز با منطق روشن علمی پیگیرِ این داستان است. یکی از جاهایی که نوشتنِ این «کسره» برای درست‌خوانی و پرهیز از ابهام یا نادرست‌خوانی ضرورتِ بی‌چون-و-چرا دارد، در کارِ فرهنگ‌نویسیِ امروزین است. جای آن را به‌درستی در فرهنگ‌های ارزنده‌ای که با دیدِ تازه در این دو-سه دهه تألیف شده است، خالی می‌بینم. اشاره‌ام یکی به «فرهنگِ سخن»، به ویراستاریِ آقای حسن انوری ست و دیگر به «فرهنگِ جامعِ فارسی» به ویراستاریِ آقای علی‌اشرف صادقی. چنان که در دو-سه جای دیگر نوشته‌ام، این «کسره‌ی اضافه»، اگرچه از نظرِ ساختارِ آوایی تنها از یک مصوّت تشکیل شده است، ولی از نظرِ نقشِ دستوری یک تکواژ است با نقشِ پربسامدِ یک «واژه‌ی دستوری» (grammatical word) و همه جا باید نوشته شود. که افشاری در این باره به‌خوبی مسأله را روشن کرده است.",
              "chat_id": 3385
            }
            
### خلاصه‌سازی سند [POST]
دقیقاً مثل خلاصه‌سازی متن فقط با این تفاوت که اینجا به جای متن باید آدرس اسناد در سامانه الفبا را بدهید.

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - document_url (array[string], required) - آدرس اسنادی که می‌خواهید خلاصه شود روی سامانه الفبا.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - متنی
                + bullet - فهرست‌وار

    + Body

            {
              "document_urls": [
                "http://alefba.roshan-ai.ir/****/test_file3.pdf"
              ],
              "type": "word",
            }

+ Response 200 (application/json)

            {
              "result": "### خلاصه نامه\n\n- **فرستنده**: مدیریت سازمان\n- **گیرنده**: تیم مربوطه\n- **موضوع**: پاسخ به درخواست همکاری\n- **شماره نامه**: ۱۴۰۲/۰۰۰۰۰\n- **تاریخ**: ۰۱/۰۱/۱۴۰۲\n\n### نکات مهم نامه\n\n1. **اعلام آمادگی همکاری**: سازمان آماده همکاری در پروژه مورد نظر است.\n2. **بررسی الزامات و مستندات**: پس از بررسی دقیق الزامات ارائه شده، امکان همکاری تایید شده است.\n3. **شروع فاز اولیه**: پیشنهاد شده فاز اولیه پروژه شامل تحلیل نیازمندی‌ها و طراحی نمونه اولیه آغاز شود.\n4. **همکاری تیم‌ها**: تیم‌های فنی و مشاوره آماده همکاری برای اجرای موفق پروژه هستند.\n5. **درخواست برگزاری جلسات هماهنگی**: زمان و شرایط مناسب برای جلسات هماهنگی اولیه باید تعیین و اعلام شود.\n6. **ارسال اطلاعات تکمیلی**: امکان ارسال اطلاعات تکمیلی مورد نیاز از طریق کانال‌های ارتباطی وجود دارد.\n7. **تشکر و قدردانی**: از همکاری و تعامل طرف مقابل تشکر شده است.\n\n### نتیجه‌گیری\nسازمان با اعلام آمادگی برای همکاری، پیشنهاداتی برای شروع و اجرای پروژه ارائه داده و منتظر هماهنگی‌های لازم است.",
              "info": {
                "in_token": 444,
                "out_token": 365,
                "type": "word",
                "document_url": [
                  "http://alefba.roshan-ai.ir/****/test_file3.pdf"
                ]
              },
              "content": "['به: تیم مربوطه\\n\\nاز: مدیریت سازمان\\n\\nموضوع: پاسخ به درخواست همکاری\\nشماره: ۱۴۰۲/۰۰۰۰۰\\nتاریخ: ۰۱/۰۱/۱۴۰۲\\nبا سلام و احترام،\\n\\nدر پاسخ به درخواست همکاری شما، به اطلاع می‌رساند که سازمان پس از بررسی الزامات و مستندات ارائه شده، آمادگی خود را برای همکاری در پروژه اعلام می‌دارد.\\n\\nپیشنهاد می‌شود فاز اولیه پروژه شامل تحلیل نیازمندی‌ها و طراحی نمونه اولیه در قالب جلسات مشترک آغاز گردد. تیم‌های فنی و مشاوره آماده همکاری برای اجرای موفق پروژه و ارائه بهترین خدمات هستند.\\n\\nلطفاً جهت تسهیل روند اجرایی، زمان و شرایط مناسب برای برگزاری جلسات هماهنگی اولیه را تعیین و اعلام فرمایید. همچنین، هرگونه اطلاعات تکمیلی مورد نیاز را می‌توانید از طریق کانال‌های ارتباطی مشخص ارسال نمایید.\\n\\nپیشاپیش از همکاری و تعامل شما کمال تشکر را داریم.\\n\\nبا احترام،\\nمدیریت سازمان']",
              "chat_id": 2578
            }



## سلامت ای‌پی‌آی [/healthcheck]

وضعیت سلامت ای‌پی‌آی را بررسی می‌کند. در صورتی که سالم باشد پاسخی با کد <code>200</code> و متن <code>Server is up and ready</code> برمی‌گردد.

### بررسی وضعیت سلامت ای‌پی‌آی [GET]

+ Request (application/json)
    + Headers

            Authorization: Token YOUR_API_TOKEN

+ Response 200 (application/json)

            {
              "status": "ok",
              "message": "Server is up and ready",
              "service": "fahm",
              "version": "1.0.0"
            }


## تولید متن [/letter/]

بر اساس موضوع دلخواه شما یک متن تولید می‌کند.

### مثال: نوشتن یک نامه مرخصی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - content (string, required) - متنی که می‌خواهید تولید شود.

    + Body

            {
                "content": "نامه درخواست مرخصی"
            }

+ Response 201 (application/json)

            {
              "result": "به نام خدا\n\nمدیریت محترم [نام شرکت/سازمان]\n\nبا سلام و احترام،\n\nاین نامه به منظور درخواست مرخصی تقدیم می‌گردد.\n\nلطفاً متن اصلی نامه در این قسمت قرار گیرد. به عنوان مثال: \"بنده [نام و نام خانوادگی] به شماره کارمندی [شماره کارمندی]، درخواست مرخصی [تعداد روز] روزه از تاریخ [تاریخ شروع] لغایت [تاریخ پایان] را دارم. در صورت موافقت، از مساعدت شما کمال تشکر و قدردانی را دارم.\"\n\nبا احترام،\n\n[نام و نام خانوادگی]\n\n[سمت]\n\n[نام شرکت/سازمان]\n\n[اطلاعات تماس]",
              "chat_id": 2137,
              "content": "نوشتن یک نامه مرخصی"
            }

## ویرایش متن [/text-correction/]

متن شما را ویرایش می‌کند.

### تصحیح و ویرایش متن [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - text (string, required) - متنی که باید ویرایش شود.
        - description (string, required) - توضیحی درباره اینکه چه نوع ویرایشی روی متن انجام شود (مثلاً: اصلاح غلط‌های املایی یا نگارشی و ...).

    + Body

            {
                "text": "گوینده 1: تأمین‌کننده مسائل حساسیت را رعایت نمی‌کند و این موضوع منجر به آشفتگی در کیفیت بتن‌ها شده است. در بازدید اخیر ما از پروژه آبادان، مقاومت بتن‌ها از هشت مگاپاسکال تا سی و دو مگاپاسکال متغیر بوده و متوسط آن در حدود هفده تا هجده مگاپاسکال بوده است. در برخی ساختمان‌ها، متوسط مقاومت به ده مگاپاسکال هم رسیده است. با این حال، تمام این ساختمان‌ها شیت آزمایشگاهی داشته‌اند و این شیت‌ها حاکی از آن است که بتن‌ها از نظر مقاومت منطبق با الزامات آیین‌نامه‌ای بوده‌اند.\n\nبررسی این موضوعات بسیار دشوار است و شامل مسئولیت‌های گسترده‌ای برای آزمایشگاه‌ها، مهندسین و تولیدکنندگان است. ایده‌ای که ما داشتیم، این بود که با طبقه‌بندی کیفی کارخانه‌های بتن آماده، رقابت سالمی ایجاد کنیم. اگر یک تولیدکننده بتن با کیفیت بالاتری داشته باشد، بتواند به خریداران اعلام کند که دارای رتبه «ممتاز» یا «خیلی خوب» در گواهینامه فنی مرکز است، این خود به خود می‌تواند انگیزه‌ای برای بهبود کیفیت باشد. در صورتی که این رقابت شکل بگیرد، احتمالاً خریداران تمایل پیدا خواهند کرد که بتن‌های با کیفیت‌تری از کارخانه‌های دارای رتبه بالاتر تهیه کنند.\n\nدر مورد این دستورالعمل، پنج بخش اصلی در نظر گرفته‌ایم. فصل دوم (بخش اول) مربوط به سخت‌افزار، تجهیزات تولید، انتقال و تخلیه است که شامل نیروی انسانی نیز می‌شود. بعد از آن، بحث مدیریت کیفیت مطرح می‌شود که خود شامل چند زیربخش است: نیروی انسانی در مدیریت کیفیت، تجهیزات آزمایشگاهی، فرآیندهای کنترل کیفی موجود (که آن را «سیستم کیفیت» نامیده‌ایم) و مستندات تضمین کنترل کیفیت. این عوامل در رتبه‌بندی تأثیرگذار هستند.\n\nدر فصل",
                "description": "لطفاً متن را تصحیح کنید"
            }

+ Response 200 (application/json)

            {
[...]
