FORMAT: 1A
HOST: https://fahm.roshan-ai.ir/api

# فهم

این ای‌پی‌آی برای انجام عملیات ترجمه، خلاصه‌سازی و گفت‌وگو طراحی شده است.

برای استفاده از این ای‌پی‌آی نیازمند توکن هستید. این توکن را از بخش فروش دریافت کنید.

## ترجمه [/translation/]

یک متن را از انگلیسی به فارسی یا از فارسی به انگلیسی ترجمه می‌کند. زبان‌های دیگر پشتیبانی نمی‌شود.

### ترجمه متن انگلیسی به فارسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - text (string, required) - متنی که باید ترجمه شود
        - to: fa (enum[string], required) - به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "text":"Hello. How are you?",
                "to":"fa"
            }


+ Response 200 (application/json)

            {
                "result": "```\nسلام. چطوری؟\n```"
            }
            
### ترجمه متن فارسی به انگلیسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - text (string, required) - متنی که باید ترجمه شود.
        - to: en (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
              "text": "به نام خداوند بخشنده مهربان",
              "to": "en"
            }


+ Response 200 (application/json)

            {
                "result": "```\nIn the name of the Lord, the Forgiving, the Merciful\n```"
            }
            

### ترجمه سند از انگلیسی به فارسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - document_url (string, required) - آدرس سندی که باید ترجمه شود روی سامانه الفبا.
        - to: fa (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "document_url": "http://alefba-dev.roshan-ai.ir/media/files/37/01/sample_en.txt",
                "to": "fa",
            }


+ Response 200 (application/json)

            {
              "result": "```\nسلام. چطوری؟\n```"
            }
            
### ترجمه سند از فارسی به انگلیسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - document_url (string, required) - آدرس سندی که باید ترجمه شود روی سامانه الفبا.
        - to: fa (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "document_url": "http://alefba-dev.roshan-ai.ir/media/files/37/01/sample_fa.txt",
                "to": "fa",
            }


+ Response 200 (application/json)

            {
                "result": "```\nIn the name of the Lord, the Forgiving, the Merciful\n```"
            }

## خلاصه‌سازی [/summarization/]

یک متن را به صورت معمولی یا به صورت یک فهرست یا در قالب یک گفتگو خلاصه می‌کند. همچنین امکان تعیین میزان حجم خلاصه در سه سطح کم، متوسط و زیاد وجود دارد.

### خلاصه‌سازی متنی [POST]

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - text (string, required) - متنی که باید خلاصه شود.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - معمولی
                + bullet - فهرست‌وار
                + conversation - گفتگو
                
        - level: level_1 (enum[string], required) - ح حجم خلاصه چقدر باشد؟ در حالت conversation فقط level_1 قابل قبول است.
            + Members
                + level_1 - کم
                + level_2 - متوسط
                + level_3 - زیاد

    + Body

            {
                "text": "سلام، وقت شما بخیر؛ وقت شما هم بخیر، امیدوارم حال‌تان خوب باشد؛ سپاسگزارم، بله متشکرم، امیدوارم حال شما هم مساعد باشد؛ بله، ممنون از لطفتان، در خدمت هستم؛ خواستم درباره جلسه‌ی فردا با شما هماهنگ کنم؛ بله حتماً، چه ساعتی مد نظر دارید؟ اگر موافق باشید ساعت ده صبح مناسب است؛ بله، زمان مناسبی‌ست، مکان جلسه همان دفتر مرکزی خواهد بود؟ بله، طبق برنامه در دفتر مرکزی برگزار می‌شود؛ بسیار خوب، حتماً رأس ساعت ده در محل حاضر خواهم بود؛ سپاسگزارم از همکاری شما، اگر موردی بود در تماس خواهم بود؛ خواهش می‌کنم، بنده هم در صورت نیاز اطلاع خواهم داد، روز خوش؛ همچنین، روزتان بخیر و به امید دیدار.",
                "type": "word",
                "level": "level_1"
            }

+ Response 200 (application/json)

            {
                "result": "جلسه فردا ساعت ده صبح در دفتر مرکزی قرار گرفته است. هر دو طرف به زمان و مکان اعلام شده موافقت کرده‌اند. پیام‌ها با لحن مهربانی و احترام پایان یافته است."
            }

### خلاصه‌سازی فهرست‌وار [POST]

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - text (string, required) - متنی که باید خلاصه شود.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - معمولی
                + bullet - فهرست‌وار
                + conversation - گفتگو
                
        - level: level_1 (enum[string], required) -  حجم خلاصه چقدر باشد؟ در حالت conversation فقط level_1 قابل قبول است.
            + Members
                + level_1 - کم
                + level_2 - متوسط
                + level_3 - زیاد

    + Body

            {
                "text": "سلام، وقت شما بخیر؛ وقت شما هم بخیر، امیدوارم حال‌تان خوب باشد؛ سپاسگزارم، بله متشکرم، امیدوارم حال شما هم مساعد باشد؛ بله، ممنون از لطفتان، در خدمت هستم؛ خواستم درباره جلسه‌ی فردا با شما هماهنگ کنم؛ بله حتماً، چه ساعتی مد نظر دارید؟ اگر موافق باشید ساعت ده صبح مناسب است؛ بله، زمان مناسبی‌ست، مکان جلسه همان دفتر مرکزی خواهد بود؟ بله، طبق برنامه در دفتر مرکزی برگزار می‌شود؛ بسیار خوب، حتماً رأس ساعت ده در محل حاضر خواهم بود؛ سپاسگزارم از همکاری شما، اگر موردی بود در تماس خواهم بود؛ خواهش می‌کنم، بنده هم در صورت نیاز اطلاع خواهم داد، روز خوش؛ همچنین، روزتان بخیر و به امید دیدار.",
                "type": "bullet",
                "level": "level_3"
            }

+ Response 200 (application/json)

            {
                "result": "1. سلام و وقت شما بخیر.  \n2. ابراز رضایت و تشکر از لطف.  \n3. هماهنگی جلسه فردا.  \n4. پیشنهاد ساعت ده صبح برای جلسه.  \n5. تأیید زمان مناسب برای جلسه.  \n6. تأیید مکان جلسه به عنوان دفتر مرکزی.  \n7. اعلام حضور در محل در ساعت ده.  \n8. تشکر از همکاری و اعلام تماس در صورت نیاز.  \n9. ابراز تمایل به اطلاع رسانی در صورت لزوم.  \n10. پایان مکالمه با آرزوی روز خوب."
            }
            
### خلاصه‌سازی به شکل گفتگو [POST]
در این حالت میزان `level` فقط می‌تواند روی `level_1` باشد.

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - text (string, required) - متنی که باید خلاصه شود.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - معمولی
                + bullet - فهرست‌وار
                + conversation - گفتگو
                
        - level: level_1 (enum[string], required) -  حجم خلاصه چقدر باشد؟ در حالت conversation فقط level_1 قابل قبول است.
            + Members
                + level_1 - کم
                + level_2 - متوسط
                + level_3 - زیاد

    + Body

            {
                "text": "سلام، وقت شما بخیر؛ وقت شما هم بخیر، امیدوارم حال‌تان خوب باشد؛ سپاسگزارم، بله متشکرم، امیدوارم حال شما هم مساعد باشد؛ بله، ممنون از لطفتان، در خدمت هستم؛ خواستم درباره جلسه‌ی فردا با شما هماهنگ کنم؛ بله حتماً، چه ساعتی مد نظر دارید؟ اگر موافق باشید ساعت ده صبح مناسب است؛ بله، زمان مناسبی‌ست، مکان جلسه همان دفتر مرکزی خواهد بود؟ بله، طبق برنامه در دفتر مرکزی برگزار می‌شود؛ بسیار خوب، حتماً رأس ساعت ده در محل حاضر خواهم بود؛ سپاسگزارم از همکاری شما، اگر موردی بود در تماس خواهم بود؛ خواهش می‌کنم، بنده هم در صورت نیاز اطلاع خواهم داد، روز خوش؛ همچنین، روزتان بخیر و به امید دیدار.",
                "type": "conversation",
                "level": "level_1"
            }

+ Response 200 (application/json)

            {
                "result": "این گفتگو یک توافق درباره زمان و مکان جلسه بعدی است که شامل اطلاعاتی درباره ساعت ده صبح و مکان دفتر مرکزی می‌شود و هیچ گونه اشاره‌ای به مسائل، نگرانی‌ها یا انتظارات مردم نسبت به دولت ندارد."
            }
            
### خلاصه‌سازی سند [POST]
دقیقاً مثل خلاصه‌سازی متن در سه شکل معمولی و فهرست‌وار و به شکل گفتگو می‌توانید ترجمه کنید. همچنین به جز حالت گفتگو می‌توانید در سه حجم کم و متوسط و زیاد خلاصه کنید. تنها تفاوتی که وجود دارد اینجا به جای متن باید آدرس سند در سامانه الفبا را بدهید.

+ Request (multipart/form-data)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - document_url (string, required) - آدرس سندی که می‌خواهید خلاصه شود روی سامانه الفبا.
        - type: word (enum[string], required) -  در چه قالبی خلاصه شود؟
            + Members
                + word - معمولی
                + bullet - فهرست‌وار
                + conversation - گفتگو
                
        - level: level_1 (enum[string], required) - حجم خلاصه چقدر باشد؟ در حالت conversation فقط level_1 قابل قبول است.
            + Members
                + level_1 - کم
                + level_2 - متوسط
                + level_3 - زیاد

    + Body

            {
                "document_urls": [
                    "http://alefba-dev.roshan-ai.ir/media/files/52/23/869625377471-Hadi_21021.jpg",
                    "http://alefba-dev.roshan-ai.ir/media/files/09/79/795615377471-6599_orig.jpg"
                ],
                "type": "word",
                "level":"level_1"
            }

+ Response 200 (application/json)

            {
                "result": "Lorem Ipsum is dummy text used in the printing and typesetting industry. It originated in the 1500s when a printer scrambled type to create a specimen book. It has endured for centuries and adapted to electronic typesetting. Its popularity grew in the 1960s with Letraset sheets and later desktop publishing software."
            }


## سلامت ای‌پی‌آی [/healthcheck]

وضعیت سلامت ای‌پی‌آی را بررسی می‌کند. در صورتی که سالم باشد پاسخی با کد <code>200</code> و متن <code>Server is up and ready</code> برمی‌گردد.

### بررسی وضعیت سلامت ای‌پی‌آی [GET]

+ Request (application/json)
    + Headers

            Authorization: Token YOUR_API_TOKEN

+ Response 200 (application/json)

            {
                "status": "ok",
                "message": "Server is up and ready"
            }


## استخراج متادیتا [/information-extraction/]

### استخراج کلیدواژه و اطلاعات متادیتا از متن [POST]

این بخش از ای‌پی‌آی برای استخراج کلیدواژه‌ها و اطلاعات ساختاریافته از یک سند متنی مورد استفاده قرار می‌گیرد. کاربر می‌تواند یک متن را ارسال کند و خروجی شامل لیستی از کلیدواژه‌ها و یک دیکشنری از متادیتا دریافت کند.

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - text (string, required) - متنی که می‌خواهید کلمات کلیدی و متادیتای آن استخراج شود.

    + Body

            {
                "text": "این سند مربوط به منطقه یک تهران بوده و شامل اطلاعات ارزش ملک، مساحت زمین، و عوارض سالانه است. مساحت زمین برابر با ۱۵۰ متر مربع است و ارزش ملک معادل ۲۵۰ میلیون ریال محاسبه شده است."
            }

+ Response 200 (application/json)
            
            {
                "keywords": [
                    "منطقه یک تهران",
                    "ارزش ملک",
                    "مساحت زمین",
                    "عوارض سالانه"
                ],
                "metadata": {
                    "محل": "منطقه یک تهران",
                    "مساحت زمین": "۱۵۰ متر مربع",
                    "ارزش ملک": "۲۵۰ میلیون ریال"
                }
            }


## پاسخ به سوالات از روی متن [/comprehension/]
### پاسخ به سوالات براساس متن [POST]

این ای‌پی‌آی برای پاسخ‌دهی به سوالات بر مبنای متن داده شده طراحی شده است. کاربر می‌تواند چند متن به همراه مجموعه‌ای از سوالات مربوط به هر متن ارسال کند. سیستم به صورت خودکار زبان متن (فارسی یا عربی) را تشخیص داده و تحلیل مناسب را انجام می‌دهد.

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - questions (array[string], required) - سوالاتی که باید پاسخ داده شود.
        - contexts (array[string], required) -  متنی که باید جواب سوالات از آن استخراج شود.

    + Body

            {
                "questions": [["فاطمه چند فرزند دارد؟ نامشان چیست؟"]],
                "contexts": ["فاطمه سه فرزند به نام‌های علی و محمد و فاطمه دارد."]
            }

+ Response 200 (application/json)

            {
              "predictions": [
                [
                  {
                    "text": "سه فرزند به نام‌های علی، محمد و فاطمه",
                    "score": 1
                  }
                ]
              ]
            }

        
        
## تولید نامه [/letter/]
این API برای تولید نامه‌های رسمی و ساختارمند طراحی شده است. کاربر یک متن شامل دستورالعمل نگارش نامه را ارسال می‌کند و در پاسخ، یک نامه رسمی و مناسب دریافت می‌نماید.

### تولید نامه رسمی بر اساس دستورالعمل [POST]

با ارسال یک متن شامل دستور نگارش نامه، سیستم با استفاده از مدل زبانی مناسب اقدام به تولید نامه‌ای ساختارمند، رسمی و محترمانه می‌نماید.

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            
    + Attributes
        - content (string, required) - نامه‌ای که می‌خواهید تولید شود.
        - description (string, required) -  توضیح دربارهٔ اینکه نامهچه ساختاری داشته باشد.

    + Body

            {
                "text": "سلام. لطفا یک نامه رسمی و محترمانه برای درخواست همکاری در یک پروژه مشترک بنویس. این نامه باید به مدیریت یک شرکت یا سازمان ارسال شود و در آن به موارد زیر اشاره شود:\nمقدمه: شروع نامه با احترام و معرفی کوتاهی از فرستنده.\nهدف از همکاری: توضیحی مختصر درباره زمینه فعالیت دو مجموعه و دلیل پیشنهاد این همکاری.\nمزایا: بیان مزایای همکاری برای هر دو طرف و تأکید بر هم افزایی.\nدرخواست جلسه: پیشنهاد برگزاری یک جلسه برای بررسی جزئیات بیشتر.\nاختتامیه: تشکر از گیرنده نامه و درج اطلاعات تماس.\nنامه باید لحن رسمی، روان و تاثیرگذار داشته باشد. همچنین باید کوتاه، مختصر و در عین حال جامع باشد."
            }

+ Response 201 (application/json)

            {
                "history_id": 2401,
                "result": "[نام فرستنده]  \n[عنوان شرکت/سازمان فرستنده]  \n[آدرس فرستنده]  \n[تاریخ]  \n\n[نام گیرنده]  \n[عنوان شرکت/سازمان گیرنده]  \n[آدرس گیرنده]  \n\nموضوع: درخواست همکاری در پروژه مشترک  \n\nبا سلام،  \nاین نامه از طرف [نام فرستنده] و به نمایندگی از [عنوان شرکت/سازمان فرستنده]، که در زمینه [توضیح مختصری از فعالیت‌های فرستنده] فعالیت می‌کند، به احترام به گیرنده محترم ارسال می‌شود.  \n\nبا توجه به فعالیت‌های مرتبط با [توضیح مختصری از فعالیت‌های گیرنده] در سازمان گیرنده، امیدواریم همکاری میان دو طرف در پروژه‌های مشترک می‌تواند به بهبود کیفیت خدمات و افزایش اثربخشی در حوزه‌های مورد نظر منجر شود. این همکاری می‌تواند به عنوان یک فرصت برای ایجاد هم افزایی در منابع، دانش و تجربیات دو طرف مورد توجه قرار گیرد.  \n\nهمکاری مورد نظر می‌تواند برای هر دو طرف مزایایی چون [نام مزایای مرتبط، مانند: افزایش کارایی، دسترسی به منابع جدید، توسعه فناوری] داشته باشد. برای بررسی جزئیات بیشتر و تعیین راهکارهای عملی، پیشنهاد می‌شود یک جلسه ملاقات انجام شود. لطفاً در صورت امکان، زمان مناسبی را برای این جلسه اعلام فرمایید.  \n\nاز حمایت و توجه گیرنده محترم سپاسگزاریم. برای ارتباط بیشتر می‌توانید با [نام مسئول] در این شماره [شماره تماس] یا ایمیل [آدرس ایمیل] تماس حاصل فرمایید.  \n\nبا احترام،  \n[نام فرستنده]  \n[سمت فرستنده]  \n[نام شرکت/سازمان فرستنده]"
            }

