FORMAT: 1A
HOST: https://fahm.roshan-ai.ir/api

# فهم

این ای‌پی‌آی برای انجام عملیات ترجمه، خلاصه‌سازی و گفت‌وگو طراحی شده است.

برای استفاده از این ای‌پی‌آی نیازمند توکن هستید. این توکن را از بخش فروش دریافت کنید.

## ترجمه [/translation/]

یک متن را از انگلیسی به فارسی یا از فارسی به انگلیسی ترجمه می‌کند. زبان‌های دیگر پشتیبانی نمی‌شود.

### ترجمه متن انگلیسی به فارسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - text: - (string, required) - متنی که باید ترجمه شود.
        - to: - (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "text":"Hello. How are you?",
                "to":"fa"
            }


+ Response 200 (application/json)

            {
                "result": "```\nسلام. چطوری؟\n```"
            }
            
### ترجمه متن فارسی به انگلیسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - text: - (string, required) - متنی که باید ترجمه شود.
        - to: - (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
              "text": "به نام خداوند بخشنده مهربان",
              "to": "en"
            }


+ Response 200 (application/json)

            {
                "result": "```\nIn the name of the Lord, the Forgiving, the Merciful\n```"
            }
            

### ترجمه سند از انگلیسی به فارسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - document_url: - (string, required) - آدرس سندی که باید ترجمه شود روی سامانه الفبا.
        - to: - (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "document_url": "http://alefba-dev.roshan-ai.ir/media/files/37/01/sample_en.txt",
                "to": "fa",
            }


+ Response 200 (application/json)

            {
              "result": "```\nسلام. چطوری؟\n```"
            }
            
### ترجمه سند از فارسی به انگلیسی [POST]

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
    
    + Attributes
        - document_url: - (string, required) - آدرس سندی که باید ترجمه شود روی سامانه الفبا.
        - to: - (enum[string], required) -  به کدام زبان ترجمه شود؟
            + Members
                + en - انگلیسی
                + fa - فارسی
    
    + Body

            {
                "document_url": "http://alefba-dev.roshan-ai.ir/media/files/37/01/sample_fa.txt",
                "to": "fa",
            }


+ Response 200 (application/json)

            {
                "result": "```\nIn the name of the Lord, the Forgiving, the Merciful\n```"
            }
