FORMAT: 1A
HOST: https://fahm.roshan-ai.ir/api/

# فهم

این ای‌پی‌آی برای انجام عملیات ترجمه، خلاصه‌سازی و گفت‌وگو طراحی شده است.

## ترجمه [/translate/]
### ترجمه متن [POST]

این بخش از ای‌پی‌آی برای ترجمه متن از یک زبان به زبان دیگر استفاده می‌شود. کاربر می‌تواند متن موردنظر را همراه با زبان مقصد ارسال کند و ترجمه آن را دریافت نماید.


values = {
    "text": "Hello, how are you? I want to know what day it is today and what time it is.",
    "lan": "fa"
}

  متن (text):
   در این قسمت، متن اصلی که نیاز به ترجمه دارد وارد می‌شود.

  زبان مقصد (lan):
   مشخص می‌کند که متن به چه زبانی ترجمه شود.
   مقادیر قابل قبول:
	<code>en</code>  : انگلیسی
	<code>fa</code>  : فارسی
	<code>ar</code>  :عربی


+ Request (application/json)

    + Headers

            Authorization: Token `YOUR_API_TOKEN`

    + Body

            {
                "text": "Hello, how are you? I want to know what day it is today and what time it is.",
                "lan": "fa"
            }


+ Response 200 (application/json)

            {
                "translated_text": "سلام، حال شما چطور است؟ می‌خواهم بدانم امروز چه روزی است و ساعت چند است."
            }


## خلاصه‌سازی [/summarize/]
### خلاصه‌سازی متن [POST]

این بخش از ای‌پی‌آی برای خلاصه‌سازی متون طولانی مورد استفاده قرار می‌گیرد. کاربران می‌توانند متن خود را همراه با نوع خلاصه‌سازی و سطح دشواری ارسال کنند و خلاصه‌ای متناسب با درخواست خود دریافت نمایند.

<code>text</code> : متن
متن اصلی که قرار است خلاصه شود.

<code>type</code> : نوع ترجمه
مشخص می‌کند که خروجی به چه فرمتی باشد:
<code>Word</code> : خلاصه به‌صورت متن پیوسته و کامل.
<code>Conversation</code> : خلاصه به‌صورت مکالمه‌ای.
<code>Bullet</code> : خلاصه به‌صورت نکات کلیدی و فهرست‌وار.

سطح خلاصه‌سازی (level):
میزان حجم محتوای خلاصه شده را تعیین می‌کند:
<code>Level_1</code> : کمترین میزان خلاصه‌سازی
<code>Level_2</code> : خلاصه‌ای متعادل
<code>Level_3</code> : بیشترین میزان خلاصه‌سازی


+ Request (multipart/form-data)

    + Headers

            Authorization: Token `YOUR_API_TOKEN`

    + Body

            {
                text="This short story is set in Madagascar and France. It tells about wine and love - and hate. And about a winepress, the machine used to press the grapes from which wine is made",
                type="word",
                level="level_1"
            }

+ Response 200 (application/json)

            {
                "summary": "A short story about wine, love, hate, and a winepress set in Madagascar and France."
            }


## گفت‌وگو [/chat/stream/]
### چت با هوش مصنوعی [POST]

این بخش از ای‌پی‌آی امکان گفت‌وگو با هوش مصنوعی را فراهم می‌کند. کاربران می‌توانند سوالات خود را ارسال کرده و پاسخ متنی دریافت کنند. این قابلیت می‌تواند برای پاسخ به سوالات عمومی، ارائه اطلاعات و تعاملات هوشمندانه مورد استفاده قرار گیرد.

عبارت جستجو <code>(query)</code>:
متنی که باید در اسناد جستجو شود و نتایج مرتبط با آن پیدا شوند.

نام کاربری <code>(username)</code>:
نام کاربری یکی از اکانت های محصول الفبا یا حرف


+ Request (application/json)

    + Headers

            Authorization: Token `YOUR_API_TOKEN`


    + Body

            {
                "query": "کدام شرکت ها از سیستم پرگار استفاده میکنند",
                "username": "YOUR_USERNAME",
                "token": "YOUR_API_TOKEN"
            }


+ Response 200 (application/json)

            {
                "response": "شرکت‌های A، B و C از سیستم پرگار استفاده می‌کنند."
            }

## سلامت ای‌پی‌آی [/healthcheck]

وضعیت سلامت ای‌پی‌آی را بررسی می‌کند. در صورتی که سالم باشد پاسخی با کد <code>200</code> و متن <code>Server is up and ready</code> برمی‌گردد.

### بررسی وضعیت سلامت ای‌پی‌آی [GET]

+ Request (application/json)
    + Headers

            Authorization: Token YOUR_API_TOKEN

+ Response 200 (application/json)
    + Body

            {
                "status": "ok",
                "message": "Server is up and ready"
            }


## استخراج متادیتا [/extract/metadata/]
### استخراج کلیدواژه و اطلاعات متادیتا از متن [POST]

این بخش از ای‌پی‌آی برای استخراج کلیدواژه‌ها و اطلاعات ساختاریافته از یک سند متنی مورد استفاده قرار می‌گیرد. کاربر می‌تواند یک متن را ارسال کند و خروجی شامل لیستی از کلیدواژه‌ها و یک دیکشنری از متادیتا دریافت کند.

- `text` (رشته، ضروری): متن اصلی که باید تحلیل شود.

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN

    + Body

            {
                "text": "این سند مربوط به منطقه یک تهران بوده و شامل اطلاعات ارزش ملک، مساحت زمین، و عوارض سالانه است. مساحت زمین برابر با ۱۵۰ متر مربع است و ارزش ملک معادل ۲۵۰ میلیون ریال محاسبه شده است."
            }

+ Response 200 (application/json)

            {
                "keywords": [
                    "منطقه یک تهران",
                    "ارزش ملک",
                    "مساحت زمین",
                    "عوارض سالانه"
                ],
                "metadata": {
                    "محل": "منطقه یک تهران",
                    "مساحت زمین": "۱۵۰ متر مربع",
                    "ارزش ملک": "۲۵۰ میلیون ریال"
                }
            }

+ Response 400 (application/json)

            {
                "error": "متن نباید خالی باشد"
            }

+ Curl Example

        curl --location 'https://fahm.roshan-ai.ir/api/extract/metadata/' \
        --header 'Authorization: Token YOUR_API_TOKEN' \
        --header 'Content-Type: application/json' \
        --data '{
            "text": "این سند مربوط به منطقه یک تهران بوده و شامل اطلاعات ارزش ملک، مساحت زمین، و عوارض سالانه است. مساحت زمین برابر با ۱۵۰ متر مربع است و ارزش ملک معادل ۲۵۰ میلیون ریال محاسبه شده است."
        }'


# Group درک مطلب

## پاسخ به سوالات از روی متن [/comprehension/]
### پاسخ به سوالات براساس متن [POST]

این ای‌پی‌آی برای پاسخ‌دهی به سوالات بر مبنای متن داده شده طراحی شده است. کاربر می‌تواند چند متن به همراه مجموعه‌ای از سوالات مربوط به هر متن ارسال کند. سیستم به صورت خودکار زبان متن (فارسی یا عربی) را تشخیص داده و تحلیل مناسب را انجام می‌دهد.

**پارامترها:**
- `contexts` (لیست رشته‌ها، ضروری): مجموعه‌ای از متن‌های مرجع برای پاسخگویی به سوالات.
- `questions` (لیست لیست‌های رشته، ضروری): مجموعه‌ای از سوالات مربوط به هر زمینه.

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN

    + Body

            {
                "contexts": [
                    "فوتبال یک ورزش ۱۱ نفره با توپ است."
                ],
                "questions": [
                    ["فوتبال چند نفره است؟", "آیا فوتبال با توپ انجام می‌شود؟"]
                ]
            }

+ Response 200 (application/json)

            {
                "predictions": [
                    [
                        "۱۱ نفره است.",
                        "بله، فوتبال با توپ انجام می‌شود."
                    ]
                ]
            }

+ Response 400 (application/json)

            {
                "questions": ["This field is required."],
                "contexts": ["This field is required."]
            }

+ Response 500 (application/json)

            {
                "error": "An error occurred: list index out of range"
            }

+ Curl Example

        curl --location 'http://127.0.0.1:8686/api/comprehension/' \
        --header 'Authorization: Token YOUR_API_TOKEN' \
        --header 'Content-Type: application/json' \
        --data '{
            "contexts": [
                "تهران پایتخت ایران است."
            ],
            "questions": [
                ["پایتخت ایران کجاست؟"]
            ]
        }'
        
        
# Letter Generation API

این API برای تولید نامه‌های رسمی و ساختارمند طراحی شده است. کاربر یک متن شامل دستورالعمل نگارش نامه را ارسال می‌کند و در پاسخ، یک نامه رسمی و مناسب دریافت می‌نماید.

## تولید نامه [/api/letter/]

### تولید نامه رسمی بر اساس دستورالعمل [POST]

با ارسال یک متن شامل دستور نگارش نامه، سیستم با استفاده از مدل زبانی مناسب اقدام به تولید نامه‌ای ساختارمند، رسمی و محترمانه می‌نماید.

**پارامترها:**

- `text` (ضروری): رشته‌ای شامل محتوای دستورالعمل و خواسته کاربر جهت تولید نامه.

+ Request (application/json)

    + Headers

            Authorization: Token YOUR_API_TOKEN
            Content-Type: application/json

    + Body

            {
              "text": "سلام. لطفا یک نامه رسمی و محترمانه برای درخواست همکاری در یک پروژه مشترک بنویس. این نامه باید به مدیریت یک شرکت یا سازمان ارسال شود و در آن به موارد زیر اشاره شود:\nمقدمه: شروع نامه با احترام و معرفی کوتاهی از فرستنده.\nهدف از همکاری: توضیحی مختصر درباره زمینه فعالیت دو مجموعه و دلیل پیشنهاد این همکاری.\nمزایا: بیان مزایای همکاری برای هر دو طرف و تأکید بر هم افزایی.\nدرخواست جلسه: پیشنهاد برگزاری یک جلسه برای بررسی جزئیات بیشتر.\nاختتامیه: تشکر از گیرنده نامه و درج اطلاعات تماس.\nنامه باید لحن رسمی، روان و تاثیرگذار داشته باشد. همچنین باید کوتاه، مختصر و در عین حال جامع باشد."
            }

+ Response 201 (application/json)

        {
          "result": "به نام خدا\n\nمدیریت محترم [نام شرکت یا سازمان]\n\nبا سلام و احترام،\n\nاینجانب [نام شما]، به نمایندگی از [نام شرکت/گروه]، ضمن ابراز خرسندی از فعالیت‌های ارزشمند مجموعه محترم شما، تمایل خود را برای همکاری در یک پروژه مشترک اعلام می‌دارم. با توجه به حوزه فعالیت هر دو مجموعه در زمینه‌ی [زمینه فعالیت] و ظرفیت‌های موجود، بر این باوریم که همکاری مشترک می‌تواند موجب ایجاد ارزش افزوده و دستیابی به اهداف مشترک گردد.\n\nهدف از این همکاری، بهره‌گیری از توانمندی‌های دو مجموعه در راستای [توضیح کوتاهی از اهداف و مزایای همکاری] می‌باشد. این تعامل نه‌تنها باعث توسعه و بهبود فرآیندهای کاری خواهد شد، بلکه فرصت‌های جدیدی برای نوآوری و رشد فراهم خواهد کرد.\n\nلذا خواهشمند است در صورت تمایل، زمانی را جهت برگزاری جلسه‌ای مشترک برای بررسی جزئیات بیشتر این همکاری تعیین فرمایید. امیدواریم این تعامل زمینه‌ساز پیشرفت و موفقیت‌های متقابل گردد.\n\nپیشاپیش از حسن توجه و همکاری شما سپاسگزارم. منتظر دریافت پاسخ شما هستم.\n\nبا احترام،\n[نام و نام خانوادگی]\n[سمت]\n[نام شرکت/سازمان]"
        }

+ Response 400 (application/json)

        {
          "text": ["This field is required."]
        }

+ Response 500 (application/json)

        {
          "error": "The specified LLM model was not found.",
          "details": "Failed to generate letter. Please check the model configuration."
        }

### نمونه curl

```bash
curl -v -X POST \
  http://localhost:8686/api/letter/ \
  -H "Authorization: Token YOUR_API_TOKEN" \
  -H "Content-Type: application/json" \
  -d '{"text": "سلام. لطفا یک نامه رسمی و محترمانه برای درخواست همکاری در یک پروژه مشترک بنویس. این نامه باید به مدیریت یک شرکت یا سازمان ارسال شود و در آن به موارد زیر اشاره شود:\nمقدمه: شروع نامه با احترام و معرفی کوتاهی از فرستنده.\nهدف از همکاری: توضیحی مختصر درباره زمینه فعالیت دو مجموعه و دلیل پیشنهاد این همکاری.\nمزایا: بیان مزایای همکاری برای هر دو طرف و تأکید بر هم افزایی.\nدرخواست جلسه: پیشنهاد برگزاری یک جلسه برای بررسی جزئیات بیشتر.\nاختتامیه: تشکر از گیرنده نامه و درج اطلاعات تماس.\nنامه باید لحن رسمی، روان و تاثیرگذار داشته باشد. همچنین باید کوتاه، مختصر و در عین حال جامع باشد."}'
  
  