
FORMAT: 1A
HOST: http://harf.roshan-ai.ir

# حرف

حرف، یک ای‌پی‌آیِ تبدیل گفتار به نوشتار فارسی است که می‌تواند صدای ورودی را اعم از صوت یا ویدیو یا پخش زنده به متن تبدیل کند. حرف با شنیدن هزاران ساعت گفتارِ فارسی در انواع و اقسام لحن‌ها، رده‌های سنی و جنسیت‌های مختلف، به‌خوبی تعلیم دیده است و با دقت بالایی این کار را انجام می‌دهد.

برای دسترسی به این ای‌پی‌آی، به یک <code>TOKEN_KEY</code> نیاز دارید که می‌توانید از طریق ایمیلِ harf@roshan-ai.ir درخواست دهید.

## تبدیل صدا به متن به‌شکل همگام [/api/transcribe_files/]

این تابع، فایل‌های صوتی یا ویدیویی را دریافت می‌کند و متن هر فایل را به‌شکل JSON تحویل می‌دهد. در خروجی، آدرس هر فایل (<code>media_url</code>) به‌همراه مدت‌زمان فایل (<code>duration</code>) و سگمنت‌ها (<code>segments</code>) بازگردانده می‌شود. هر سگمنت، بازهٔ زمانی کوتاهی شامل سه پارامتر <code>start</code> و <code>end</code> و <code>text</code> است که به‌ترتیب بیانگر شروع بازه، پایان بازه و متن بازه است.

### مثال: ارسال لینک فایل [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes

        - media_urls: List of URLs (string, required) - لینک فایل‌های ورودی (صدا یا ویدیو)
        
    + Body

            {
              "media_urls": ["https://i.ganjoor.net/a2/41417.mp3"]
            }

+ Response 200 (application/json)

        [
          {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3",
            "duration": "0:00:44",
            "segments": [
              {
                "start": "0:00:00",
                "end": "0:00:02",
                "text": "حکایت"
              },
              {
                "start": "0:00:02",
                "end": "0:00:06",
                "text": "یکی را از حکما شنیدم که می گفت"
              },
              {
                "start": "0:00:06",
                "end": "0:00:11",
                "text": "هرگز کسی به جهل خویش اقرار نکرده است"
              },
              {
                "start": "0:00:11",
                "end": "0:00:16",
                "text": "مگر آن کس که چون دیگری در سخن باشد"
              },
              {
                "start": "0:00:16",
                "end": "0:00:21",
                "text": "همچنان ناتمام گفته سخن آغاز کند"
              },
              ...
            ]
          }
        ]

### مثال: ارسال مستقیم فایل [POST]

+ Request (multipart/form-data; boundary={boundary value})

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes

        - media: file in binary (string, required) - فایل ورودی
        
    + Body

            --{boundary value}
            Content-Disposition: form-data; name='document'; filename='FILE NAME'
            Content-Type: text/plain (according to the type of the uploaded file)

            {file content}
            --{boundary value}

+ Response 200 (application/json)

    [
      {
        "media_url": "http://harf.roshan-ai.ir/media/files/96/84/859267728361.mp3",
        "duration": "0:00:44",
        "segments": [
          {
            "start": "0:00:00",
            "end": "0:00:02",
            "text": "حکایت"
          },
          {
            "start": "0:00:02",
            "end": "0:00:06",
            "text": "یکی را از حکما شنیدم که می گفت"
          },
          {
            "start": "0:00:06",
            "end": "0:00:11",
            "text": "هرگز کسی به جهل خویش اقرار نکرده است"
          },
          {
            "start": "0:00:11",
            "end": "0:00:16",
            "text": "مگر آن کس که چون دیگری در سخن باشد"
          },
          {
            "start": "0:00:16",
            "end": "0:00:21",
            "text": "همچنان ناتمام گفته سخن آغاز کند"
          },
          ...
        ]
      }
    ]


## تبدیل صدا به متن به‌شکل ناهمگام [/api/transcribe_files/]


در این بخش نحوه تحلیل فایل به صورت ناهمگام، توضیح داده شده است.


###  مثال: ارسال لینک فایل به‌شکل ناهمگام [POST]

اگر در درخواست خود مقدار پارامتر <code>wait</code> را برابر <code>false</code> قرار دهید، درخواست به‌شکل ناهمگام ارسال می‌شود. در این حالت دیگر لازم نیست منتظر نتیجه بمانید. درعوض، در خروجی، دو پارامتر <code>state</code> و <code>task_ids</code> دریافت می‌کنید که اولی وضعیت پردازش را مشخص می‌کند و دومی لیستی از <code>task_id</code> ها را برمی‌گرداند.  هر <code>task_id</code> شناسهٔ پردازش یک فایل است که بعداً می‌توانید با تابع «دریافت پاسخ به‌شکل ناهمگام» از وضعیت پردازش آن باخبر شوید. در درخواست به‌شکل ناهمگام اگر نتیجهٔ پردازش آماده باشد، بلافاصله در خروجی نمایش داده می‌شود، اگر نه، وضعیت پردازش در پارامتر <code>state</code> برگردانده می‌شود، مثلاً <code>PENDING</code> یعنی در حال پردازش است.

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes

        - media_urls: List of URLs (string, required) - لینک فایل‌های ورودی
        - wait: true (boolean) - اگر <code>false</code> باشد یعنی منتظر نتیجه نمی‌ماند. درعوض شناسهٔ پردازش فایل‌ها (<code>task_ids</code>) را برمی‌گرداند تا خودتان هرازگاهی وضعیت پردازش را چک کنید و بعد از پایان پردازش، مجددا درخواست دهید و خروجی نهایی را ببینید.
 
    + Body

            {
              "media_urls": ["https://i.ganjoor.net/a2/41417.mp3"],
              "wait": false
            }

+ Response 200 (application/json)

        {
          "state":"PENDING",
          "task_ids":["..."]
        }


### مثال: دریافت پاسخ به‌شکل ناهمگام [POST]

با ارسال یک یا چند شناسهٔ پردازش در پارامتر <code>task_ids</code>، نتیجهٔ پردازش آن‌ها بازگردانده می‌شود. در پاسخ خروجی، پارامتر <code>state</code> می‌تواند سه حالت داشته باشد. <code>PENDING</code> یعنی در حال پردازش، <code>FAILURE</code> یعنی بروز خطا، <code>TIMEOUT</code> یعنی پردازش فایل بیش از تحمل سامانه بوده است.

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - media_urls: List of URLs (string, required) - لینک فایل‌های ورودی
        - wait: true (boolean) - همانند توضیحات قبل.
 
    + Body

            {
              "tasks_ids": ["..."],
              "wait": false
            }

+ Response 200 (application/json)

        [
          {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3",
            "duration": "0:00:44",
            "segments": [
              {
                "start": "0:00:00",
                "end": "0:00:02",
                "text": "حکایت"
              },
              {
                "start": "0:00:02",
                "end": "0:00:06",
                "text": "یکی را از حکما شنیدم که می گفت"
              },
              {
                "start": "0:00:06",
                "end": "0:00:11",
                "text": "هرگز کسی به جهل خویش اقرار نکرده است"
              },
              {
                "start": "0:00:11",
                "end": "0:00:16",
                "text": "مگر آن کس که چون دیگری در سخن باشد"
              },
              {
                "start": "0:00:16",
                "end": "0:00:21",
                "text": "همچنان ناتمام گفته سخن آغاز کند"
              },
              ...
            ]
          }
        ]

+ Request Pending (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - task_ids: List of task ids (string, required) - لیست شناسه‌های پردازش
        - wait: true (boolean) - همانند قبل.
 
    + Body

            {
              "tasks_ids": ["..."],
              "wait": false
            }

+ Response 200 (application/json)

        {"state":"PENDING"}


## تبدیل پخش زندهٔ صدا به متن  [/ws_api/transcribe_files/wav/sync/]

برای تبدیل صدای درحال‌پخش (زنده، لایو، استریم) باید از طریق وب‌سوکت به سامانه متصل شوید. در این حالت، پس از برقراری ارتباط، فایل باید در قالب wav به صورت باینری به سرور ارسال شود.

{"segment_id": 1, "text": "سازمان بهداشت جهانی", "start": "0:00:00", "end": "0:00:05"}

اگر پردازش کامل نشده باشد، پاسخی به‌شکل زیر ارسال می‌شود:

{"state": "PENDING"}

در انتها، برای اعلام پایان فرایند پردازش باید متن "finalize"به سرور ارسال شود.


### مثال [POST]

+ Request (ws_api/transcribe_files/wav/sync/)

+ Response 200 (application/json)

        {"state":"PENDING"}