FORMAT: 1A
HOST: https://harf.roshan-ai.ir

# حرف

حرف، یک ای‌پی‌آیِ بومی برای تبدیل گفتار به نوشتارِ فارسی است.

این ای‌پی‌آی با شنیدن هزاران ساعت گفتار در لحن‌ها، سبک‌ها، سرعت‌ها و رده‌های سنی مختلف، به‌خوبی آموزش دیده و با دقت بالایی می‌تواند **صوت**، **ویدیو** یا حتی **پخش زنده** را به متن فارسی تبدیل کند.

برای دسترسی به ای‌پی‌آی به یک `TOKEN_KEY` نیاز دارید که می‌توانید از طریق ایمیلِ <a href="mailto:harf@roshan-ai.ir">harf@roshan-ai.ir</a> درخواست دهید.

## تبدیل صدا به متن [/api/transcribe_files/]

این تابع، بسته‌ به تنظیم پارامترهای ورودی، می‌تواند کارهای مختلفی انجام می‌دهد که در ادامه برای هر یک مثالی آورده‌ایم.

بعد از تکمیل پردازش، پاسخی دریافت می‌کنید که حاوی آرایه‌ای از نتایج است. هر یک از عناصر این آرایه مربوط به نتایج یک فایل است.

در هر عنصر آرایه، آدرس فایل در پارامتر `media_url`، مدت‌زمان فایل در پارامتر `duration` و متن‌های استخراج‌شده در آرایهٔ `segments` قرار می‌گیرد.

هر سگمنت شامل سه پارامتر `start` زمان شروع بازه، `end` زمان پایان بازه و `text` متن بازه است. همچنین به ازای هر فایل، وضعیت شناسایی در پارامتر `stats` قرار می‌گیرد که خودش شامل دو زیرپارامتر است. اولی `words` است که حاوی کل تعداد کلمات فایل است و دومی `known_words` است که حاوی کلماتی است که بدون تردید تشخیص داده شده است.

حرف هرجایی که به تشخیص خود تردید می‌کند آن کلمه یا عبارت را درون قلاب (کروشه) می‌گذارد.

### مثال: ارسال آدرس فایل‌ها [POST]

روش اول برای تبدیل فایل‌های صوتی یا ویدیویی به متن، ارسال آدرس فایل‌ها در پارامتر `media_urls` است.

+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_urls: List of URLs (string, required) - آدرس فایل‌های صوتی یا ویدیویی یا ترکیبی از این دو
        - wait: true (boolean) - اگر `true` باشد (مقدار پیش‌فرض)، تا پایان فرایند تبدیل فایل‌ها به متن باید منتظر بمانید اما اگر `false` باشد بلافاصله بعد از ارسال درخواست، پاسخی با ارسال وضعیت پردازش در پارامتر `state` و فهرستی از شناسه‌های پردازش در پارامتر `task_ids` (برای هر فایل یک شناسه) بازگردانده می‌شود که بعداً می‌توانید وضعیت پردازش این شناسه‌ها را جویا شوید.
    + Body
        {
            "media_urls": ["https://i.ganjoor.net/a2/41417.mp3"]
        }
+ Response 200 (application/json)
    [
        {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3",
            "duration": "0:00:44",
            "segments": [
                {
                    "start": "0:00:00",
                    "end": "0:00:02",
                    "text": "[حکایت]"
                },
                {
                    "start": "0:00:02",
                    "end": "0:00:06",
                    "text": "یکی را از حکما شنیدم که می گفت"
                },
                {
                    "start": "0:00:06",
                    "end": "0:00:11",
                    "text": "هرگز کسی به جهل خویش اقرار نکرده است"
                },
                {
                    "start": "0:00:11",
                    "end": "0:00:16",
                    "text": "مگر آن کس که چون دیگری در سخن باشد"
                },
                {
                    "start": "0:00:16",
                    "end": "0:00:21",
                    "text": "همچنان ناتمام گفته سخن آغاز کند"
                },
                {
                    "start": "0:00:21",
                    "end": "0:00:26",
                    "text": "سخن را سر از [ای] خردمند و بن"
                },
                {
                    "start": "0:00:26",
                    "end": "0:00:30",
                    "text": "میا بر سخن در میان سخن"
                },
                {
                    "start": "0:00:30",
                    "end": "0:00:37",
                    "text": "خداوند تدبیر و فرهنگ و [روش] نگوید سخن"
                },
                {
                    "start": "0:00:37",
                    "end": "0:00:39",
                    "text": "تا نبیند خموش"
                }
        ],
            "stats": {
                "words": 57,
                "known_words": 54
            }
        }
    ]

### مثال: آپلود فایل [POST]

+ Request (multipart/form-data; boundary={boundary value})
    + Headers
            Authorization: Token TOKEN_KEY
    + Attributes
        - media: file in binary (string, required) - فایل ورودی
    + Body
            --{boundary value}
            Content-Disposition: form-data; name='41417'; filename='FILE NAME'
            Content-Type: audio/mpeg (according to the type of the uploaded file)
            {file content}
            --{boundary value}
+ Response 200 (application/json)
    [
        {
            "media_url": "http://harf.roshan-ai.ir/.../...-41417.mp3",
            "duration": "0:00:44",
            "segments": [
                {
                    "start": "0:00:00",
                    "end": "0:00:02",
                    "text": "[حکایت]"
                },
                {
                    "start": "0:00:02",
                    "end": "0:00:06",
                    "text": "یکی را از حکما شنیدم که می گفت"
                },
                {
                    "start": "0:00:06",
                    "end": "0:00:11",
                    "text": "هرگز کسی به جهل خویش اقرار نکرده است"
                },
                {
                    "start": "0:00:11",
                    "end": "0:00:16",
                    "text": "مگر آن کس که چون دیگری در سخن باشد"
                },
                {
                    "start": "0:00:16",
                    "end": "0:00:21",
                    "text": "همچنان ناتمام گفته سخن آغاز کند"
                },
                {
                    "start": "0:00:21",
                    "end": "0:00:26",
                    "text": "سخن را سر از [ای] خردمند و بن"
                },
                {
                    "start": "0:00:26",
                    "end": "0:00:30",
                    "text": "میا بر سخن در میان سخن"
                },
                {
                    "start": "0:00:30",
                    "end": "0:00:37",
                    "text": "خداوند تدبیر و فرهنگ و [روش] نگوید سخن"
                },
                {
                    "start": "0:00:37",
                    "end": "0:00:39",
                    "text": "تا نبیند خموش"
                }
        ],
            "stats": {
                "words": 57,
                "known_words": 54
            }
        }
    ]

### مثال: بررسی وضعیت پردازش [POST]

اگر در <a href="#c15d6ded38">تبدیل صدا به متن</a> ، درخواست خود را با پارامتر `wait=false` ارسال کرده باشید، فهرستی از شناسه‌های پردازش در پارامتر `task_ids` دریافت می‌کنید که برای بررسی وضعیت پردازش آن‌ها می‌توانید همانند مثال زیر عمل کنید.

در پاسخ، وضعیت پردازش در پارامتر `state` برگردانده می‌شود: `PENDING` یعنی در حال پردازش، `FAILURE` یعنی بروز خطا، `TIMEOUT` یعنی زمان پردازش فایل بیش از زمان تنظیم شده برای انتظار سامانه بوده و از دور پردازش خارج شده است.

+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_urls: List of URLs (string, required) - آدرس فایل‌های ورودی
        - wait: true (boolean) - <a href="#c15d6ded38">توضیحات این پارامتر</a>، پیشتر آمده است.
+ Body
    {
        "tasks_ids": ["..."],
        "wait": false
    }
+ Response 200 (application/json)
    {"state":"PENDING"}

## هم ترازی متن و گفتار [/api/alignment/]
این تابع با دریافت یک فایل صوتی یا ویدیویی به همراه متنِ آن نشان می‌دهد که هر کلمه در کدام بخش از صدا ادا شده است. در پاسخ ارسالی `media_url`همان آدرس فایل ورودی است. `duration` طول فایل است و `segments` لیست کلماتِ موجود در پارامتر `text` است که زمان تشخیص شروع و پایان هر کدام از آن‌ها مشخص شده است. متن کلمه در پارامتر `text`، زمان شروع در پارامتر `start` و زمان پایان در پارمتر `end` قرار می‌گیرد.

### مثال: آپلود فایل [POST]
+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_url: URL (string, required) - آدرس فایل‌ ورودی
        - text: Text (string, required) - متن فایل‌ ورودی.
    + Body
        {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3",
            "text": "حکایت یکی را از حکما شنیدم که می گفت: هرگز کسی به جهل خویش اقرار نکرده است، مگر آن کس که چون دیگری در سخن باشد همچنان  تمام ناگفته، سخن آغاز کند."
        }
+ Response 200 (application/json)
    
    {
        "media_url": "https://i.ganjoor.net/a2/41417.mp3",
        "text": "حکایت یکی را از حکما شنیدم که می گفت: هرگز کسی به جهل خویش اقرار نکرده است، مگر آن کس که چون دیگری در سخن باشد همچنان  تمام ناگفته، سخن آغاز کند.",
        "segments": [
            {
                "start": "0:00:00.240000",
                "end": "0:00:00.800000",
                "text": "حکایت"
            },
            {
                "start": "0:00:02.550000",
                "end": "0:00:02.830000",
                "text": "یکی"
            },
            {
                "start": "0:00:02.930000",
                "end": "0:00:03.010000",
                "text": "را"
            },
            {
                "start": "0:00:03.330000",
                "end": "0:00:03.490000",
                "text": "از"
            },
            {
                "start": "0:00:03.610000",
                "end": "0:00:04.090000",
                "text": "حکما"
            },
            {
                "start": "0:00:04.510000",
                "end": "0:00:04.970000",
                "text": "شنیدم"
            },
            {
                "start": "0:00:05.090000",
                "end": "0:00:05.130000",
                "text": "که"
            },
            {
                "start": "0:00:05.230000",
                "end": "0:00:05.290000",
                "text": "می"
            },
            {
                "start": "0:00:05.410000",
                "end": "0:00:05.850000",
                "text": "گفت:"
            },
            {
                "start": "0:00:06.850000",
                "end": "0:00:07.250000",
                "text": "هرگز"
            },
            {
                "start": "0:00:07.410000",
                "end": "0:00:07.770000",
                "text": "کسی"
            },
            {
                "start": "0:00:08.110000",
                "end": "0:00:08.170000",
                "text": "به"
            },
            {
                "start": "0:00:08.370000",
                "end": "0:00:08.670000",
                "text": "جهل"
            },
            {
                "start": "0:00:08.890000",
                "end": "0:00:09.250000",
                "text": "خویش"
            },
            {
                "start": "0:00:09.430000",
                "end": "0:00:09.950000",
                "text": "اقرار"
            },
            {
                "start": "0:00:10.190000",
                "end": "0:00:10.690000",
                "text": "نکرده"
            },
            {
                "start": "0:00:10.770000",
                "end": "0:00:11.150000",
                "text": "است،"
            },
            {
                "start": "0:00:12.040000",
                "end": "0:00:12.360000",
                "text": "مگر"
            },
            {
                "start": "0:00:12.580000",
                "end": "0:00:12.740000",
                "text": "آن"
            },
            {
                "start": "0:00:12.920000",
                "end": "0:00:13.140000",
                "text": "کس"
            },
            {
                "start": "0:00:13.300000",
                "end": "0:00:13.360000",
                "text": "که"
            },
            {
                "start": "0:00:13.520000",
                "end": "0:00:13.680000",
                "text": "چون"
            },
            {
                "start": "0:00:13.920000",
                "end": "0:00:14.480000",
                "text": "دیگری"
            },
            {
                "start": "0:00:14.620000",
                "end": "0:00:14.720000",
                "text": "در"
            },
            {
                "start": "0:00:14.860000",
                "end": "0:00:15.180000",
                "text": "سخن"
            },
            {
                "start": "0:00:15.340000",
                "end": "0:00:15.840000",
                "text": "باشد"
            },
            {
                "start": "0:00:16.460000",
                "end": "0:00:19.500000",
                "text": "همچنان تمام ناگفته،"
            },
            {
                "start": "0:00:19.500000",
                "end": "0:00:19.840000",
                "text": "سخن"
            },
            {
                "start": "0:00:19.940000",
                "end": "0:00:20.360000",
                "text": "آغاز"
            },
            {
                "start": "0:00:20.500000",
                "end": "0:00:20.780000",
                "text": "کند."
            }
        ]
    }


## تبدیل پخش زندهٔ صدا به متن [/ws_api/transcribe_files/wav/sync/]

برای تبدیل صدای درحال‌پخش (زنده، لایو، استریم) باید از طریق وب‌سوکت به سامانه متصل شوید. در این حالت، پس از برقراری ارتباط با سرور باید فایل خود را در قالب wav به‌شکل باینری ارسال کنید.

`{"segment_id": 1, "text": "سازمان بهداشت جهانی", "start": "0:00:00", "end": "0:00:05"}`

اگر پردازش کامل نشده باشد، پاسخی به‌شکل زیر دریافت می‌کنید:

`{"state": "PENDING"}`

در انتها، برای اعلام پایان فرایند پردازش، باید متن `finalize` را به سرور ارسال کنید.

### مثال [POST]

+ Request (ws_api/transcribe_files/wav/sync/)
+ Response 200 (application/json)
    {"state":"PENDING"}

## تأیید هویت گوینده [/api/speaker_tasks/verification/]
هویت گوینده صدا را ارزیابی می‌کند. یک فایل صوتی و تعدادی نمونه‌صدا از یک شخص را دریافت می‌کند و بعد بررسی می‌کند گوینده فایل صوتی تا چه میزان مشابه گوینده‌ای است که نمونه‌صداهایش را داده‌ایم. میزان شباهت با عددی بین منهای یک تا مثبت یک مشخص می‌شود. اگر بیشتر از `0.65` باشد، مقدار فیلد `result` برابر `Verified` و اگر نه `Rejected` خواهد بود. شما می‌توانید این مقدار را نادیده بگیرید و با توجه به میزان مشابهت در فیلد `similarity`، از آستانه دلخواه خودتان استفاده کنید.

### مثال [POST]
+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_url: URL (string, required) - فایل صوتی‌ای که در آن یک شخص صحبت می‌کند. 
        - target_urls: URL (array[string], required) - نمونه‌صداهای یک شخص.
    + Body
        {
            "media_url": "https://api.ganjoor.net/api/audio/file/2121.mp3", 
            "target_urls": ["https://api.ganjoor.net/api/audio/file/2191.mp3","https://api.ganjoor.net/api/audio/file/2122.mp3"]
        }
+ Response 200 (application/json)
    
    [
        {
            "result": "Verified",
            "similarity": 0.9412897527217865
        }
    ]

## شناسایی هویت گوینده [/api/speaker_tasks/identification/]
هویت گوینده را شناسایی می‌کند. یک فایل صوتی و تعدادی نمونه‌صدا از اشخاص مختلف می‌گیرد و بعد تعیین می‌کند کدام شخص، محتمل‌ترین گوینده فایل صوتی است. میزان شباهت با عددی بین منهای یک و مثبت یک مشخص می‌شود. اگر بیشتر از `0.65` باشد، مقدار فیلد `result` برابر `Identified` و اگر نه `Unknown` خواهد بود. شما می‌توانید این مقدار را نادیده بگیرید و با توجه به میزان مشابهت در فیلد `similarity`، از آستانه دلخواه خودتان استفاده کنید.

### مثال [POST]
+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_url: URL (string, required) - فایل صوتی‌ای که در آن یک شخص صحبت می‌کند. 
        - target_urls: Object (required) - نمونه‌صداهایی از اشخاص مختلف.
    + Body
        {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3", 
            "target_urls": 
            {
                "spk1_name": ["https://api.ganjoor.net/api/audio/file/2191.mp3","https://api.ganjoor.net/api/audio/file/2122.mp3"], 
                "spk2_name": ["https://api.ganjoor.net/api/audio/file/18992.mp3"]
            }
        }
+ Response 200 (application/json)
    
    [
        {
            "result": "Identified",
            "most_similar_speaker": "spk1_name",
            "similarity": 0.67
        }
    ]

## تفکیک گوینده‌ها [/api/speaker_tasks/diarization/]
وینده‌های مختلف را در یک فایل صوتی تفکیک می‌کند. لیستی از فایل‌های صوتی را دریافت می‌کند. در هر فایل صوتی، افراد مختلفی صحبت می‌کنند. برای هر فایل صوتی، گوینده‌های مختلف را با تعیین زمان شروع، پایان و متن صحبت‌هایشان برمی‌گرداند. هویت گوینده‌ها مشخص نیست و صرفاً جهت بازشناختشان از هم با اسامی کلی مانند `speaker_1` و `speaker_2` نشانه‌گذاری می‌شوند.

### مثال [POST]
+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_urls: URL (array[string], required) - فایل‌های صوتی. 
    + Body
        {
            "media_urls": ["http://harf-dev.roshan-ai.ir/media/files/tmp/football360/football-360-eIMx3-10min.mp3"]
        }
+ Response 200 (application/json)
    
    [
        {
            "media_url": "http://harf-dev.roshan-ai.ir/media/files/tmp/football360/football-360-eIMx3-10min.wav",
            "segments": [
                {
                    "start": 0.0,
                    "end": 36.77,
                    "speaker": "speaker_3",
                    "text": "سلام علیکم، میرنگان عزیز فوتبال با سیصد و شصت همراهی همیشگی ما، خیلی خوشحالم که در خدمتتون هستیم، بعد از قهرمانی دوگانه پرسپولیس در لیگ و جام حذفی، فرصت ها و تاثیرگذار این فصل پرسپولیس، مهمان ما هستیم، باشون گپ و گفتی قرار بگیرم که، انشاءالله، به شما متوجه شده بودم، در این حد فاصله چند ساله، پرسپولیس رو دیده بودم."
                },
                {
                    "start": 37.4,
                    "end": 38.27,
                    "speaker": "speaker_3",
                    "text": "دیروز دیروز"
                },
                {
                    "start": 38.27,
                    "end": 39.52,
                    "speaker": "speaker_1",
                    "text": "این ارتباط بود که"
                },
                {
                    "start": 39.52,
                    "end": 46.85,
                    "speaker": "speaker_3",
                    "text": "آره، نه، ندیده بودیم دیگه، خیلی خوش اومدی از سنین از این باید شروع کنی؟"
                },
                {
                    "start": 48.12,
                    "end": 49.74,
                    "speaker": "speaker_0",
                    "text": "از من شروع کنین"
                },
                ...
            ]
        }
    ]

## برچسب‌گذاری گوینده‌ها [/api/speaker_tasks/indexing/]
گوینده‌های مختلف را در یک فایل صوتی، برچسب‌گذاری می‌کند. یک فایل صوتی را که در آن افراد مختلفی صحبت می‌کنند و نمونه‌صداهایی از اشخاص مختلف را می‌گیرد و بعد در خروجی مشخص می‌کند که هر قطعه‌ای از فایل صوتی که در آن یک نفر صحبت کرده، با احتمال قوی مربوط به کدام یک از اشخاصی است که نمونه‌صداهایش را داده‌ایم. برای هر قطعه‌ای از فایل صوتی که گوینده آن تشخیص داده شده، زمان شروع، زمان پایان، شخصی که به احتمال زیاد گوینده آن قطعه است و میزان شباهت و متن صحبت او برگردانده می‌شود.

### مثال [POST]
+ Request (application/json)
    + Headers
        Authorization: Token TOKEN_KEY
    + Attributes
        - media_url: URL (string, required) - فایل صوتی‌ای که در آن افراد مختلفی صحبت می‌کنند.
        - target_urls: Object (required) - نمونه‌صداهایی از اشخاص مختلف. 
    + Body
        {
            "media_url": "http://harf-dev.roshan-ai.ir/media/files/tmp/football360/football-360-eIMx3-10min.mp3", 
            "target_urls": 
            {
                "فردوسی‌پور": ["http://harf-dev.roshan-ai.ir/media/files/tmp/football360/ferdosipour-1r2pk.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/ferdosipour-E8B9f.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/ferdosipour-i7OLw.mp3"], 
                "بیرانوند": ["http://harf-dev.roshan-ai.ir/media/files/tmp/football360/beiranvand-HbdG1.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/beiranvand-U3Ejw.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/beiranvand-mkNGM.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/beiranvand-yStaX.mp3"], 
                "پورعلی‌گنجی": ["http://harf-dev.roshan-ai.ir/media/files/tmp/football360/pouraliganji-6Te95.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/pouraliganji-IvwsB.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/pouraliganji-footballi.mp3"], 
                "رفیعی": ["http://harf-dev.roshan-ai.ir/media/files/tmp/football360/rafiei-1gIzL.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/rafiei-PEHxk.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/rafiei-SzY9s.mp3","http://harf-dev.roshan-ai.ir/media/files/tmp/football360/rafiei-g7l1c.mp3"]
            }
        }
+ Response 200 (application/json)
    
    [
        {
            "start": 0.12,
            "end": 12.87,
            "result": "Identified",
            "most_similar_speaker": "فردوسی‌پور",
            "similarity": 0.86,
            "text": "سلام علیکم، بینندگان بازی فوتبال سیصد و شصت همراهان همیشگی ما، خیلی خوشحالم که در خدمتتون هستیم، بعد از قهرمانی دوگانه پرسپولیس در لیگ و جام حذفی فرصت و قناعت شمردیم سه تا از"
        },
        {
            "start": 13.38,
            "end": 35.31,
            "result": "Identified",
            "most_similar_speaker": "فردوسی‌پور",
            "similarity": 0.89,
            "text": "بازیگر کلیدی و تاثیرگذار این فصل پرسپولیس مهمان ما هستیم باشون گپ و گفتی خواهیم داشت که انشاالله به توجهتون قرار بگیرم از راست شروع کنم سوروش رفیع عزیز، علیزا بیران و مرثا پور علی کنجی که دارم براتون تنگ شده بود، مرثا رو یه بار دیده بودم تو این حد فاصله چند ساله سوروش ندیده بودم اصلا."
        },
        {
            "start": 35.55,
            "end": 36.81,
            "result": "Identified",
            "most_similar_speaker": "فردوسی‌پور",
            "similarity": 0.75,
            "text": "خیلی گرم است."
        },
        {
            "start": 37.89,
            "end": 45.87,
            "result": "Identified",
            "most_similar_speaker": "فردوسی‌پور",
            "similarity": 0.87,
            "text": "در ارتباط بودی؟ آره، نه، ندیده بودی دیگه، خیلی خوش اومدی از سنی از این مسابقه شروع کنی؟"
        },
        {
            "start": 46.53,
            "end": 48.45,
            "result": "unknown",
            "most_similar_speaker": "بیرانوند",
            "similarity": 0.51,
            "text": "هی"
        },
        {
            "start": 48.45,
            "end": 56.22,
            "result": "Identified",
            "most_similar_speaker": "رفیعی",
            "similarity": 0.81,
            "text": "از من شروع کن، درود، عرض ادب، خدمت شما، همه ی دوستان و"
        },
        {
            "start": 56.64,
            "end": 61.62,
            "result": "Identified",
            "most_similar_speaker": "رفیعی",
            "similarity": 0.8,
            "text": "بینندگان محترم برنامه تون، خیلی خوشحالم که بعد از مدتها دوباره می بینمتون"
        },
        ...
    ]


## بررسی وضعیت سلامت ای‌پی‌آی [/api/healthcheck/]

وضعیت سلامت ای‌پی‌آی را بررسی می‌کند. در صورتی که سالم باشد پاسخی با کد `۲۰۰` و متن `Server is up and ready` برمی‌گردد. 

### مثال [GET]

+ Request حرف (application/json)
    + Headers

            Authorization: Token {your_api_token}

+ Response 200 (application/json)
    + Body

            {
                "status": "ok",
                "message": "Server is up and ready"
            }
