
FORMAT: 1A
HOST: http://harf.roshan-ai.ir

# حرف

سامانه حرف با شنیدن هزاران ساعت گفتار با صدای افراد مختلف، زبان فارسی را یاد گرفته است و می‌تواند متن صحبت‌ها را بنویسد.

برای دسترسی به واسط برنامه‌نویس حرف نیاز به یک TOKEN_KEY معتبر دارید که برای احراز هویت استفاده می‌شود. لطفا برای آزمایش سامانه، این متغیر را در تقاضاهای نمونه، جای‌گذاری کنید. سوال هم اگر دارید، لطفا برای آدرس harf@roshan-ai.ir بنویسید.


## پیاده‌سازی متن فایل [/api/transcribe_files/]

این تابع، فایل‌های صدا یا ویدئو را دریافت می‌کند و متن آن‌ها را به صورت JSON باز می‌گرداند. خروجی ابزار تبدیل گفتار به متن، در قالب بازه‌های زمانی کوتاه ارائه می‌شود که متن هر کدام از این بازه‌ها مشخص شده است.


### نمونه ارسال با لینک [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes

        - media_urls: List of URLs (string, required) - لیست آدرس فایل‌های ورودی
        
    + Body

            {
              "media_urls": ["https://i.ganjoor.net/a2/41417.mp3"]
            }

+ Response 200 (application/json)

        [
          {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3",
            "duration": "0:00:44",
            "segments": [
              {
                "start": "0:00:00",
                "end": "0:00:02",
                "text": "حکایت"
              },
              {
                "start": "0:00:02",
                "end": "0:00:06",
                "text": "یکی را از حکما شنیدم که می گفت"
              },
              {
                "start": "0:00:06",
                "end": "0:00:11",
                "text": "هرگز کسی به جهل خویش اقرار نکرده است"
              },
              {
                "start": "0:00:11",
                "end": "0:00:16",
                "text": "مگر آن کس که چون دیگری در سخن باشد"
              },
              {
                "start": "0:00:16",
                "end": "0:00:21",
                "text": "همچنان ناتمام گفته سخن آغاز کند"
              },
              ...
            ]
          }
        ]

### نمونه ارسال مستقیم فایل [POST]

+ Request (multipart/form-data; boundary={boundary value})

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes

        - media: file in binary (string, required) - فایل سند ورودی
        
    + Body

            --{boundary value}
            Content-Disposition: form-data; name='document'; filename='FILE NAME'
            Content-Type: text/plain (according to the type of the uploaded file)

            {file content}
            --{boundary value}

+ Response 200 (application/json)

    [
      {
        "media_url": "http://harf.roshan-ai.ir/media/files/96/84/859267728361.mp3",
        "duration": "0:00:44",
        "segments": [
          {
            "start": "0:00:00",
            "end": "0:00:02",
            "text": "حکایت"
          },
          {
            "start": "0:00:02",
            "end": "0:00:06",
            "text": "یکی را از حکما شنیدم که می گفت"
          },
          {
            "start": "0:00:06",
            "end": "0:00:11",
            "text": "هرگز کسی به جهل خویش اقرار نکرده است"
          },
          {
            "start": "0:00:11",
            "end": "0:00:16",
            "text": "مگر آن کس که چون دیگری در سخن باشد"
          },
          {
            "start": "0:00:16",
            "end": "0:00:21",
            "text": "همچنان ناتمام گفته سخن آغاز کند"
          },
          ...
        ]
      }
    ]


## پیاده‌سازی متن فایل ناهمگام [/api/transcribe_files/]


در این بخش نحوه تحلیل فایل به صورت ناهمگام، توضیح داده شده است.


###  نمونه ارسال درخواست ناهمگام [POST]

پس از ارسال درخواست تحلیل ناهمگام، نتیجه تحلیل با استفاده از `task_ids` قابل پیگیری است. در صورتی که تحلیل فایل انجام شده باشد، تقاضای پیگیری با نتیجه تحلیل، پاسخ داده می‌شود و در غیر این صورت، وضعیت تحلیل در پاسخ قرار داده می‌شود.

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes

        - media_urls: List of URLs (string, required) - لیست آدرس فایل‌های ورودی
        - wait: true (boolean) - اگر این ویژگی فعال باشد، کاربر منتظر می‌ماند تا نتیجه تحلیل آماده شود؛ در غیر این صورت، تقاضای تحلیل دریافت می‌شود و کاربر با استفاده از واسط «وضعیت سند» از میزان پیشرفت تحلیل مطلع می‌شود. به این ترتیب پس از پایان پردازش، تقاضای جدیدی برای پردازش سند ارسال می‌شود و این بار تقاضا با نتیجه مناسب پاسخ داده می‌شود.
 
    + Body

            {
              "media_urls": ["https://i.ganjoor.net/a2/41417.mp3"],
              "wait": false
            }

+ Response 200 (application/json)

        {
          "state":"PENDING",
          "task_ids":["..."]
        }



### نمونه دریافت پاسخ درخواست ناهمگام [POST]

در صورتی که فایل هنوز در حال پردازش باشد، وضعیت `PENDING` به عنوان پاسخ باز می‌گردد. اگر در تحلیل فایل مشکلی پیش آماده باشد وضعیت `FAILURE` گزارش می‌شود و اگر تحلیل فایل بیش از مقدار تعیین شده برای حداکثر زمان تحلیل (در تنظیمات داخلی سیستم) طول بکشد، وضعیت `TIMEOUT` اعلام می‌شود.

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - media_urls: List of URLs (string, required) - لیست آدرس فایل‌های ورودی
        - wait: true (boolean) - اگر این ویژگی فعال باشد، کاربر منتظر می‌ماند تا نتیجه تحلیل آماده شود؛ در غیر این صورت، تقاضای تحلیل دریافت می‌شود و کاربر با استفاده از واسط «وضعیت سند» از میزان پیشرفت تحلیل مطلع می‌شود. به این ترتیب پس از پایان پردازش، تقاضای جدیدی برای پردازش سند ارسال می‌شود و این بار تقاضا با نتیجه مناسب پاسخ داده می‌شود.
 
    + Body

            {
              "tasks_ids": ["..."],
              "wait": false
            }

+ Response 200 (application/json)

        [
          {
            "media_url": "https://i.ganjoor.net/a2/41417.mp3",
            "duration": "0:00:44",
            "segments": [
              {
                "start": "0:00:00",
                "end": "0:00:02",
                "text": "حکایت"
              },
              {
                "start": "0:00:02",
                "end": "0:00:06",
                "text": "یکی را از حکما شنیدم که می گفت"
              },
              {
                "start": "0:00:06",
                "end": "0:00:11",
                "text": "هرگز کسی به جهل خویش اقرار نکرده است"
              },
              {
                "start": "0:00:11",
                "end": "0:00:16",
                "text": "مگر آن کس که چون دیگری در سخن باشد"
              },
              {
                "start": "0:00:16",
                "end": "0:00:21",
                "text": "همچنان ناتمام گفته سخن آغاز کند"
              },
              ...
            ]
          }
        ]

+ Request Pending (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Attributes
        - task_ids: List of task ids (string, required) - لیست شناسه درخواست‌ها
        - wait: true (boolean) - اگر این ویژگی فعال باشد، کاربر منتظر می‌ماند تا نتیجه تحلیل آماده شود؛ در غیر این صورت، تقاضای تحلیل دریافت می‌شود و کاربر با استفاده از واسط «وضعیت سند» از میزان پیشرفت تحلیل مطلع می‌شود. به این ترتیب پس از پایان پردازش، تقاضای جدیدی برای پردازش سند ارسال می‌شود و این بار تقاضا با نتیجه مناسب پاسخ داده می‌شود.
 
    + Body

            {
              "tasks_ids": ["..."],
              "wait": false
            }

+ Response 200 (application/json)

        {"state":"PENDING"}


## پیاده‌سازی متن فایل در جریان [/ws_api/transcribe_files/wav/sync/]

برای پیاده‌سازی متن فایل در جریان، نیاز به برقراری ارتباط از طریق WebSocket است. به این ترتیب پس از برقراری ارتباط، فایل در قالب wav به صورت باینری برای سرور ارسال می‌شود.

{"segment_id": 1, "text": "سازمان بهداشت جهانی", "start": "0:00:00", "end": "0:00:05"}


در صورت آماده نبودن جواب پاسخ در قالب زیر ارسال میشود.

{"state": "PENDING"}

در انتها برای سرور متن "finalize" .به منظور انتهای فرآیند برای سرور ارسال میشود و آخرین نتیجه تحلیل ارسال میشود.
