FORMAT: 1A
HOST: https://chat.replai.ir/api

# ریپلای
ریپلای یک دستیار گفتگوی هوشمند است که به‌عنوان پشتیبان آنلاین، پیام‌های کاربران را دریافت و با تحلیل دقیق آن‌ها، پاسخ‌های مناسب ارائه می‌دهد. در نسخه دمو، می‌توانید محیط تست اختصاصی خود را ایجاد کنید، آن را به دلخواه شخصی‌سازی کنید و از طریق رابط کاربری گرافیکی یا API عملکرد آن را ارزیابی نمایید. دسترسی به این قابلیت‌ها مستلزم دریافت نام کاربری، گذرواژه یا کلید اتصال از تیم فروش روشن است.
## ورود [/token-auth]

ابتدا نام کاربری و رمز عبوری که در اختیار شما قرار گرفته را در قالب یک درخواست post ارسال کنید تا بتوانید توکن اتصال دریافت کنید. این توکن در تمام درخواست‌های شما بایستی در هیدر آن  درخواست وجود داشته باشد.

### دریافت توکن [POST]

+ Request (application/json)

    {
        "username":"*******",
        "password":"*******"
    }

+ Response 200 (application/json)

    {
        "token": "***********************************",
        "first_name": '*********************',
        "last_name": '**********************'
    }


## فضاهای کاری [/workspaces]

فضای کاری یک محیط ایزوله برای گفتگو با چت‌بات در یک موضوع مشخص است. هر فضای کاری می‌تواند به روش متفاوتی پیاده‌سازی شده باشد، می‌تواند داده‌های متفاوتی داشته باشد، عنوان، تصویر و نمونه پیام‌های متفاوتی داشته باشد.

### لیست فضاهای کاری [GET]

+ Request (application/json)

    + Headers
        Authorization: Token ***********************************

+ Response 200 (application/json)

    [
        {
            "id": 57,
            "title": "pouyanbroker2",
            "version": "1.0.0",
            "image": null,
            "samples": []
        },
        {
            "id": 36,
            "title": "سیب اپ",
            "version": "0.0.0.1",
            "image": null,
            "samples": []
        },
        {
            "id": 8,
            "title": "بیمه سامان",
            "version": "0.0.0.1",
            "image": null,
            "samples": [
                {
                    "text": "خرید بیمه تکمیلی بدون بیمه پایه امکان پذیر است؟"
                },
                {
                    "text": "آيا دستگاه تست قند خون،سوزن و نوار آن پرداخت ميشود؟"
                },
                {
                    "text": "آيا هزينه هاي مربوط به آزمايشات و سونوگرافي هاي دوران بارداري در بيمه نامه درمان انفرادي پرداخت مي شود؟"
                },
                {
                    "text": "آیا آستیگمات،دوربینی،نزدیک بینی یا جمع قدر مطلق نقص بینایی هر چشم تحت پوشش است؟"
                }
            ]
        }
    ]


## چت‌های یک فضای کاری [/workspaces/{workspace_id}/chats]

هر چت یک جلسه گفتگو بین کاربر و چت‌بات است. یک فضای کاری می‌تواند چندین جلسه چت داشته باشد. چت‌های هر روز در تاریخ همان روز دسته‌بندی می‌شوند.

+ Parameters

    + workspace_id: `1` (number) - شناسه فضای کاری

### لیست همه چت‌ها [GET]

+ Response 200 (application/json)

    [
        {
            "date": "2024-09-14",
            "chats": [
                {
                    "id": 3650,
                    "title": "چه کاری انجام میدهی"
                },
                {
                    "id": 3649,
                    "title": "سلام"
                }
            ]
        },
        {
            "date": "2024-09-07",
            "chats":[
                {
                    "id": 3524,
                    "title": "کدام بانک ها ارز اربعین می‌دهند؟"
                }
            ]
        }
    ]

### ساخت یک چت جدید [POST]

+ Request (application/json)
    
    {
        "text":"کدام بانک ها ارز اربعین می‌دهند؟"
    }

+ Response 200 (application/json)

    {
        "chat_id": 4153,
        "reply": " با مراجعه به شعب منتخب 7 بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه، می‌توانید ارز اربعین را دریافت کنید.",
        "message_id": 29292,
        "suggestions": [
            "ارز اربعین چقدر است و از کدام بانک‌ها می‌توان تهیه کرد؟",
            "چقدر ارز اربعین می‌دهند؟"
        ]
    }

### حذف همه چت‌ها [DELETE]

+ Response 200 (No Contect)

## پیام‌های یک چت [/chats/{chat_id}/messages]
هر چت می‌تواند شامل چندین پیام باشد که بین کاربر و چت‌بات مبادله می‌شود. هر یک از این پیام‌ها شناسه و جزئیات خاص خود را دارد.

+ Parameters
    + chat_id: 1 (number) - شناسه چت

### لیست همه پیام‌ها [GET]

+ Response 200 (application/json)

    [
        {
            "id": 27073,
            "content": "لینک خرید ارز اربعین در روبیکا چیست؟",
            "audio": null,
            "message_answer": "برای خرید ارز اربعین از طریق اپلیکیشن روبیکا، می‌توانید به لینک زیر مراجعه کنید:\n\nhttps://go.rubika.ir/arbaeen1",
            "like": null,
            "created": "2024-09-07T07:48:53.094209Z"
        },
        {
            "id": 27072,
            "content": "کدام بانک ها ارز اربعین می‌دهند؟",
            "audio": null,
            "message_answer": " با مراجعه به شعب منتخب 7 بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه، می‌توانید ارز اربعین را دریافت کنید.",
            "like": null,
            "created": "2024-09-07T07:48:47.646516Z"
        }
    ]

### ساخت یک پیام جدید [POST]

+ Request (application/json)

    {
        text: "کدام بانک ها ارز اربعین می‌دهند؟"
    }

+ Response 200 (application/json)

    {
        "message_id": 29293,
        "reply": " با مراجعه به شعب منتخب 7 بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه، می‌توانید ارز اربعین را دریافت کنید.",
        "suggestions": [
            "ارز اربعین چقدر است و از کدام بانک‌ها می‌توان تهیه کرد؟",
            "چقدر ارز اربعین می‌دهند؟"
        ]
    }

## لایک و دیسلایک پیام [/chats/messages/{message_id}/like]
برای لایک کردن مقدار `true` را ارسال کنید و برای دیسلایک کردن مقدار `null` را ارسال کنید.

+ Parameters

    + message_id: `1` (number) - شناسه پیام

### لایک یا دیسلایک کردن [PUT]

+ Request (application/json)    
    {
        "like": true
    }

+ Response 200 (application/json)

    {
        "content":"thank you for your feedback"
    }

## سوالات پایگاه دانش یک فضای کاری [/knowledge/{workspace_id}/messages{?page,search,order,rate,suggest}]
پایگاه دانش، جایی که می‌توانید تمام سوالات کاربران و پاسخ‌های ارائه شده از سوی چت‌بات را ببینید.

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.
    + page: `1` (integer, optional) - شماره صفحه برای پیمایش پیام‌ها.
    + search: `chatbot` (string, optional) - عبارت جستجو برای فیلتر کردن پیام‌ها.
    + order: `-id` (string, optional) - ترتیب چینش سوالات بر اساس شناسه.
        + Members
            + `-id` - مرتب‌سازی نزولی بر اساس شناسه.
            + `+id` - مرتب‌سازی صعودی بر اساس شناسه.
    + rate: `true` (boolean, optional) - فیلتر سوالات بر اساس اینکه امتیازدهی شده یا نه.
            + true - سوالاتی که امتیازدهی شده‌اند.
            + false - سوالاتی که امتیازدهی نشده‌اند.
    + suggest: `true` (boolean, optional) - فیلتر سوالات بر اساس اینکه جزو سوالات پیشنهادی است یا نه.
        + true - سوال پیشنهادی است.
        + false - سوال پیشنهادی نیست.

### لیست همه سوال و جواب‌ها [GET]

+ Response 200 (application/json)

        {
            "count": 3009,
            "next": "http://chat.replai.ir/api/knowledge/41/messages/?order=-id&page=2&search=",
            "previous": null,
            "results": [
                {
                    "id": 12607,
                    "question": "امنیت کشور عراق موقع پیاده‌روی اربعین چگونه است؟",
                    "answer": "امنیت کشور عراق در طول پیاده‌روی اربعین به طور کلی مناسب است. تدابیر امنیتی ویژه‌ای برای حفاظت از زائران در نظر گرفته شده و نیروهای امنیتی و امدادی در طول مسیر حضور دارند تا امنیت و رفاه زائران را تضمین کنند. احتمال حمله تروریستی در این ایام بسیار کم است.",
                    "rated": false,
                    "suggested": false,
                    "citation": 0,
                    "references": [
                        "امنیت کشور عراق موقع پیاده روی چکونه است"
                    ]
                },
                {
                    "id": 12606,
                    "question": "موقع پیاده روی اربعین چه ساعتی بهتر است؟",
                    "answer": "بهترین ساعت برای پیاده‌روی اربعین، غروب آفتاب تا نماز صبح است، زیرا در این ساعات خنکی بیشتری وجود دارد.",
                    "rated": false,
                    "suggested": false,
                    "citation": 0,
                    "references": [
                        "موقع پیاده روی چه ساعتی بهتراست"
                    ]
                },
            ]
        }

### اضافه کردن سوال و جواب جدید [POST]

+ Request (application/json)

    {
        "question":"سوال نمونه",
        "answer":"جواب نمونه",
        "workspace":41
    }

+ Response 200 (application/json)

    {
        "id": 13306,
        "question": "سوال نمونه",
        "answer": "جواب نمونه",
        "rated": false,
        "suggested": false,
        "citation": 0,
        "references": []
    }

## اصلاح یک سوال و جواب [/knowledge/{workspace_id}/messages/{message_id}]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.
    + message_id: `2` (string, required) - شناسه پیام

### اصلاح سوال [PUT]

+ Request (application/json)

    {
        "question":"ارز اربعین چه قدر است و از کدام بانک‌ها می‌توان تهیه کرد؟",
        "answer":"برای هر زائر اربعین ۲۰۰ هزار دینار عراق به عنوان ارز اربعین ۱۴۰۳ اختصاص یافته است. بر اساس ابلاغ بانک مرکزی، زائران اربعین می‌توانند با مراجعه به شعب منتخب ۷ بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه از تاریخ هفتم مرداد ۱۴۰۳ تا پایان روز سوم شهریور ۱۴۰۳، ارز مسافرتی اربعین را برای سفر به کربلا دریافت کنند. برای دریافت ارز اربعین، ثبت نام و دریافت کد رهگیری سامانه سماح ضروری است. این کد رهگیری برای ثبت نام در سامانه‌های اینترنتی بانک های مختلف مورد نیاز است. ",
        "suggest":true
    }

+ Response 200 (application/json)

    {"detail":"ok"}

    
### حذف سوال [DELETE]

+ Response 200
    + Body

## آپلود سوال و جواب‌ها در قالب یک CSV به فایل پایگاه دانش [/workspaces/{workspace_id}/upload-qa-csv/]
در این حالت می‌توانید تمام سوال و جواب‌ها را از قبل در یک فایل CSV آماده کنید و با آپلود کردن آن تمام داده‌های پایگاه دانش را به صورت دسته‌ای وارد کنید. فایل CSV باید یک ستون question و یک ستون answer داشته باشد.

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.

### آپلود فایل سوال و جواب‌ها [POST]

+ Request (text/csv)

+ Response 200
    {}
