FORMAT: 1A
HOST: https://chat.replai.ir/api

# Repli
ریپلای یک دستیار گفتگوی هوشمند است که به‌عنوان پشتیبانی آنلاین، پیام‌های کاربران را دریافت کرده و با تحلیل آن‌ها، پاسخ مناسب را ارسال می‌کند. در نسخه دمو، کاربران می‌توانند فضای تست خود را ایجاد، شخصی‌سازی و از طریق رابط گرافیکی یا API ارزیابی کنند. دسترسی به این امکانات نیازمند دریافت نام کاربری، گذرواژه یا کلید اتصال از تیم فروش روشن است.

# ورود [/token-auth]

## دریافت توکن [POST]

+ Request

    {
        "username":"*******",
        "password":"*******"
    }

+ Response 200

    {
        "token": "***********************************",
        "first_name": '*********************',
        "last_name": '**********************'
    }


# فضاهای کاری [/workspaces]

فضای کاری یک محیط ایزوله برای گفتگو با چت‌بات در یک موضوع مشخص است. هر فضای کاری می‌تواند به روش متفاوتی پیاده‌سازی شده باشد. می‌تواند داده‌های متفاوتی داشته باشد. می‌تواند عنوان متفاوت، نمونه سوالات متفاوت و تصویر متفاوتی داشته باشد.

## لیست فضاهای کاری [GET]

+ Request

    + Headers
        Authorization: Token abc123XYZ456sampleToken789

+ Response 200

    [
        {
            "id": 57,
            "title": "pouyanbroker2",
            "version": "1.0.0",
            "image": null,
            "samples": []
        },
        {
            "id": 36,
            "title": "سیب اپ",
            "version": "0.0.0.1",
            "image": null,
            "samples": []
        },
        {
            "id": 8,
            "title": "بیمه سامان",
            "version": "0.0.0.1",
            "image": null,
            "samples": [
                {
                    "text": "خرید بیمه تکمیلی بدون بیمه پایه امکان پذیر است؟"
                },
                {
                    "text": "آيا دستگاه تست قند خون،سوزن و نوار آن پرداخت ميشود؟"
                },
                {
                    "text": "آيا هزينه هاي مربوط به آزمايشات و سونوگرافي هاي دوران بارداري در بيمه نامه درمان انفرادي پرداخت مي شود؟"
                },
                {
                    "text": "آیا آستیگمات،دوربینی،نزدیک بینی یا جمع قدر مطلق نقص بینایی هر چشم تحت پوشش است؟"
                }
            ]
        }
    ]


# چت‌های یک فضای کاری [/workspaces/{workspace_id}/chats]

هر چت یک جلسه گفتگو بین کاربر و چت‌بات است. یک فضای کاری می‌تواند چندین جلسه چت داشته باشد. چت‌ها هر روز در تاریخ همان روز دسته‌بندی می‌شوند.

+ Parameters

    + workspace_id: `1` (number) - شناسه فضای کاری

## لیست همه چت‌ها [GET]

+ Response 200

    [
        {
            "date": "2024-09-14",
            "chats": [
                {
                    "id": 3650,
                    "title": "چه کاری انجام میدهی"
                },
                {
                    "id": 3649,
                    "title": "سلام"
                }
            ]
        },
        {
            "date": "2024-09-07",
            "chats":[
                {
                    "id": 3524,
                    "title": "کدام بانک ها ارز اربعین می‌دهند؟"
                }
            ]
        }
    ]

## ساخت یک چت جدید [POST]

+ Request        
    
    {
        "text":"کدام بانک ها ارز اربعین می‌دهند؟"
    }

+ Response 200

    {
        "chat_id": 4153,
        "reply": " با مراجعه به شعب منتخب 7 بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه، می‌توانید ارز اربعین را دریافت کنید.",
        "message_id": 29292,
        "suggestions": [
            "ارز اربعین چقدر است و از کدام بانک‌ها می‌توان تهیه کرد؟",
            "چقدر ارز اربعین می‌دهند؟"
        ]
    }

## حذف همه چت‌ها [DELETE]

+ Response 200

# پیام‌های یک چت [/chats/{chat_id}/messages]

+ Parameters
    + chat_id: 1 (number) - شناسه چت

## لیست همه پیام‌ها [GET]

+ Response 200

    [
        {
            "id": 27073,
            "content": "لینک خرید ارز اربعین در روبیکا چیست؟",
            "audio": null,
            "message_answer": "برای خرید ارز اربعین از طریق اپلیکیشن روبیکا، می‌توانید به لینک زیر مراجعه کنید:\n\nhttps://go.rubika.ir/arbaeen1",
            "like": null,
            "created": "2024-09-07T07:48:53.094209Z"
        },
        {
            "id": 27072,
            "content": "کدام بانک ها ارز اربعین می‌دهند؟",
            "audio": null,
            "message_answer": " با مراجعه به شعب منتخب 7 بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه، می‌توانید ارز اربعین را دریافت کنید.",
            "like": null,
            "created": "2024-09-07T07:48:47.646516Z"
        }
    ]

## ساخت یک پیام جدید [POST]

+ Request

    {
        text: "کدام بانک ها ارز اربعین می‌دهند؟"
    }

+ Response 200

    {
        "message_id": 29293,
        "reply": " با مراجعه به شعب منتخب 7 بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه، می‌توانید ارز اربعین را دریافت کنید.",
        "suggestions": [
            "ارز اربعین چقدر است و از کدام بانک‌ها می‌توان تهیه کرد؟",
            "چقدر ارز اربعین می‌دهند؟"
        ]
    }

# لایک و دیسلایک کردم یک پیام [/chats/messages/{message_id}/like]

+ Parameters

    + message_id: `1` (number) - شناسه پیام

## لایک کردن [PUT]

+ Body
    
    {
        "like": true
    }

+ Response 200

    {
        "content":"thank you for your feedback"
    }

## دیسلایک کردن [PUT]

+ Body
    
    {
        "like": null
    }

+ Response 200
    
    {
        "content":"thank you for your feedback"
    }

# سوالات پایگاه دانش یک فضای کاری [/knowledge/{workspace_id}/messages{?page,search,order,rate,suggest}]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.

## لیست همه سوالات [GET]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.
    + page: `1` (number, optional) - شماره صفحه مورد نظر. Default is `1`.
    + search: `""` (string, optional) - متن مورد جستجو. Default is an empty string.
    + order: `-id` (string, optional) - ترتیب چینش سوالات. Default is `-id`.
    + rate: `true` (boolean, optional) - فیلتر سوالات کلیدی.
    + suggest: `true` (boolean, optional) - فیلتر سوالات اصلاح شده.

+ Response 200

        {
            "count": 3009,
            "next": "http://chat.replai.ir/api/knowledge/41/messages/?order=-id&page=2&search=",
            "previous": null,
            "results": [
                {
                    "id": 12607,
                    "question": "امنیت کشور عراق موقع پیاده‌روی اربعین چگونه است؟",
                    "answer": "امنیت کشور عراق در طول پیاده‌روی اربعین به طور کلی مناسب است. تدابیر امنیتی ویژه‌ای برای حفاظت از زائران در نظر گرفته شده و نیروهای امنیتی و امدادی در طول مسیر حضور دارند تا امنیت و رفاه زائران را تضمین کنند. احتمال حمله تروریستی در این ایام بسیار کم است.",
                    "rated": false,
                    "suggested": false,
                    "citation": 0,
                    "references": [
                        "امنیت کشور عراق موقع پیاده روی چکونه است"
                    ]
                },
                {
                    "id": 12606,
                    "question": "موقع پیاده روی اربعین چه ساعتی بهتر است؟",
                    "answer": "بهترین ساعت برای پیاده‌روی اربعین، غروب آفتاب تا نماز صبح است، زیرا در این ساعات خنکی بیشتری وجود دارد.",
                    "rated": false,
                    "suggested": false,
                    "citation": 0,
                    "references": [
                        "موقع پیاده روی چه ساعتی بهتراست"
                    ]
                },
            ]
        }

## اضافه کردن سوال [POST]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.

+ Request

    {
        "question":"سوال تستی",
        "answer":"جواب تستی",
        "workspace":41
    }

+ Response 200

    {
        "id": 13306,
        "question": "سوال تستی",
        "answer": "جواب تستی",
        "rated": false,
        "suggested": false,
        "citation": 0,
        "references": []
    }

## اصطلاح سوال [PUT]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.
    + question_id: `1` (number, required) - شناسه سوال

+ Request

    {
        "question":"ارز اربعین چه قدر است و از کدام بانک‌ها می‌توان تهیه کرد؟",
        "answer":"برای هر زائر اربعین ۲۰۰ هزار دینار عراق به عنوان ارز اربعین ۱۴۰۳ اختصاص یافته است. بر اساس ابلاغ بانک مرکزی، زائران اربعین می‌توانند با مراجعه به شعب منتخب ۷ بانک ملی، تجارت، صادرات، ملت، پست بانک، پارسیان و سپه از تاریخ هفتم مرداد ۱۴۰۳ تا پایان روز سوم شهریور ۱۴۰۳، ارز مسافرتی اربعین را برای سفر به کربلا دریافت کنند. برای دریافت ارز اربعین، ثبت نام و دریافت کد رهگیری سامانه سماح ضروری است. این کد رهگیری برای ثبت نام در سامانه‌های اینترنتی بانک های مختلف مورد نیاز است. ",
        "suggest":true
    }

+ Response 200 (application/json)

    {"detail":"ok"}

    
## حذف سوال [DELETE]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.
    + question_id: `1` (number, required) - شناسه سوال

+ Response 200

# آپلود csv به یک فضای کاری [/workspaces/{workspace_id}/upload-qa-csv/]

+ Parameters

    + workspace_id: `12345` (string, required) - شناسه فضای کاری.

## آپلود فایل سوال و جواب‌ها [POST]

+ Request (text/csv)

+ Response 200